In [1]:
#import modules
import pandas as pd
import numpy as np
from datetime import datetime
#See max columns in a dataframe
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
# Load the old dataset
# Read the CSV file with specified data types and skipped first 4 rows
old_df = pd.read_csv("data/southern_dallas_progress_export_20230906.csv")
old_df.head(2)

,Parcel ID,Adddress,Owner,Is Vacant Property,Property Type,Current Use,Year Built,Average Year Built By Council District,Owner Location,Owner Property Count,Public Owner,City or County Owned,Owner is Business,Owner Occupied,Suspected Heir Property,Bank Owned Property,Taxes Delinquent Since,Delinquent Taxes,Is Tax Delinquent,Code Liens - Count,Code Liens - Amount,Zip Code,Zoning,Council District,Vacant Since,Land Size,Unnamed: 26,Unnamed: 27
0,100561000000,"1109 WOOD ST, DALLAS, TX",BUNTING PARTNERS LP,Yes,Land,C12 - COMMERCIAL - VACANT PLOTTED LOTS/TRACTS ...,0.0,1956.0,In City,20,NaN,No,Yes,No,No,No,NaN,NaN,No,NaN,NaN,75202,Central Area - CA-1(A)-Central Area,District 14,2022-04-01,0.124653,NaN,NaN
1,101971000000,"1908 ELM ST, DALLAS, TX",JARVIS BARNEY W JR TR & MARY LOU TR,Yes,Structure,C12 - COMMERCIAL - VACANT PLOTTED LOTS/TRACTS ...,0.0,1956.0,In City,1,NaN,No,No,Unknown,No,No,NaN,NaN,No,NaN,NaN,75201,Other - PD-619,District 14,2023-06-01,0.122321,NaN,NaN

In [3]:
# Load the new dataset

file_path = 'data/southern_dallas_progress_export_09102024.csv'
new_df = pd.read_csv(file_path)
new_df.head(2)

,Parcel ID,Address,Owner,Is Vacant Property,Property Type,Current Use,Year Built,Average Year Built By Council District,Owner Is Business,Owner Occupied,Suspected Heir Property,Taxes Delinquent Since,Delinquent Taxes,Is Tax Delinquent,Code Liens - Count,Code Liens - Amount,Zip Code,Zoning,Council Districts,Land Size,USPS Vacant Since,Owner Location,Owner Property Count,Owner Public Name,Owner Is Public,Is Bank Owned
0,00000100051000000,"400 MAIN ST, DALLAS, TX",NaN,Yes,Land,C12 - COMMERCIAL - VACANT PLOTTED LOTS/TRACTS ...,0.0,1926.0,Unknown,Unknown,No,NaN,NaN,No,NaN,NaN,75202.0,Central Area - CA-1(A)-Central Area,District 2,0.918490,7/1/22,NaN,NaN,NaN,No,No
1,00000100561000000,"1109 WOOD ST, DALLAS, TX",BUNTING PARTNERS LP,Yes,Land,C12 - COMMERCIAL - VACANT PLOTTED LOTS/TRACTS ...,0.0,1958.0,Yes,No,No,NaN,NaN,No,NaN,NaN,75202.0,Central Area - CA-1(A)-Central Area,District 14,0.124653,NaN,In MSA,20.0,NaN,No,No

In [4]:
# Use list comprehension to check that the columns are the same in both dataframes
print([col for col in new_df.columns if col not in old_df.columns])
print([col for col in old_df.columns if col not in new_df.columns])

['Address', 'Owner Is Business', 'Council Districts', 'USPS Vacant Since', 'Owner Public Name', 'Owner Is Public', 'Is Bank Owned']
['Adddress', 'Public Owner', 'City or County Owned', 'Owner is Business', 'Bank Owned Property', 'Council District', 'Vacant Since', 'Unnamed: 26', 'Unnamed: 27']

In [5]:
print(new_df.columns)

Index(['Parcel ID', 'Address', 'Owner', 'Is Vacant Property', 'Property Type',
       'Current Use', 'Year Built', 'Average Year Built By Council District',
       'Owner Is Business', 'Owner Occupied', 'Suspected Heir Property',
       'Taxes Delinquent Since', 'Delinquent Taxes', 'Is Tax Delinquent',
       'Code Liens - Count', 'Code Liens - Amount', 'Zip Code', 'Zoning',
       'Council Districts', 'Land Size', 'USPS Vacant Since', 'Owner Location',
       'Owner Property Count', 'Owner Public Name', 'Owner Is Public',
       'Is Bank Owned'],
      dtype='object')

In [6]:
# Value counts in the new_df 'Owner Public Name' field, including NaN
new_df['Owner Public Name'].value_counts(dropna=False)

NaN                            46328
City                            2744
Railway                          263
University                        83
County                            33
Transportation Department         28
City Community Development        25
Housing Authority                 24
College                           18
University Board of Regents       18
Other Schools                     16
US Postal Service                 12
US Government                     12
City Parks                         7
Turnpike Authority                 5
River Authority                    4
County Flood Control               4
City and County                    4
Charter School                     3
City Development                   3
City Real Estate                   1
FHLMC (Freddie Mac)                1
FNMA (Fannie Mae)                  1
City Finance                       1
Name: Owner Public Name, dtype: int64

In [7]:
# In new_df, add a new field called 'City or County Owned' that is False if 'Owner Public Name' is NaN, True otherwise
new_df['City or County Owned'] = new_df['Owner Public Name'].notnull()

Missing fields: 'Owner Location', 'Owner Property Count', 'Public Owner', 'City or County Owned', 'Bank Owned Property'

Requested new file export from Tolemi

In [8]:
# Missing fields: 'Owner Location', 'Owner Property Count', 'Public Owner','City or County Owned' , 'Bank Owned Property'


# In df, rename the following: 'Owner Is Business' to 'Owner is Business'; 'Council Districts' to 'Council District'; 

vacant_lots_df = new_df.rename(columns={'Owner Is Business': 'Owner is Business', 
                       'Council Districts': 'Council District', 
                       'Owner Is Public': 'Public Owner',
                       'Is Bank Owned': 'Bank Owned Property',
                       'USPS Vacant Since': 'Vacant Since'}
                       )
vacant_lots_df.head(2)

,Parcel ID,Address,Owner,Is Vacant Property,Property Type,Current Use,Year Built,Average Year Built By Council District,Owner is Business,Owner Occupied,Suspected Heir Property,Taxes Delinquent Since,Delinquent Taxes,Is Tax Delinquent,Code Liens - Count,Code Liens - Amount,Zip Code,Zoning,Council District,Land Size,Vacant Since,Owner Location,Owner Property Count,Owner Public Name,Public Owner,Bank Owned Property,City or County Owned
0,00000100051000000,"400 MAIN ST, DALLAS, TX",NaN,Yes,Land,C12 - COMMERCIAL - VACANT PLOTTED LOTS/TRACTS ...,0.0,1926.0,Unknown,Unknown,No,NaN,NaN,No,NaN,NaN,75202.0,Central Area - CA-1(A)-Central Area,District 2,0.918490,7/1/22,NaN,NaN,NaN,No,No,False
1,00000100561000000,"1109 WOOD ST, DALLAS, TX",BUNTING PARTNERS LP,Yes,Land,C12 - COMMERCIAL - VACANT PLOTTED LOTS/TRACTS ...,0.0,1958.0,Yes,No,No,NaN,NaN,No,NaN,NaN,75202.0,Central Area - CA-1(A)-Central Area,District 14,0.124653,NaN,In MSA,20.0,NaN,No,No,False

In [9]:
# Use list comprehension to check that the columns are the same in both dataframes
print([col for col in vacant_lots_df.columns if col not in old_df.columns])
print([col for col in old_df.columns if col not in vacant_lots_df.columns])

['Address', 'Owner Public Name']
['Adddress', 'Unnamed: 26', 'Unnamed: 27']

In [10]:
#To see the rows before dropping duplicates
vacant_lots_df.shape

(49638, 27)

In [11]:
# Remove duplicates based on all columns
vacant_lots_df = vacant_lots_df.drop_duplicates(subset=['Parcel ID'])

In [12]:
# For vacant_lots_df['Council District'], extract the Council District Number. Example: 'District 1' -> 1
vacant_lots_df['Council District Number'] = vacant_lots_df['Council District'].str.extract('(\d+)')

# Convert Council District Number so that single digit districts have a leading zero
vacant_lots_df['Council District Number'] = vacant_lots_df['Council District Number'].str.zfill(2)

# Unique values in 'Council District Number'
vacant_lots_df['Council District Number'].unique()

# Set Council District to 'District' + 'Council District Number'
vacant_lots_df['Council District'] = 'District ' + vacant_lots_df['Council District Number']

# Value counts of 'Council District'
vacant_lots_df['Council District'].value_counts(sort=False)

District 02    4194
District 14    2183
District 01    2174
District 06    6633
District 07    6879
District 04    6032
District 09    1390
District 13    2136
District 11    1014
District 05    2543
District 08    5477
District 03    2539
District 10    1078
District 12     412
Name: Council District, dtype: int64

In [13]:
#Rows after duplicates have been dropped
vacant_lots_df.shape

(44715, 28)

In [14]:
# Recode 0 as NA in the "Year Built" column
vacant_lots_df['Year Built'] = np.where(vacant_lots_df['Year Built'] == 0, np.nan, vacant_lots_df['Year Built'])

In [15]:
#Creates field Property Age Years in df

#Assign a variable to the current year
current_year = datetime.now().year
print(current_year)

# Calculate "Property Age Years" as the difference between current year and Year Built
vacant_lots_df['Property Age Years'] = current_year - vacant_lots_df['Year Built']

# Assign the calculated columns to variables for potential future use
property_age_years = vacant_lots_df['Property Age Years']

2024

In [16]:
#Creates field Vacancy Days in df

# Convert today's date to a Timestamp object
today = pd.Timestamp(datetime.today().date())

reference_date = pd.Timestamp('2024-09-10')
# reference_date = today

# Convert the 'Vacant Since' column to a Datetime column 
vacant_lots_df['Vacant Since'] = pd.to_datetime(vacant_lots_df['Vacant Since'])

# Calculate "Vacancy Days" as the difference between reference date and "Vacant Since" date
vacant_lots_df['Vacancy Days'] = (reference_date - vacant_lots_df['Vacant Since']).dt.days

# Assign the calculated columns to variables for potential future use
vacancy_days = vacant_lots_df['Vacancy Days']

vacancy_days.describe()

count    7319.000000
mean      623.188277
std       254.970762
min       132.000000
25%       372.000000
50%       802.000000
75%       802.000000
max       802.000000
Name: Vacancy Days, dtype: float64

In [17]:

#For ending set of 3 questions use a function to map Single Family,Multi, and Commercial
def zoning_triple_category(row):
    zoning=row['Zoning']
    
    if pd.notna(zoning):#check if thed value is not NaN
        if "Single Family" in zoning or "Mobile Home" in zoning:
            return "Single Family"
        elif any(keyword in zoning for keyword in ["Multifamily", "Duplex", "Cluster Housing", "Townhouse"]):
            return "Multifamily"
        elif "Commercial" in zoning or "commercial" in zoning:
            return "Commercial"
        return "Other" #Return "Other" for NaN or missing values
vacant_lots_df['Zoning Category 3'] = vacant_lots_df.apply(zoning_triple_category, axis=1)

In [18]:
# Check if "CHURCH" is a partial match in the "Current Use" column and create the "Owner is Church" column
vacant_lots_df['Owner is Church']=vacant_lots_df['Current Use'].str.contains('CHURCH', case=False, na=True)

# Map the True/False values to 'Yes' and 'No' in the "Owner is Church" column
vacant_lots_df['Owner is Church'] = vacant_lots_df['Owner is Church'].map({True: 'Yes', False: 'No'})

owner_is_church=vacant_lots_df["Owner is Church"]

In [19]:

#Checks strings in zoning column and maps them
def classify_zoning_category(row):
    zoning = row['Zoning']
    
    if pd.notna(zoning):  # Check if the value is not NaN
        if "Central Area" in zoning:
            return "Central Area"
        elif "Retail" in zoning or "Neighborhood Service" in zoning:
            return "Retail"
        elif any(keyword in zoning for keyword in ["Single Family", "Multifamily", "Duplex", "Cluster Housing", "Townhouse"]):
            return "Residential"
        elif "Office" in zoning:
            return "Office"
        elif "Industrial" in zoning:
            return "Industrial"
        elif "Commercial" in zoning or "commercial" in zoning:  # Handle the typo
            return "Commercial"
    return "Other"  # Return "Other" for NaN or missing values

# Apply the function to create the "Zoning Category" column
vacant_lots_df['Zoning Category'] = vacant_lots_df.apply(classify_zoning_category, axis=1)

In [20]:
# Define a function to apply the classification logic
def classify_owner(row):
    if pd.notna(row['Public Owner']):
        return row['Public Owner']
    elif row['Public Owner'] == 'City of Dallas':
        return 'City of Dallas'
    elif row['Public Owner'] == 'City of Dallas Housing Authority':
        return 'City of Dallas Housing Authority'
    elif row['Public Owner'] == 'County of Dallas':
        return 'County of Dallas'  
    elif row['Owner is Church'] == 'Yes':
        return 'Church'
    elif row['Owner is Business'] == 'Yes':
        return 'Business'
    elif row['Bank Owned Property'] == 'Yes':
        return 'Bank'
    else:
        return 'Private Owner'

# Apply the function to create the "Owner" column
vacant_lots_df['Owner'] = vacant_lots_df.apply(classify_owner, axis=1)

In [21]:
# Selecting columns of interest and filtering by 'Property Type' == 'Structure'
structure_df = vacant_lots_df[vacant_lots_df['Property Type'] == 'Structure']

# Selecting columns of interest and filtering by 'Property Type' == 'Land' for land dataframe
land_df = vacant_lots_df[vacant_lots_df['Property Type'] == 'Land']

# Filter residential properties
residential_properties = vacant_lots_df[vacant_lots_df['Zoning Category'] == 'Residential']

# Filter commercial properties used Zone Category 3 column for zoned single family residential, commercial and multifamily questions
commercial_properties = vacant_lots_df[vacant_lots_df['Zoning Category 3'] == 'Commercial']

In [22]:
vacant_lots_df.groupby('Property Type')['Property Type'].count()

Property Type
Land         28300
Structure    16415
Name: Property Type, dtype: int64

In [23]:
vacant_lots_df.shape

(44715, 33)

In [24]:
vacant_lots_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44715 entries, 0 to 49637
Data columns (total 33 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Parcel ID                               44715 non-null  object
 1   Address                                 44715 non-null  object
 2   Owner                                   44715 non-null  object
 3   Is Vacant Property                      44715 non-null  object
 4   Property Type                           44715 non-null  object
 5   Current Use                             44715 non-null  object
 6   Year Built                              12711 non-null  float64
 7   Average Year Built By Council District  44684 non-null  float64
 8   Owner is Business                       44715 non-null  object
 9   Owner Occupied                          44715 non-null  object
 10  Suspected Heir Property                 44715 non-null  object
 11  Taxes Delinquent Since                  5376 non-null   object
 12  Delinquent Taxes                        5376 non-null   float64
 13  Is Tax Delinquent                       44715 non-null  object
 14  Code Liens - Count                      6696 non-null   float64
 15  Code Liens - Amount                     6696 non-null   float64
 16  Zip Code                                44711 non-null  float64
 17  Zoning                                  36077 non-null  object
 18  Council District                        44684 non-null  object
 19  Land Size                               44715 non-null  float64
 20  Vacant Since                            7319 non-null   datetime64[ns]
 21  Owner Location                          40924 non-null  object
 22  Owner Property Count                    40924 non-null  float64
 23  Owner Public Name                       3198 non-null   object
 24  Public Owner                            44715 non-null  object
 25  Bank Owned Property                     44715 non-null  object
 26  City or County Owned                    44715 non-null  bool
 27  Council District Number                 44684 non-null  object
 28  Property Age Years                      12711 non-null  float64
 29  Vacancy Days                            7319 non-null   float64
 30  Zoning Category 3                       36077 non-null  object
 31  Owner is Church                         44715 non-null  object
 32  Zoning Category                         44715 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(10), object(21)
memory usage: 11.3+ MB

In [25]:
vacant_lots_df.isnull().sum()

Parcel ID                                     0
Address                                       0
Owner                                         0
Is Vacant Property                            0
Property Type                                 0
Current Use                                   0
Year Built                                32004
Average Year Built By Council District       31
Owner is Business                             0
Owner Occupied                                0
Suspected Heir Property                       0
Taxes Delinquent Since                    39339
Delinquent Taxes                          39339
Is Tax Delinquent                             0
Code Liens - Count                        38019
Code Liens - Amount                       38019
Zip Code                                      4
Zoning                                     8638
Council District                             31
Land Size                                     0
Vacant Since                              37396
Owner Location                             3791
Owner Property Count                       3791
Owner Public Name                         41517
Public Owner                                  0
Bank Owned Property                           0
City or County Owned                          0
Council District Number                      31
Property Age Years                        32004
Vacancy Days                              37396
Zoning Category 3                          8638
Owner is Church                               0
Zoning Category                               0
dtype: int64

In [26]:
vacant_lots_df.columns

Index(['Parcel ID', 'Address', 'Owner', 'Is Vacant Property', 'Property Type',
       'Current Use', 'Year Built', 'Average Year Built By Council District',
       'Owner is Business', 'Owner Occupied', 'Suspected Heir Property',
       'Taxes Delinquent Since', 'Delinquent Taxes', 'Is Tax Delinquent',
       'Code Liens - Count', 'Code Liens - Amount', 'Zip Code', 'Zoning',
       'Council District', 'Land Size', 'Vacant Since', 'Owner Location',
       'Owner Property Count', 'Owner Public Name', 'Public Owner',
       'Bank Owned Property', 'City or County Owned',
       'Council District Number', 'Property Age Years', 'Vacancy Days',
       'Zoning Category 3', 'Owner is Church', 'Zoning Category'],
      dtype='object')

# Check vacancy dates

In [27]:
vacant_lots_df['Land Size'].describe()

count    44715.000000
mean         1.340455
std         27.316516
min          0.000000
25%          0.134100
50%          0.180391
75%          0.369136
max       5322.378832
Name: Land Size, dtype: float64

In [28]:
pd.unique(vacant_lots_df['Vacant Since'])

array(['2022-07-01T00:00:00.000000000',                           'NaT',
       '2023-09-04T00:00:00.000000000', '2023-03-01T00:00:00.000000000',
       '2024-03-04T00:00:00.000000000', '2023-12-01T00:00:00.000000000',
       '2024-05-01T00:00:00.000000000', '2022-09-01T00:00:00.000000000',
       '2022-12-02T00:00:00.000000000', '2023-05-01T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [29]:
vacant_lots_df['Vacant Since'].value_counts(dropna=False, sort=False).sort_index()

2022-07-01     4519
2022-09-01      154
2022-12-02      204
2023-03-01      319
2023-05-01       15
2023-09-04      534
2023-12-01      357
2024-03-04      763
2024-05-01      454
NaT           37396
Name: Vacant Since, dtype: int64

# Analyses

In [30]:
#Sets results for dict
results = {}

In [31]:
#1.How many vacant lots are in each council district?

#Groups Council distrcits column and 
vacant_lots_counts_by_district  = land_df.groupby('Council District').size()

In [32]:
#dictonary that starts the result values
results["How many vacant lots are in each council district?"] = {
    'question_number': 1,
    'value': vacant_lots_counts_by_district
}

results["How many vacant lots are in each council district?"]

{'question_number': 1,
 'value': Council District
 District 01    1415
 District 02    2480
 District 03    1909
 District 04    3838
 District 05    1800
 District 06    4647
 District 07    4962
 District 08    3896
 District 09     310
 District 10     540
 District 11     469
 District 12     244
 District 13     625
 District 14    1135
 dtype: int64}

In [33]:
#2 How long have the vacant lots in each council district been vacant? 
vacant_lots_stats = land_df.groupby('Council District')['Vacancy Days'].agg(['min','median', 'mean', 'max'])

# Rename the columns for clarity
vacant_lots_stats.columns = ['Min Days', 'Median Days', 'Mean Days', 'Max Days']

In [34]:

results["How long have the vacant lots in each council district been vacant?"] = {
    'question_number': 2,
    'value': vacant_lots_stats
}


results["How long have the vacant lots in each council district been vacant?"]

{'question_number': 2,
 'value':                   Min Days  Median Days   Mean Days  Max Days
 Council District
 District 01          372.0        802.0  771.285714     802.0
 District 02          132.0        802.0  719.868421     802.0
 District 03          802.0        802.0  802.000000     802.0
 District 04          132.0        802.0  750.995261     802.0
 District 05          284.0        802.0  779.953846     802.0
 District 06          132.0        802.0  784.612903     802.0
 District 07          132.0        802.0  704.743191     802.0
 District 08          132.0        802.0  693.476744     802.0
 District 09          190.0        802.0  675.230769     802.0
 District 10          190.0        802.0  696.611111     802.0
 District 11          190.0        802.0  732.533333     802.0
 District 12          802.0        802.0  802.000000     802.0
 District 13          132.0        802.0  693.043478     802.0
 District 14          190.0        802.0  718.057143     802.0}

In [35]:
# 3 How many are zoned single family residential, commercial and multifamily? <-- rows are council District; columns are counts within each of the 3 zoning types

# Group by 'Council District' and 'Zoning Category', then count occurrences
#zoning_category_counts = vacant_lots_df.groupby(['Council District', 'Zoning Category']).size().unstack(fill_value=0)

In [36]:

'''results[" How many are zoned single family residential, commercial and multifamily? <-- rows are council District; columns are counts within each of the 3 zoning types"] = {
    'question_number': 3,
    'value': zoning_category_counts
}

results'''

'results[" How many are zoned single family residential, commercial and multifamily? <-- rows are council District; columns are counts within each of the 3 zoning types"] = {\n    \'question_number\': 3,\n    \'value\': zoning_category_counts\n}\n\nresults'

In [37]:
#3 How many vacant lots in each council district are zoned single family residential, commercial and multifamily 

# Group by 'Council District' and 'Zoning Category', then count occurrences
zoning_category_counts_3 = land_df.groupby(['Council District', 'Zoning Category 3']).size().unstack(fill_value=0)

In [38]:

results["How many are zoned single family residential, commercial and multifamily?"] = {
    'question_number': 3,
    'value': zoning_category_counts_3
}


results["How many are zoned single family residential, commercial and multifamily?"]

{'question_number': 3,
 'value': Zoning Category 3  Commercial  Multifamily  Other  Single Family
 Council District
 District 01                 3           76    995            284
 District 02               202          281   1471            127
 District 03                23          124    968            766
 District 04               107          302   1495           1928
 District 05                16           49    802            933
 District 06               124           92   2117           1429
 District 07               163          277    981            427
 District 08               243          115   1157           2368
 District 09                 9           16    118             53
 District 10                 8           95    298             55
 District 11                 0           26    332            111
 District 12                 0           50    105             89
 District 13                 2           91    313            189
 District 14                 1          112    700              6}

In [39]:
# 4. How many vacant structures are in each council district?

# Groups Council District by structure and vacant property

# Grouping by 'Council District' and counting occurrences
vacant_structure_count = structure_df.groupby('Council District').size()

In [40]:

results["How many vacant structures are in each council district?"] = {
    'question_number': 4,
    'value': vacant_structure_count
}

results["How many vacant structures are in each council district?"]

{'question_number': 4,
 'value': Council District
 District 01     759
 District 02    1714
 District 03     630
 District 04    2194
 District 05     743
 District 06    1986
 District 07    1917
 District 08    1581
 District 09    1080
 District 10     538
 District 11     545
 District 12     168
 District 13    1511
 District 14    1048
 dtype: int64}

In [41]:
#5 How long have the vacant structures in each council district been vacant? (see question 2)
vacant_structure_count_days = structure_df.groupby('Council District')['Vacancy Days'].agg(['min','median', 'mean', 'max'])

# Rename the columns for clarity
vacant_structure_count_days.columns = ['Min Days', 'Median Days', 'Mean Days', 'Max Days']

In [42]:

results["How long have the vacant structures in each council district been vacant? (see question 2)"] = {
    'question_number': 5,
    'value': vacant_structure_count_days
}

results["How long have the vacant structures in each council district been vacant? (see question 2)"]

{'question_number': 5,
 'value':                   Min Days  Median Days   Mean Days  Max Days
 Council District
 District 01          132.0        802.0  693.733333     802.0
 District 02          132.0        559.0  561.737659     802.0
 District 03          132.0        802.0  622.178423     802.0
 District 04          132.0        802.0  677.190184     802.0
 District 05          132.0        802.0  680.896458     802.0
 District 06          132.0        802.0  662.519766     802.0
 District 07          132.0        802.0  595.374819     802.0
 District 08          132.0        802.0  625.880829     802.0
 District 09          132.0        559.0  503.275789     802.0
 District 10          132.0        372.0  454.618812     802.0
 District 11          132.0        740.0  533.723926     802.0
 District 12          132.0        559.0  566.812500     802.0
 District 13          132.0        648.0  529.259188     802.0
 District 14          132.0        559.0  538.014164     802.0}

In [43]:

#6 How many vacant structures in each council district are zoned single family residential, commercial and multifamily? (see question 3)

zoning_category_counts_structure = structure_df.groupby(['Council District', 'Zoning Category 3']).size().unstack(fill_value=0)

In [44]:

results["How many vacant structures in each council district are zoned single family residential, commercial and multifamily? (see question 3)"] = {
    'question_number': 6,
    'value': zoning_category_counts_structure
}

results["How many vacant structures in each council district are zoned single family residential, commercial and multifamily? (see question 3)"]

{'question_number': 6,
 'value': Zoning Category 3  Commercial  Multifamily  Other  Single Family
 Council District
 District 01                 4           41    396            283
 District 02                53          334    607             82
 District 03                 6           23    164            433
 District 04                14          100    320           1758
 District 05                 9           37    103            594
 District 06                16           94    716            845
 District 07                31          149    301            290
 District 08                24           30    407           1119
 District 09                 4           58    173             76
 District 10                 6           36    224            102
 District 11                 0           36    256            253
 District 12                 0           26     80             62
 District 13                 0           61    429            994
 District 14                 1          136    417             36}

In [45]:
#7.How many vacant lots are in each zip code?

# Groups the zip code and if property is vacant and produces the count 
vacant_lots_counts_by_zip = land_df.groupby('Zip Code').size()

# Convert index (zip codes) to integers to remove the .0 decimal part
vacant_lots_counts_by_zip.index = vacant_lots_counts_by_zip.index.astype(int)

In [46]:

results["How many vacant lots are in each zip code?"] = {
    'question_number': 7,
    'value': vacant_lots_counts_by_zip
}

results["How many vacant lots are in each zip code?"]

{'question_number': 7,
 'value': Zip Code
 75006       7
 75019      66
 75041       1
 75043      11
 75050       1
 75051      18
 75060       2
 75062       3
 75063      11
 75080      14
 75081       2
 75104       4
 75134       1
 75141       8
 75149       9
 75150      14
 75159      10
 75181       4
 75182       8
 75201     362
 75202     154
 75203    2285
 75204     523
 75205      42
 75206     245
 75207     473
 75208     966
 75209     172
 75210    1050
 75211     956
 75212    2685
 75214     195
 75215    2935
 75216    2122
 75217    2084
 75218     117
 75219     351
 75220     457
 75223     844
 75224     282
 75225     114
 75226     479
 75227     626
 75228     283
 75229     376
 75230     249
 75231     224
 75232     350
 75233     194
 75234      25
 75235     365
 75236     601
 75237     324
 75238     136
 75240     114
 75241    2092
 75243     370
 75244      27
 75246     138
 75247     311
 75248     275
 75249     108
 75251       7
 75252      34
 75253     917
 75254      60
 75270       2
 75287       1
 dtype: int64}

In [47]:
#8 How long have the vacant lots in each zip code been vacant?
vacant_zips_count_days = land_df.groupby('Zip Code')['Vacancy Days'].agg(['min','median', 'mean', 'max'])

# Convert index (zip codes) to integers to remove the .0 decimal part
vacant_zips_count_days.index = vacant_zips_count_days.index.astype(int)

# Rename the columns for clarity
vacant_zips_count_days.columns = ['Min Days', 'Median Days', 'Mean Days', 'Max Days']

In [48]:

results["How long have the vacant lots in each zip code been vacant?"] = {
    'question_number': 8,
    'value': vacant_zips_count_days
}

results["How long have the vacant lots in each zip code been vacant?"]

{'question_number': 8,
 'value':           Min Days  Median Days   Mean Days  Max Days
 Zip Code
 75006          NaN          NaN         NaN       NaN
 75019          NaN          NaN         NaN       NaN
 75041          NaN          NaN         NaN       NaN
 75043          NaN          NaN         NaN       NaN
 75050          NaN          NaN         NaN       NaN
 75051          NaN          NaN         NaN       NaN
 75060          NaN          NaN         NaN       NaN
 75062          NaN          NaN         NaN       NaN
 75063          NaN          NaN         NaN       NaN
 75080          NaN          NaN         NaN       NaN
 75081          NaN          NaN         NaN       NaN
 75104          NaN          NaN         NaN       NaN
 75134          NaN          NaN         NaN       NaN
 75141          NaN          NaN         NaN       NaN
 75149          NaN          NaN         NaN       NaN
 75150          NaN          NaN         NaN       NaN
 75159          NaN          NaN         NaN       NaN
 75181          NaN          NaN         NaN       NaN
 75182          NaN          NaN         NaN       NaN
 75201        372.0        802.0  740.571429     802.0
 75202        802.0        802.0  802.000000     802.0
 75203        132.0        802.0  776.523077     802.0
 75204        190.0        802.0  628.823529     802.0
 75205          NaN          NaN         NaN       NaN
 75206        284.0        802.0  744.444444     802.0
 75207        740.0        802.0  781.333333     802.0
 75208        132.0        802.0  760.648649     802.0
 75209        802.0        802.0  802.000000     802.0
 75210        802.0        802.0  802.000000     802.0
 75211        802.0        802.0  802.000000     802.0
 75212        132.0        802.0  789.595238     802.0
 75214        284.0        802.0  684.000000     802.0
 75215        132.0        802.0  645.948276     802.0
 75216        132.0        802.0  698.379310     802.0
 75217        190.0        802.0  758.373626     802.0
 75218        190.0        802.0  566.571429     802.0
 75219        372.0        802.0  765.500000     802.0
 75220        802.0        802.0  802.000000     802.0
 75223        190.0        802.0  744.051282     802.0
 75224        190.0        802.0  557.200000     802.0
 75225        802.0        802.0  802.000000     802.0
 75226        284.0        802.0  715.666667     802.0
 75227        559.0        802.0  782.043478     802.0
 75228        802.0        802.0  802.000000     802.0
 75229        132.0        802.0  696.269231     802.0
 75230        372.0        802.0  754.222222     802.0
 75231          NaN          NaN         NaN       NaN
 75232        190.0        802.0  751.000000     802.0
 75233        802.0        802.0  802.000000     802.0
 75234          NaN          NaN         NaN       NaN
 75235        132.0        802.0  727.555556     802.0
 75236        802.0        802.0  802.000000     802.0
 75237        802.0        802.0  802.000000     802.0
 75238          NaN          NaN         NaN       NaN
 75240        190.0        802.0  679.600000     802.0
 75241        132.0        802.0  673.702128     802.0
 75243        190.0        802.0  696.611111     802.0
 75244          NaN          NaN         NaN       NaN
 75246        802.0        802.0  802.000000     802.0
 75247        372.0        802.0  730.333333     802.0
 75248        802.0        802.0  802.000000     802.0
 75249          NaN          NaN         NaN       NaN
 75251        802.0        802.0  802.000000     802.0
 75252          NaN          NaN         NaN       NaN
 75253          NaN          NaN         NaN       NaN
 75254          NaN          NaN         NaN       NaN
 75270          NaN          NaN         NaN       NaN
 75287          NaN          NaN         NaN       NaN}

In [49]:
#9 How many vacant lots in each zip code are zoned single family residential, commercial and multifamily?


zoning_category_counts_zip = land_df.groupby(['Zip Code', 'Zoning Category 3']).size().unstack(fill_value=0)

# Convert index (zip codes) to integers to remove the .0 decimal part
zoning_category_counts_zip.index = zoning_category_counts_zip.index.astype(int)

In [50]:

results["How many vacant lots in each zip code are zoned single family residential, commercial and multifamily?"] = {
    'question_number': 9,
    'value': zoning_category_counts_zip
}

results["How many vacant lots in each zip code are zoned single family residential, commercial and multifamily?"]

{'question_number': 9,
 'value': Zoning Category 3  Commercial  Multifamily  Other  Single Family
 Zip Code
 75006                       0            0      6              0
 75019                       0            0     12              0
 75043                       0            0      7              0
 75051                       1            0     11              6
 75060                       0            0      1              0
 75062                       0            0      3              0
 75063                       0            0      2              0
 75080                       0            0     14              0
 75081                       0            1      1              0
 75104                       0            0      3              1
 75134                       0            0      0              1
 75141                       0            0      8              0
 75149                       0            0      9              0
 75150                       0            0      8              0
 75159                       0            0      8              2
 75181                       0            0      4              0
 75182                       0            0      8              0
 75201                       0            0    263              0
 75202                       0            0    144              0
 75203                      25          193   1451            612
 75204                       0          135    318             10
 75205                       0            0      5              0
 75206                       1           75    161              4
 75207                       1            0    388              0
 75208                      10           31    750            156
 75209                       2            7    104             37
 75210                       1            3     69             38
 75211                      22           41    413            444
 75212                      83           72   1208           1321
 75214                       0           53     46             44
 75215                       1            0    786             22
 75216                     139           89    524           1370
 75217                      29           61    851           1143
 75218                       4            7     40             11
 75219                       0            0     16              0
 75220                      29           22    129             34
 75223                     249          250    235            110
 75224                       3           45    104            126
 75225                       0            0     68             46
 75226                      29           21    388              0
 75227                       7           83    208            328
 75228                       5           50    149             27
 75229                       3            2     79             68
 75230                       0            8    187             54
 75231                       0           68    121              1
 75232                       0           40     88            221
 75233                       0           15     57            122
 75234                       0            2     19              1
 75235                      10           17    164             18
 75236                       1           57    439            101
 75237                       1           10    180            133
 75238                      10           15     75              0
 75240                       0           13     87             14
 75241                     101           64    551           1364
 75243                       3           67    214             54
 75244                       0           15      5              7
 75246                       2            0    118             18
 75247                       0            0     66              0
 75248                       0           47    119            109
 75249                       0            1     69             13
 75251                       0            0      7              0
 75252                       0            6     10             18
 75253                     130           15    237            535
 75254                       0            5     33             22
 75270                       0            0      2              0
 75287                       0            0      1              0}

In [51]:
#10 How many vacant structures are in each zip code?

# Groups the zip code and if property is vacant and produces the count 
vacant_structure_counts_by_zip = structure_df.groupby('Zip Code').size()

# Convert index (zip codes) to integers to remove the .0 decimal part
vacant_structure_counts_by_zip.index = vacant_structure_counts_by_zip.index.astype(int)

In [52]:

results["How many vacant structures are in each zip code?"] = {
    'question_number': 10,
    'value': vacant_structure_counts_by_zip
}

results["How many vacant structures are in each zip code?"]

{'question_number': 10,
 'value': Zip Code
 75006       1
 75019       1
 75042       2
 75043       1
 75051       6
 75062       1
 75063       1
 75080      36
 75081       1
 75115       1
 75150       1
 75201     171
 75202      42
 75203     519
 75204     363
 75205      98
 75206     388
 75207     208
 75208     396
 75209     422
 75210     353
 75211     421
 75212     961
 75214     399
 75215     821
 75216    1722
 75217     825
 75218     527
 75219     300
 75220     451
 75223     304
 75224     210
 75225     229
 75226      90
 75227     508
 75228    1055
 75229     624
 75230     386
 75231     282
 75232     287
 75233     114
 75234      24
 75235     273
 75236      82
 75237      70
 75238     170
 75240     196
 75241     700
 75243     312
 75244      95
 75246      42
 75247      93
 75248     204
 75249      67
 75251      11
 75252       7
 75253     509
 75254      31
 75270       1
 dtype: int64}

In [53]:
#11 How long have the vacant structures in each zip code been vacant? (see question 8)
vacant_zips_structure_count_days = structure_df.groupby('Zip Code')['Vacancy Days'].agg(['min','median', 'mean', 'max'])

# Convert index (zip codes) to integers to remove the .0 decimal part
vacant_zips_structure_count_days.index = vacant_zips_structure_count_days.index.astype(int)

# Rename the columns for clarity
vacant_zips_structure_count_days.columns = ['Min Days', 'Median Days', 'Mean Days', 'Max Days']

In [54]:

results["How long have the vacant structures in each zip code been vacant? (see question 8)"] = {
    'question_number': 11,
    'value': vacant_zips_structure_count_days
}

results["How long have the vacant structures in each zip code been vacant? (see question 8)"]

{'question_number': 11,
 'value':           Min Days  Median Days   Mean Days  Max Days
 Zip Code
 75006          NaN          NaN         NaN       NaN
 75019          NaN          NaN         NaN       NaN
 75042        190.0        419.0  419.000000     648.0
 75043          NaN          NaN         NaN       NaN
 75051          NaN          NaN         NaN       NaN
 75062          NaN          NaN         NaN       NaN
 75063          NaN          NaN         NaN       NaN
 75080          NaN          NaN         NaN       NaN
 75081          NaN          NaN         NaN       NaN
 75115          NaN          NaN         NaN       NaN
 75150          NaN          NaN         NaN       NaN
 75201        372.0        740.0  651.687500     802.0
 75202        372.0        802.0  730.333333     802.0
 75203        132.0        802.0  674.671362     802.0
 75204        132.0        372.0  442.604167     802.0
 75205        132.0        802.0  641.619048     802.0
 75206        132.0        559.0  534.791667     802.0
 75207        132.0        802.0  724.144000     802.0
 75208        284.0        802.0  766.712329     802.0
 75209        132.0        648.0  534.017341     802.0
 75210        132.0        802.0  591.333333     802.0
 75211        132.0        802.0  736.198895     802.0
 75212        132.0        802.0  670.651584     802.0
 75214        132.0        648.0  547.917160     802.0
 75215        132.0        559.0  501.234848     802.0
 75216        132.0        802.0  695.378316     802.0
 75217        132.0        802.0  644.015823     802.0
 75218        132.0        372.0  507.483412     802.0
 75219        132.0        648.0  627.480769     802.0
 75220        132.0        802.0  605.358209     802.0
 75223        132.0        802.0  523.957143     802.0
 75224        132.0        372.0  491.450000     802.0
 75225        132.0        190.0  386.227723     802.0
 75226        132.0        802.0  569.160000     802.0
 75227        132.0        802.0  731.790036     802.0
 75228        132.0        559.0  556.232653     802.0
 75229        132.0        802.0  620.606164     802.0
 75230        132.0        372.0  464.151515     802.0
 75231        132.0        190.0  355.640000     802.0
 75232        132.0        603.5  504.843284     802.0
 75233        132.0        802.0  563.513514     802.0
 75234        132.0        802.0  588.571429     802.0
 75235        132.0        802.0  638.392857     802.0
 75236        372.0        802.0  780.500000     802.0
 75237        190.0        802.0  555.444444     802.0
 75238        132.0        559.0  547.562500     802.0
 75240        132.0        802.0  551.125000     802.0
 75241        132.0        802.0  663.370861     802.0
 75243        132.0        372.0  457.281481     802.0
 75244        132.0        284.0  420.909091     802.0
 75246        132.0        372.0  537.100000     802.0
 75247        132.0        802.0  701.571429     802.0
 75248        132.0        771.0  584.818182     802.0
 75249        132.0        802.0  615.727273     802.0
 75251          NaN          NaN         NaN       NaN
 75252          NaN          NaN         NaN       NaN
 75253          NaN          NaN         NaN       NaN
 75254        132.0        559.0  472.095238     802.0
 75270          NaN          NaN         NaN       NaN}

In [55]:
#12 How many vacant structures in each zip code are zoned single family residential, commercial and multifamily? (see question 9)

zoning_category_counts_structure_zip = structure_df.groupby(['Zip Code', 'Zoning Category 3']).size().unstack(fill_value=0)

# Convert index (zip codes) to integers to remove the .0 decimal part
zoning_category_counts_structure_zip.index = zoning_category_counts_structure_zip.index.astype(int)

In [56]:

results["How many vacant structures in each zip code are zoned single family residential, commercial and multifamily? (see question 9)"] = {
    'question_number': 12,
    'value': zoning_category_counts_structure_zip
}

results["How many vacant structures in each zip code are zoned single family residential, commercial and multifamily? (see question 9)"]

{'question_number': 12,
 'value': Zoning Category 3  Commercial  Multifamily  Other  Single Family
 Zip Code
 75006                       0            0      1              0
 75042                       0            0      1              1
 75051                       0            0      5              1
 75062                       0            0      1              0
 75080                       0            0     35              1
 75081                       0            0      1              0
 75115                       0            0      1              0
 75150                       0            0      1              0
 75201                       0            0    118              0
 75202                       0            0     42              0
 75203                       1           34    270            213
 75204                       4          196    132              3
 75205                       0            1      2              0
 75206                       1          140    173             27
 75207                       0            0    147              0
 75208                       7           12    269             84
 75209                       0           11    255            131
 75210                       0            4      7             19
 75211                       5           28    113            264
 75212                       6           73    271            611
 75214                       0           45     47             28
 75215                       0            0    100              0
 75216                      25           60    144           1493
 75217                      12           28     89            696
 75218                       3           38     93             44
 75219                       0            0      9              0
 75220                       5            9     63            307
 75223                      39           56    130             79
 75224                       0           15     36            158
 75225                       0           20     51            158
 75226                       8            7     73              0
 75227                       0          116     78            314
 75228                      15           46    282              8
 75229                       1            6    144            379
 75230                       0           23     76            287
 75231                       0           23    212              3
 75232                       0           11     17            259
 75233                       0            0     15             99
 75234                       0            0      7             17
 75235                       6           44     84             27
 75236                       1           14     41             26
 75237                       0            1     42             27
 75238                       6            4     51              0
 75240                       0            4    160             32
 75241                       6            6    101            586
 75243                       1           25    142             98
 75244                       0            4     16             75
 75246                       0            0     38              4
 75247                       1            0     21              0
 75248                       0           35     61            108
 75249                       0            5     36             22
 75251                       0            0     11              0
 75252                       0            0      6              1
 75253                      15            5    264            225
 75254                       0           12      7             12
 75270                       0            0      1              0}

In [57]:
#13 What is the total amount of back taxes owed on vacant land in each City Council District?

# Grouping and calculating the total amount of back taxes owed on vacant land by City Council District
#Remove vacant prop yes filter
back_taxes_total_by_district = land_df.groupby('Council District')['Delinquent Taxes'].sum()

In [58]:

results["What is the total amount of back taxes owed on vacant land in each City Council District?"] = {
    'question_number': 13,
    'value': back_taxes_total_by_district
}

results["What is the total amount of back taxes owed on vacant land in each City Council District?"]

{'question_number': 13,
 'value': Council District
 District 01     6160.27
 District 02    11819.58
 District 03     4750.14
 District 04    18380.90
 District 05     4320.63
 District 06    24181.61
 District 07    14308.83
 District 08    20124.42
 District 09      323.05
 District 10     4755.90
 District 11      248.13
 District 12       43.13
 District 13     1304.02
 District 14     3511.00
 Name: Delinquent Taxes, dtype: float64}

In [59]:
#14 What is the total amount of back taxes owed on vacant land in each zip code?

# Grouping and calculating the total amount of back taxes owed on vacant land by Zip Code
back_taxes_total_by_zip = land_df.groupby('Zip Code')['Delinquent Taxes'].sum()

# Convert index (zip codes) to integers to remove the .0 decimal part
back_taxes_total_by_zip.index = back_taxes_total_by_zip.index.astype(int)

In [60]:

results["What is the total amount of back taxes owed on vacant land in each zip code?"] = {
    'question_number': 14,
    'value': back_taxes_total_by_zip
}

results["What is the total amount of back taxes owed on vacant land in each zip code?"]

{'question_number': 14,
 'value': Zip Code
 75006        0.00
 75019        0.45
 75041        0.00
 75043        0.00
 75050        0.00
 75051        5.22
 75060        0.00
 75062        0.00
 75063        0.06
 75080        0.02
 75081        0.18
 75104        0.00
 75134        0.00
 75141        0.00
 75149        0.00
 75150        0.04
 75159        0.00
 75181        0.00
 75182      203.39
 75201     1402.29
 75202      634.58
 75203    10415.79
 75204     3792.79
 75205       14.26
 75206       68.61
 75207      284.97
 75208     4725.41
 75209      599.87
 75210     3201.71
 75211     4278.49
 75212    16279.24
 75214      152.60
 75215     8310.52
 75216     9869.90
 75217     5985.56
 75218        0.01
 75219     2589.59
 75220     2615.65
 75223     3204.18
 75224      968.65
 75225       50.89
 75226     2206.49
 75227     2261.92
 75228      192.07
 75229      281.48
 75230        2.47
 75231     1213.17
 75232     1977.30
 75233      920.73
 75234      162.27
 75235       71.45
 75236      545.66
 75237     1669.20
 75238      546.16
 75240      240.11
 75241    10194.98
 75243     4159.10
 75244        0.05
 75246      612.66
 75247     1591.73
 75248       47.94
 75249       22.33
 75251        0.00
 75252        0.19
 75253     5657.17
 75254        0.57
 75270        0.00
 75287        0.00
 Name: Delinquent Taxes, dtype: float64}

In [61]:
#15 What is the total amount of back taxes owed on vacant structures in each City Council District?

# Grouping and calculating the total amount of back taxes owed on vacant land by City Council District
back_taxes_total_by_district_by_structure = structure_df.groupby('Council District')['Delinquent Taxes'].sum()

In [62]:

results["What is the total amount of back taxes owed on vacant structures in each City Council District?"] = {
    'question_number': 15,
    'value': back_taxes_total_by_district_by_structure
}

results["What is the total amount of back taxes owed on vacant structures in each City Council District?"]

{'question_number': 15,
 'value': Council District
 District 01     3296.95
 District 02    41146.59
 District 03     4803.20
 District 04    18218.75
 District 05     2558.69
 District 06    23400.64
 District 07    10657.86
 District 08     6932.20
 District 09    10969.02
 District 10     8667.99
 District 11     3462.20
 District 12     1906.72
 District 13    20408.81
 District 14    18883.96
 Name: Delinquent Taxes, dtype: float64}

In [63]:
#16 What is the total amount of back taxes owed on vacant structures in each zip code?

# Grouping and calculating the total amount of back taxes owed on vacant land by Zip Code
back_taxes_total_by_zip_by_structure = structure_df.groupby('Zip Code')['Delinquent Taxes'].sum()

# Convert index (zip codes) to integers to remove the .0 decimal part
back_taxes_total_by_zip_by_structure.index = back_taxes_total_by_zip_by_structure.index.astype(int)

In [64]:

results["What is the total amount of back taxes owed on vacant structures in each zip code?"] = {
    'question_number': 16,
    'value': back_taxes_total_by_zip_by_structure
}

results["What is the total amount of back taxes owed on vacant structures in each zip code?"]

{'question_number': 16,
 'value': Zip Code
 75006        0.00
 75019        0.00
 75042        0.00
 75043        0.00
 75051        0.00
 75062        0.00
 75063        0.00
 75080        0.00
 75081        0.00
 75115        0.00
 75150        0.01
 75201     8971.84
 75202     3600.70
 75203     2813.61
 75204     7380.81
 75205        0.00
 75206     3970.48
 75207     4181.55
 75208     3471.32
 75209     8779.79
 75210     1292.39
 75211     2820.36
 75212     8142.31
 75214     9185.06
 75215     7023.30
 75216    14260.40
 75217     3824.90
 75218     6334.18
 75219     3844.48
 75220     5347.09
 75223     3088.73
 75224     1005.65
 75225       73.51
 75226       18.43
 75227     3055.09
 75228     5870.56
 75229     6810.31
 75230     3160.24
 75231     5775.98
 75232     1188.48
 75233      749.48
 75234        8.22
 75235    16778.79
 75236     1127.63
 75237     1003.16
 75238      556.57
 75240      717.78
 75241     3892.94
 75243     8667.97
 75244     1504.31
 75246       34.21
 75247      357.27
 75248     1906.72
 75249        7.11
 75251        0.00
 75252        0.00
 75253     1461.57
 75254     1248.29
 75270        0.00
 Name: Delinquent Taxes, dtype: float64}

In [65]:
#17 What is the average age of residential properties in each council district?

#avg_age__prop_District=vacant_lots_df.groupby('Council District')['Property Age Years'].mean()
# Calculate the average age of residential properties

residential_avg_age_prop_District = residential_properties.groupby('Council District')['Property Age Years'].mean()

In [66]:

results["What is the average age of residential properties in each council district?"] = {
    'question_number': 17,
    'value': residential_avg_age_prop_District
}

results["What is the average age of residential properties in each council district?"]

{'question_number': 17,
 'value': Council District
 District 01    64.513109
 District 02    25.467797
 District 03    42.898667
 District 04    50.881302
 District 05    49.807767
 District 06    20.174691
 District 07    35.020888
 District 08    27.926554
 District 09    53.660194
 District 10    46.239669
 District 11    38.524590
 District 12    42.860759
 District 13    26.819005
 District 14    17.762712
 Name: Property Age Years, dtype: float64}

In [67]:
#18 What is the average age of residential properties in each zip code?
avg_age__prop_zip = residential_properties.groupby('Zip Code')['Property Age Years'].mean()
#Fills na values with 0
avg_age__prop_zip=avg_age__prop_zip.fillna(0)

#converts avg age to int data type to remve decimals
avg_age__prop_zip.index=avg_age__prop_zip.index.astype(int)

In [68]:

results["What is the average age of residential properties in each zip code?"] = {
    'question_number': 18,
    'value': avg_age__prop_zip
}

results["What is the average age of residential properties in each zip code?"]

{'question_number': 18,
 'value': Zip Code
 75042    46.000000
 75051     0.000000
 75080     0.000000
 75081     0.000000
 75104     0.000000
 75134     0.000000
 75159     0.000000
 75203    45.175610
 75204    11.031008
 75205     0.000000
 75206    14.352000
 75208    54.486486
 75209    21.779817
 75210    64.333333
 75211    55.527660
 75212    15.943907
 75214    36.360000
 75215     0.000000
 75216    47.456837
 75217    37.338156
 75218    61.060606
 75220    20.106618
 75223    47.036697
 75224    69.059603
 75225    28.222222
 75226     2.285714
 75227    48.035806
 75228    46.644444
 75229    33.962617
 75230    23.544355
 75231    39.454545
 75232    46.243478
 75233    32.078652
 75234    62.375000
 75235    25.095238
 75236    28.000000
 75237    24.650000
 75238    39.666667
 75240    51.451613
 75241    38.231214
 75243    46.449541
 75244    36.492958
 75246     2.250000
 75248    45.367647
 75249    44.076923
 75252     0.000000
 75253     5.598214
 75254    50.833333
 Name: Property Age Years, dtype: float64}

In [69]:
#19 What is the average size of residential properties in each council district?


# Group by council district and calculate the average property size
average_size_by_district = residential_properties.groupby('Council District')['Land Size'].mean()

In [70]:

results["What is the average size of residential properties in each council district?"] = {
    'question_number': 19,
    'value': average_size_by_district
}

results["What is the average size of residential properties in each council district?"]

{'question_number': 19,
 'value': Council District
 District 01    0.685420
 District 02    0.357161
 District 03    1.583366
 District 04    0.347238
 District 05    0.866688
 District 06    0.240354
 District 07    1.493583
 District 08    1.634822
 District 09    0.658111
 District 10    1.198724
 District 11    1.483045
 District 12    1.713730
 District 13    1.024812
 District 14    0.315840
 Name: Land Size, dtype: float64}

In [71]:
#20 What is the average size of residential properties in each zip code?

# Group by council district and calculate the average property size
average_size_by_zip = residential_properties.groupby('Zip Code')['Land Size'].mean()

# Convert index (zip codes) to integers to remove the .0 decimal part
average_size_by_zip.index = average_size_by_zip.index.astype(int)

In [72]:

results["What is the average size of residential properties in each zip code?"] = {
    'question_number': 20,
    'value': average_size_by_zip
}

results["What is the average size of residential properties in each zip code?"]

{'question_number': 20,
 'value': Zip Code
 75042     0.192886
 75051     8.861988
 75080    21.995701
 75081     0.107777
 75104     0.272161
 75134     0.164271
 75159     0.230563
 75203     0.229449
 75204     0.200162
 75205     0.155813
 75206     0.297336
 75208     0.679906
 75209     0.707452
 75210     1.206632
 75211     1.041779
 75212     0.219995
 75214     0.447470
 75215    41.161512
 75216     0.387215
 75217     1.295802
 75218     0.820805
 75220     0.453314
 75223     0.277663
 75224     0.609624
 75225     1.092759
 75226     0.204128
 75227     1.089873
 75228     1.433934
 75229     0.785560
 75230     0.718089
 75231     4.595392
 75232     0.892594
 75233     0.888135
 75234     0.198871
 75235     0.343190
 75236     3.003959
 75237     1.935544
 75238     0.281128
 75240     1.173141
 75241     1.426822
 75243     1.328064
 75244     0.396240
 75246     0.290583
 75248     1.489770
 75249     3.615266
 75252     0.720201
 75253     1.586526
 75254     5.238179
 Name: Land Size, dtype: float64}

In [73]:
#21 What is the average age of commercial properties in each council district?

# Group by council district and calculate the average property size by commercial prop
average_age_by_district_commercial = commercial_properties.groupby('Council District')['Property Age Years'].mean()

In [74]:

results["What is the average age of commercial properties in each council district?"] = {
    'question_number': 21,
    'value': average_age_by_district_commercial
}

results["What is the average age of commercial properties in each council district?"]

{'question_number': 21,
 'value': Council District
 District 01    70.500000
 District 02    62.187500
 District 03    27.000000
 District 04    70.333333
 District 05    41.250000
 District 06    55.166667
 District 07    68.650000
 District 08     1.000000
 District 09    39.666667
 District 10    41.000000
 District 13          NaN
 District 14    10.000000
 Name: Property Age Years, dtype: float64}

In [75]:
#22 What is the average age of commercial properties in each zip code?

average_age_by_zip_commercial = commercial_properties.groupby('Zip Code')['Property Age Years'].mean()

# Convert index (zip codes) to integers to remove the .0 decimal part
average_age_by_zip_commercial.index = average_age_by_zip_commercial.index.astype(int)

In [76]:
results["What is the average age of commercial properties in each zip code?"] = {
    'question_number': 22,
    'value': average_age_by_zip_commercial
}

results["What is the average age of commercial properties in each zip code?"]

{'question_number': 22,
 'value': Zip Code
 75051          NaN
 75203    89.000000
 75204    76.750000
 75206    10.000000
 75207          NaN
 75208    63.500000
 75209          NaN
 75210          NaN
 75211    27.000000
 75212    62.500000
 75215          NaN
 75216    64.444444
 75217    41.250000
 75218    59.000000
 75220    29.000000
 75223    65.652174
 75224          NaN
 75226    51.500000
 75227          NaN
 75228    61.000000
 75229          NaN
 75235    69.500000
 75236          NaN
 75237          NaN
 75238    31.250000
 75241          NaN
 75243    40.000000
 75246          NaN
 75247    64.000000
 75253     1.000000
 Name: Property Age Years, dtype: float64}

In [77]:
#23 What is the total amount of city liens owed on vacant land in each City Council District?

# Grouping and calculating the total amount of city liens owed on vacant land by City Council District
city_liens_total_by_district = land_df.groupby('Council District')['Code Liens - Amount'].sum()

In [78]:
city_liens_total_by_district

Council District
District 01     141560.34
District 02     301761.51
District 03     214713.02
District 04    2596592.50
District 05     568502.05
District 06     598888.25
District 07    6154314.74
District 08     917787.65
District 09      10875.65
District 10       8425.69
District 11       9983.31
District 12          0.00
District 13       3592.27
District 14      28926.43
Name: Code Liens - Amount, dtype: float64

In [79]:

results["What is the total amount of city liens owed on vacant land in each City Council District?"] = {
    'question_number': 23,
    'value': city_liens_total_by_district
}

results["What is the total amount of city liens owed on vacant land in each City Council District?"]

{'question_number': 23,
 'value': Council District
 District 01     141560.34
 District 02     301761.51
 District 03     214713.02
 District 04    2596592.50
 District 05     568502.05
 District 06     598888.25
 District 07    6154314.74
 District 08     917787.65
 District 09      10875.65
 District 10       8425.69
 District 11       9983.31
 District 12          0.00
 District 13       3592.27
 District 14      28926.43
 Name: Code Liens - Amount, dtype: float64}

In [80]:
#24 What is the total amount of city liens owed on vacant land in each zip code?

# Grouping and calculating the total amount of city liens owed on vacant land by City Council District
city_liens_total_by_zip = land_df.groupby('Zip Code')['Code Liens - Amount'].sum()

# Convert index (zip codes) to integers to remove the .0 decimal part
city_liens_total_by_zip.index = city_liens_total_by_zip.index.astype(int)

In [81]:

results["What is the total amount of city liens owed on vacant land in each zip code?"] = {
    'question_number': 24,
    'value': city_liens_total_by_zip
}

results["What is the total amount of city liens owed on vacant land in each zip code?"]

{'question_number': 24,
 'value': Zip Code
 75006          0.00
 75019          0.00
 75041          0.00
 75043          0.00
 75050          0.00
 75051       3603.91
 75060          0.00
 75062          0.00
 75063          0.00
 75080          0.00
 75081          0.00
 75104          0.00
 75134          0.00
 75141          0.00
 75149        171.41
 75150          0.00
 75159          0.00
 75181          0.00
 75182          0.00
 75201          0.00
 75202          0.00
 75203    1048815.36
 75204      67764.97
 75205          0.00
 75206       6015.15
 75207       5301.83
 75208      51626.08
 75209       6726.82
 75210    1908422.49
 75211     105539.91
 75212     518121.36
 75214       9092.80
 75215    3688922.43
 75216    1749897.67
 75217     602389.17
 75218       4457.29
 75219      11869.36
 75220      36165.00
 75223     399820.30
 75224      79375.76
 75225        239.61
 75226      75991.57
 75227     102223.28
 75228      13774.09
 75229       3494.22
 75230       2553.72
 75231          0.00
 75232     126316.10
 75233      23613.49
 75234       6390.27
 75235       2825.58
 75236      64811.41
 75237      25141.17
 75238       1086.43
 75240       6010.07
 75241     667637.98
 75243       7339.26
 75244          0.00
 75246      10864.55
 75247       8514.74
 75248          0.00
 75249       4719.75
 75251       1419.52
 75252          0.00
 75253      97028.94
 75254          0.00
 75270          0.00
 75287          0.00
 Name: Code Liens - Amount, dtype: float64}

In [82]:
#25 What is the total amount of city liens owed on vacant structures in each City Council District?

# Grouping and calculating the total amount of city liens owed on vacant structures by City Council District
city_liens_total_by_district_by_structure = structure_df.groupby('Council District')['Code Liens - Amount'].sum()

In [83]:

results["What is the total amount of city liens owed on vacant structures in each City Council District?"] = {
    'question_number': 25,
    'value': city_liens_total_by_district_by_structure
}

results["What is the total amount of city liens owed on vacant structures in each City Council District?"]

{'question_number': 25,
 'value': Council District
 District 01      60956.36
 District 02      96414.16
 District 03      96242.48
 District 04    1182617.26
 District 05     222558.07
 District 06     217224.27
 District 07    1056353.08
 District 08     308517.40
 District 09      70502.58
 District 10       4796.08
 District 11      34294.92
 District 12      49869.82
 District 13      12647.82
 District 14      18767.31
 Name: Code Liens - Amount, dtype: float64}

In [84]:
#26 How many properties are in the name of heirship in the City of Dallas?

#Use suspected heir prop col and combine with public owner filter
# Filter the DataFrame for properties in the City of Dallas with 'Suspected Heir Property' == 'Yes'
#Would get zero combined with City of Dallas filter
dallas_heirship_properties = (vacant_lots_df['Suspected Heir Property'] == 'Yes').sum()

In [85]:

results["How many properties are in the name of heirship in the City of Dallas?"] = {
    'question_number': 26,
    'value': dallas_heirship_properties
}

results["How many properties are in the name of heirship in the City of Dallas?"]

{'question_number': 26, 'value': 292}

In [86]:
#27 How many properties in the name of heirship in the City of Dallas are vacant in each zip code?

#apply Suspected heir to Yes and group by zip code
dallas_heirship_zip = vacant_lots_df[vacant_lots_df['Suspected Heir Property'] == 'Yes'].groupby('Zip Code').size()

# Convert index (zip codes) to integers to remove the .0 decimal part
dallas_heirship_zip.index = dallas_heirship_zip.index.astype(int)

In [87]:

results["How many properties in the name of heirship in the City of Dallas are vacant in each zip code?"] = {
    'question_number': 27,
    'value': dallas_heirship_zip
}

results["How many properties in the name of heirship in the City of Dallas are vacant in each zip code?"]

{'question_number': 27,
 'value': Zip Code
 75201     4
 75203    24
 75206     2
 75207     1
 75208     6
 75209     1
 75210    16
 75211     6
 75212    28
 75214     4
 75215    35
 75216    55
 75217     9
 75218     6
 75220     1
 75223     9
 75224     4
 75225     4
 75226     5
 75227     7
 75228    13
 75229     2
 75230     3
 75231     2
 75232     4
 75233     3
 75235     1
 75237     2
 75238     1
 75241    19
 75243     4
 75246     1
 75249     2
 75253     8
 dtype: int64}

In [88]:
#28 How many properties in the name of heirship in the City of Dallas are vacant in each council district?

#apply Suspected heir to Yes and group by council distrcit
dallas_heirship_District = vacant_lots_df[vacant_lots_df['Suspected Heir Property'] == 'Yes'].groupby('Council District').size()

In [89]:

results["How many properties in the name of heirship in the City of Dallas are vacant in each council district?"] = {
    'question_number': 28,
    'value': dallas_heirship_District
}

results["How many properties in the name of heirship in the City of Dallas are vacant in each council district?"]

{'question_number': 28,
 'value': Council District
 District 01     9
 District 02    18
 District 03    13
 District 04    65
 District 05    13
 District 06    33
 District 07    75
 District 08    29
 District 09    12
 District 10     7
 District 11     2
 District 13     7
 District 14     9
 dtype: int64}

In [90]:
#29 How many private owners have five or more vacant properties in the City of Dallas?
owner_vacant_property_counts = vacant_lots_df[
    (vacant_lots_df['Owner'] == 'Private Owner') &
    (vacant_lots_df['Owner Property Count'] >= 5)
]

owner_vacant_property_counts_view = owner_vacant_property_counts.shape[0]

In [91]:

results["How many private owners have five or more vacant properties in the City of Dallas?"] = {
    'question_number': 29,
    'value': owner_vacant_property_counts_view
}

results["How many private owners have five or more vacant properties in the City of Dallas?"]

{'question_number': 29, 'value': 0}

In [92]:
#30 How many private owners with five or more vacant properties in the City of Dallas are in each zip code?

private_5_zip = owner_vacant_property_counts.groupby('Zip Code').size()

# Convert index (zip codes) to integers to remove the .0 decimal part
private_5_zip.index = private_5_zip.index.astype(int)

In [93]:

results["How many private owners with five or more vacant properties in the City of Dallas are in each zip code?"] = {
    'question_number': 30,
    'value': private_5_zip
}

results["How many private owners with five or more vacant properties in the City of Dallas are in each zip code?"]

{'question_number': 30, 'value': Series([], dtype: int64)}

In [94]:
#31 How many private owners with five or more vacant properties in the City of Dallas are in each council district?

private_5_district=owner_vacant_property_counts.groupby('Council District').size()

In [95]:

results["How many private owners with five or more vacant properties in the City of Dallas are in each council district?"] = {
    'question_number': 31,
    'value': private_5_district
}

results["How many private owners with five or more vacant properties in the City of Dallas are in each council district?"]

{'question_number': 31, 'value': Series([], dtype: int64)}

In [96]:
#32 How many churches own vacant properties in the City of Dallas?

church_owners = vacant_lots_df[vacant_lots_df['Owner is Church'] == 'Yes']

num_church_properties = church_owners.shape[0]

In [97]:
# Using church_owners, count number of properties grouped by property type
church_property_types = church_owners.groupby('Property Type').size()

# Convert to dict
church_property_types = church_property_types.to_dict()

# Insert total number of church-owned properties
church_property_types['Total'] = num_church_properties

# Convert to a dataframe
church_property_types = pd.DataFrame(church_property_types, index=[0])

church_property_types

   Land  Structure  Total
0     2         49     51

In [98]:

results["How many churches own vacant properties in the City of Dallas?"] = {
    'question_number': 32,
    'value': church_property_types
}

results["How many churches own vacant properties in the City of Dallas?"]

{'question_number': 32,
 'value':    Land  Structure  Total
 0     2         49     51}

In [99]:
#33 How many churches owned vacant properties in the City of Dallas are in each zip code?

church_prop_zip = vacant_lots_df[vacant_lots_df['Owner is Church'] == 'Yes'].groupby('Zip Code').size()

# Convert index (zip codes) to integers to remove the .0 decimal part
church_prop_zip.index = church_prop_zip.index.astype(int)

In [100]:

results["How many churches owned vacant properties in the City of Dallas are in each zip code?"] = {
    'question_number': 33,
    'value': church_prop_zip
}

results["How many churches owned vacant properties in the City of Dallas are in each zip code?"]

{'question_number': 33,
 'value': Zip Code
 75203     2
 75211     2
 75212     5
 75215     4
 75216     7
 75217     4
 75223     1
 75224     2
 75226     2
 75227     3
 75228     1
 75232     2
 75233     2
 75237     1
 75238     1
 75241    10
 75243     1
 75254     1
 dtype: int64}

In [101]:
#34 How many are in each council district

church_prop_district = vacant_lots_df[vacant_lots_df['Owner is Church'] == 'Yes'].groupby('Council District').size()

In [102]:

results["How many are in each council district"] = {
    'question_number': 34,
    'value': church_prop_district
}

results["How many are in each council district"]

{'question_number': 34,
 'value': Council District
 District 01     2
 District 02     3
 District 03     4
 District 04     9
 District 05     3
 District 06     5
 District 07    10
 District 08    12
 District 09     1
 District 10     1
 District 11     1
 dtype: int64}