In [1]:
import pandas as pd
import os
import numpy as np
pd.options.display.max_rows = 25
pd.options.display.max_columns = 999

# **Unpickle dfs from pickle files**

In [2]:
census_df = pd.read_pickle(os.path.abspath(os.path.join('data-exports','census.pkl')))

In [3]:
census_df

,tract,county,state,Total,Hispanic or Latino,Not Hispanic or Latino,Population of one race,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some Other Race alone,Population of two or more races,Population of two races,White; Black or African American,White; American Indian and Alaska Native,White; Asian,White; Native Hawaiian and Other Pacific Islander,White; Some Other Race,Black or African American; American Indian and Alaska Native,Black or African American; Asian,Black or African American; Native Hawaiian and Other Pacific Islander,Black or African American; Some Other Race,American Indian and Alaska Native; Asian,American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander,American Indian and Alaska Native; Some Other Race,Asian; Native Hawaiian and Other Pacific Islander,Asian; Some Other Race,Native Hawaiian and Other Pacific Islander; Some Other Race,Population of three races,White; Black or African American; American Indian and Alaska Native,White; Black or African American; Asian,White; Black or African American; Native Hawaiian and Other Pacific Islander,White; Black or African American; Some Other Race,White; American Indian and Alaska Native; Asian,White; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander,White; American Indian and Alaska Native; Some Other Race,White; Asian; Native Hawaiian and Other Pacific Islander,White; Asian; Some Other Race,White; Native Hawaiian and Other Pacific Islander; Some Other Race,Black or African American; American Indian and Alaska Native; Asian,Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander,Black or African American; American Indian and Alaska Native; Some Other Race,Black or African American; Asian; Native Hawaiian and Other Pacific Islander,Black or African American; Asian; Some Other Race,Black or African American; Native Hawaiian and Other Pacific Islander; Some Other Race,American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander,American Indian and Alaska Native; Asian; Some Other Race,American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race,Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,Population of four races,White; Black or African American; American Indian and Alaska Native; Asian,White; Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander,White; Black or African American; American Indian and Alaska Native; Some Other Race,White; Black or African American; Asian; Native Hawaiian and Other Pacific Islander,White; Black or African American; Asian; Some Other Race,White; Black or African American; Native Hawaiian and Other Pacific Islander; Some Other Race,White; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander,White; American Indian and Alaska Native; Asian; Some Other Race,White; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race,White; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander,Black or African American; American Indian and Alaska Native; Asian; Some Other Race,Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race,Black or African American; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,Population of five races,White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander,White; Black or African American; American Indian and Alaska Native; Asian; Some Other Race,White; Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race,White; Black or African American; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,White; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,Population of six races,White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
0,0001.00,Dallas County,Texas,3302.0,332.0,2970.0,2843.0,2577.0,117.0,8.0,115.0,5.0,21.0,127.0,124.0,15.0,51.0,26.0,1.0,28.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0002.01,Dallas County,Texas,2383.0,186.0,2197.0,2125.0,2026.0,21.0,6.0,67.0,1.0,4.0,72.0,71.0,8.0,23.0,10.0,2.0,22.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0002.02,Dallas County,Texas,3076.0,380.0,2696.0,2588.0,2410.0,53.0,4.0,107.0,0.0,14.0,108.0,107.0,12.0,50.0,21.0,0.0,19.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0003.00,Dallas County,Texas,3886.0,387.0,3499.0,3363.0,3078.0,86.0,9.0,183.0,0.0,7.0,136.0,130.0,20.0,52.0,36.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0004.01,Dallas County,Texas,4188.0,1608.0,2580.0,2453.0,1109.0,845.0,13.0,461.0,4.0,21.0,127.0,117.0,26.0,21.0,31.0,0.0,19.0,6.0,5.0,2.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,7.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1309,1233.02,Tarrant County,Texas,6107.0,1035.0,5072.0,4973.0,3079.0,1813.0,12.0,56.0,2.0,11.0,99.0,95.0,11.0,30.0,28.0,3.0,11.0,5.0,1.0,0.0,2.0,0.0,0.0,0.0,2.0,2.0,0.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1310,1235.00,Tarrant County,Texas,2472.0,1228.0,1244.0,1209.0,169.0,915.0,5.0,114.0,0.0,6.0,35.0,35.0,18.0,1.0,0.0,0.0,0.0,6.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1311,1236.00,Tarrant County,Texas,2946.0,935.0,2011.0,1934.0,1315.0,558.0,5.0,46.0,1.0,9.0,77.0,73.0,14.0,24.0,20.0,0.0,4.0,5.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1312,1237.00,Tarrant County,Texas,3048.0,530.0,2518.0,2403.0,1957.0,300.0,12.0,132.0,0.0,2.0,115.0,114.0,14.0,40.0,32.0,0.0,25.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1313,9800.00,Tarrant County,Texas,12.0,10.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
ffiec_data = pd.read_pickle(os.path.abspath(os.path.join('data-exports','ffiec_data.pkl')))

In [5]:
# FFIEC data preporcessing
ffiec_data['Tract Income Indicator'] = \
ffiec_data['Income indicator, which identifies low, moderate, middle, and upper income areas']\
.replace({0.:"Unknown Income", 1.:"Low or Moderate Income", 2.:"Low or Moderate Income",\
          3.:"Middle Income", 4.:"Upper Income"})

In [6]:
ffiec_data

,HMDA/CRA collection year,MSA/MD Code,State,County,Census tract,Principal city flag,Small county flag,Split tract flag,Demographic data flag,Urban/rural flag,MSA/MD median family income,MSA/MD median household income,"Tract median family income as a percentage of the MSA/MD median family income. 2 decimal places, truncated.",FFIEC Estimated MSA/MD median family income,"Income indicator, which identifies low, moderate, middle, and upper income areas",CRA poverty criteria,CRA unemployment criteria,CRA distressed criteria,CRA remote rural (low density) criteria,Previous year CRA distressed criteria,Previous year CRA underserved criterion,Meets at least one of current or previous year's CRA distressed/underserved tract criteria?,Total persons,Total families,Total households,Total female population,Total male population,Total population minus non-Hispanic or latino White alone population,Minority population as percent of tract population rounded to two decimal places,Total population Hispanic and Non-Hispanic,Total population Hispanic only,Total population non-Hispanic,Total population non-Hispanic one race,Total population non-Hispanic White,Total population non-Hispanic Black/African American,Total population non-Hispanic American Indian or Alaska native,Total population non-Hispanic Asian,Total population non-Hispanic native Hawaiian or other Pacific Islander,Total population non-Hispanic some other race,Total population non-Hispanic two or more races,Total population non-Hispanic exactly two races,Total population non-Hispanic White and Black,Total population non-Hispanic White and American Indian or Alaska native,Total population non-Hispanic White and Asian,Total population non-Hispanic White and Native Hawaiian or other Pacific Islander,Total population non-Hispanic White and some other race,Total population non-Hispanic Black and American Indian or Alaska native,OMB civil rights non-Hispanic Black,OMB civil rights non-Hispanic American Indian or Alaska native,OMB civil rights non-Hispanic Asian,OMB civil rights Non-Hispanic native Hawaiian or other Pacific Islander,OMB civil rights non-Hispanic some other race,"OMB civil rights non-White, non-Hispanic two or more races",Total population Hispanic or Latino by race,Total population Hispanic or Latino and white,Total population Hispanic or Latino and Black/African-American,Total population Hispanic or Latino and American Indian or Alaska native,Total population Hispanic or Latino and Asian,Total population Hispanic or Latino and native Hawaiian or other Pacific Islander,Total population Hispanic or Latino and some other race,Total population Hispanic or Latino and two or more races,Total population by race,Total population one race,Total population White,Total population Black/African American,Total population American Indian or Alaska native,Total population Asian,Total population Native Hawaiian or other Pacific Islander,Total population some other race,Total population two or more races,Total population exactly two races,Total population White and Black,Total population White and American Indian or Alaska Native,Total population White and Asian,Total population White and Native Hawaiian or other Pacific Islander,Total population White and some other race,Total population Black and American Indian or Alaska Native,OMB civil rights Black,OMB civil rights American Indian or Alaska Native,OMB civil rights Asian,OMB civil rights Native Hawaiian or other Pacific Islander,OMB civil rights some other race,OMB civil rights two or more races,Total population urban and rural,Total population urban only,Total population inside urbanized area,Total population inside urban clusters,Total population rural only,Total population by household type,Total population in households,Total population in households by householder,Total population male householder,Male householder living alone,Male householder not living alone,Total population female householder,Female householder living alone,Female householder not living alone,Total population in households with opposite-sex spouse,Total population in households with same-sex spouse,Total population in households with opposite-sex unmarried partner,Total population in households with same-sex unmarried partner,Total population in households with child,Total population in households with biological child,Total population in households with adopted child,Total population in households with stepchild,Total population in households with grandchild,Total population in households with brother or sister,Total population in households with parent,Total population in households with parent-in-law,Total population in households with son-in-law or daughter-in-law,Total population in households with other relatives,Total population in households with foster child,Total population in households with other nonrelatives,Total population in group quarters,Total population 65 years and over,Total population 65 years and over in households,Total population 65 years and over in family households,Total population 65 years and over by householder,Total population 65 years and over with male householder,Total population 65 years and over with female householder,Total population 65 years and over living with spouse,Total population 65 years and over living with parent,Total population 65 years and over living with parent-in-law,Total population 65 years and over living with other relatives,Total population 65 years and over living with nonrelatives,Total population 65 years and over in nonfamily households,Total population 65 years and over in nonfamily household with male householder,Total male population 65 years and over in nonfamily household living alone,Total male population 65 years and over in nonfamily household not living alone,Total population 65 years and over in nonfamily household with female householder,Total female population 65 years and over in nonfamily household living alone,Total female population 65 years and over in nonfamily household not living alone,Total population 65 years and over in nonfamily household living with nonrelatives,Total population 65 years and over in group quarters,Total population by sex by age,Total male population,Total male population under 5 years,Total male population 5 to 9 years,Total male population 10 to 14 years,Total male population 15 to 17 years,Total male population 18 and 19 years,Total male population 20 years,Total male population 21 years,Total male population 22 to 24 years,Total male population 25 to 29 years,Total male population 30 to 34 years,Total male population 35 to 39 years,Total male population 40 to 44 years,Total male population 45 to 49 years,Total male population 50 to 54 years,Total male population 55 to 59 years,Total male population 60 and 61 years,Total male population 62 to 64 years,Total male population 65 and 66 years,Total male population 67 to 69 years,Total male population 70 to 74 years,Total male population 75 to 79 years,Total male population 80 to 84 years,Total male population 85 years and over,Male population under 15,Male population 15 to 17,Male population 18 to 24,Male population 25 to 39,Male population 40 to 49,Male population 50 to 61,Male population 62 and over,Male population 65 and over,Total female population,Total female population under 5 years,Total female population 5 to 9 years,Total female population 10 to 14 years,Total female population 15 to 17 years,Total female population 18 and 19 years,Total female population 20 years,Total female population 21 years,Total female population 22 to 24 years,Total female population 25 to 29 years,Total female population 30 to 34 years,Total female population 35 to 39 years,Total female population 40 to 44 years,Total female population 45 to 49 years,Total female population 50 to 54 years,Total female population 55 to 59 years,Total female population 60 and 61 years,Total female population 62 to 64 years,Total female population 65 and 66 years,Total female population 67 to 69 years,Total female population 70 to 74 years,Total female population 75 to 79 years,Total female population 80 to 84 years,Total female population 85 years and over,Female population under 15,Female population 15 to 17,Female population 18 to 24,Female population 25 to 39,Female population 40 to 49,Female population 50 to 61,Female population 62 and over,Female population 65 and over,Male and female population under 5 years,Male and female population 5 to 9 years,Male and female population 10 to 14 years,Male and female population 15 to 17 years,Male and female population 18 and 19 years,Male and female population 20 years,Male and female population 21 years,Male and female population 22 to 24 years,Male and female population 25 to 29 years,Male and female population 30 to 34 years,Male and female population 35 to 39 years,Male and female population 40 to 44 years,Male and female population 45 to 49 years,Male and female population 50 to 54 years,Male and female population 55 to 59 years,Male and female population 60 and 61 years,Male and female population 62 to 64 years,Male and female population 65 and 66 years,Male and female population 67 to 69 years,Male and female population 70 to 74 years,Male and female population 75 to 79 years,Male and female population 80 to 84 years,Male and female population 85 years and over,Male and female population under 15,Male and female population 15 to 17,Male and female population 18 to 24,Male and female population 25 to 39,Male and female population 40 to 49,Male and female population 50 to 61,Male and female population 62 and over,Male and female population 65 and over,Total male population under 16,Total female population under 16,Total male population 16 and 17,Total female population 16 and 17,Females median age,Males median age,Persons median age,Total population 5 yrs and over - age by language,Total population 5 to 17 yrs - age by language,Total 5-17 years that speak only English,Total 5-17 years that speak Spanish,Total 5-17 years that speak Spanish and English very well,Total 5-17 years that speak Spanish and English well,Total 5-17 years that speak Spanish and English not well,Total 5-17 years that speak Spanish and English not at all,Total 5-17 years that speak other Indo-European language,Total 5-17 years that speak Indo-European language and English very well,Total 5-17 years that speak Indo-European language and English well,Total 5-17 years that speak Indo-European language and English not well,Total 5-17 years that speak Indo-European language and English not at all,Total 5-17 years that speak Asian/Pacific Island language,Total 5-17 years that speak Asian/Pacific Island language and English very well,Total 5-17 years that speak Asian/Pacific Island language and English well,Total 5-17 years that speak Asian/Pacific Island language and English not well,Total 5-17 years that speak Asian/Pacific Island language and English not at all,Total 5-17 years that speak other languages,Total 5-17 years that speak other languages and English very well,Total 5-17 years that speak other languages and English well,Total 5-17 years that speak other languages and English not well,Total 5-17 years that speak other languages and English not at all,Total population 18-64 years - age by language,Total 18-64 years that speak only English,Total 18-64 years that speak Spanish,Total 18-64 years that speak Spanish and English very well,Total 18-64 years that speak Spanish and English well,Total 18-64 years that speak Spanish and English not well,Total 18-64 years that speak Spanish and English not at all,Total 18-64 years that speak other Indo-European language,Total 18-64 years that speak Indo-European language and English very well,Total 18-64 years that speak Indo-European language and English well,Total 18-64 years that speak Indo-European language and English not well,Total 18-64 years that speak Indo-European language and English not at all,Total 18-64 years that speak Asian/Pacific Island language,Total 18-64 years that speak Asian/Pacific Island language and English very well,Total 18-64 years that speak Asian/Pacific Island language and English well,Total 18-64 years that speak Asian/Pacific Island language and English not well,Total 18-64 years that speak Asian/Pacific Island language and English not at all,Total 18-64 years that speak other languages,Total 18-64 years that speak other languages and English very well,Total 18-64 years that speak other languages and English well,Total 18-64 years that speak other languages and English not well,Total 18-64 years that speak other languages and English not at all,Total 65 years and over - age by language,Total 65 years and over that speak only English,Total 65 years and over that speak Spanish,Total 65 years and over that speak Spanish and English very well,Total 65 years and over that speak Spanish and English well,Total 65 years and over that speak Spanish and English not well,Total 65 years and over that speak Spanish and English not at all,Total 65 years and over that speak other Indo-European language,Total 65 years and over that speak Indo-European language and English very well,Total 65 years and over that speak Indo-European language and English well,Total 65 years and over that speak Indo-European language and English not well,Total 65 years and over that speak Indo-European language and English not at all,Total 65 years and over that speak Asian/Pacific Island language,Total 65 years and over that speak Asian/Pacific Island language and English very well,Total 65 years and over that speak Asian/Pacific Island language and English well,Total 65 years and over that speak Asian/Pacific Island language and English not well,Total 65 years and over that speak Asian/Pacific Island language and English not at all,Total 65 years and over that speak other languages,Total 65 years and over that speak other languages and English very well,Total 65 years and over that speak other languages and English well,Total 65 years and over that speak other languages and English not well,Total 65 years and over that speak other languages and English not at all,Total population 25 years and over,Total male population 25 years and over,Total male population 25 years and over - no schooling,Total male population 25 years and over - nursery to 4th grade,Total male population 25 years and over - 5th and 6th grades,Total male population 25 years and over - 7th and 8th grades,Total male population 25 years and over - 9th grade,Total male population 25 years and over - 10th grade,Total male population 25 years and over - 11th grade,Total male population 25 years and over - 12th grade - no diploma,Total male high school graduate (includes equivalency),Total male population 25 years and over - some college - less than 1 year,Total male population 25 years and over - some college -1 or more years,Total male population 25 years and over - associate degree,Total male population 25 years and over - bachelor's degree,Total male population 25 years and over - master's degree,Total male population 25 years and over - professional degree,Total male population 25 years and over - doctorate degree,Total female population 25 years and over,Total female population 25 years and over - no schooling,Total female population 25 years and over - nursery to 4th grade,Total female population 25 years and over - 5th and 6th grades,Total female population 25 years and over - 7th and 8th grades,Total female population 25 years and over - 9th grade,Total female population 25 years and over - 10th grade,Total female population 25 years and over - 11th grade,Total female population 25 years and over - 12th grade - no diploma,Total female high school graduate (includes equivalency),Total female population 25 years and over - some college - less thn 1 year,Total female population 25 years and over - some college -1 or more years,Total female population 25 years and over - associate degree,Total female population 25 years and over - bachelor's degree,Total female population 25 years and over - master's degree,Total female population 25 years and over - professional degree,Total female population 25 years and over - doctorate degree,Total population in group quarters by major group quarters type,Total institutionalized population by major group quarters type,Total population in correctional facilities for adults,Total population in juvenile facilities,Total population in nursing facilities/skilled-nursing facilities,Total population in other institutional facilities,Total noninstitutionalized population by major group quarters type,Total population in college/university student housing,Total population in military quarters,Total population in other noninstitutionalized facilities,Total population 16 and over,Total male population 16 and over,Total male population 16 and over in labor force,Total male population 16 and over in Armed Forces,Total male population 16 and over - civilians,Total male population 16 and over - employed,Total male population 16 and over - unemployed,Total male population 16 and over not in labor force,Total female population 16 and over,Total female population 16 and over in labor force,Total female population 16 and over in Armed Forces,Total female population 16 and over - civilians,Total female population 16 and over - employed,Total female population 16 and over - unemployed,Total female population 16 and over not in labor force,Total number of households,"Total number of households < $10,000","Total number of households $10,000 to $14,999","Total number of households $15,000 to $19,999","Total number of households $20,000 to $24,999","Total number of households $25,000 to $29,999","Total number of households $30,000 to $34,999","Total number of households $35,000 to $39,999","Total number of households $40,000 to $44,999","Total number of households $45,000 to $49,999","Total number of households $50,000 to $59,999","Total number of households $60,000 to $74,999","Total number of households $75,000 to $99,999","Total number of households $100,000 to $124,999","Total number of households $125,000 to $149,999","Total number of households $150,000 to $199,999","Total number of households $200,000 or more",Median household income - tract level,Total number of White households,"Total number of White households < $10,000","Total number of White households $10,000 to $14,999","Total number of White households $15,000 to $19,999","Total number of White households $20,000 to $24,999","Total number of White households $25,000 to $29,999","Total number of White households $30,000 to $34,999","Total number of White households $35,000 to $39,999","Total number of White households $40,000 to $44,999","Total number of White households $45,000 to $49,999","Total number of White households $50,000 to $59,999","Total number of White households $60,000 to $74,999","Total number of White households $75,000 to $99,999","Total number of White households $100,000 to $124,999","Total number of White households $125,000 to $149,999","Total number of White households $150,000 to $199,999","Total number of White households $200,000 or more",Total number of Black or African American households,"Total number of Black households < $10,000","Total number of Black households $10,000 to $14,999","Total number of Black households $15,000 to $19,999","Total number of Black households $20,000 to $24,999","Total number of Black households $25,000 to $29,999","Total number of Black households $30,000 to $34,999","Total number of Black households $35,000 to $39,999","Total number of Black households $40,000 to $44,999","Total number of Black households $45,000 to $49,999","Total number of Black households $50,000 to $59,999","Total number of Black households $60,000 to $74,999","Total number of Black households $75,000 to $99,999","Total number of Black households $100,000 to $124,999","Total number of Black househo

In [7]:
hmda_dict_lar_df = pd.read_pickle(os.path.abspath(os.path.join('data-exports','hmda_dict_lar_df.pkl')))

In [8]:
category_lst = ['derived_loan_product_type', 'loan_type','loan_purpose','lien_status',\
                'open_end_line_of_credit','business_or_commercial_purpose',\
                'debt_to_income_ratio','applicant_credit_score_type','applicant_sex',\
                'applicant_age']

In [9]:
# define helper function to for data pre-processing 
def bin_category(df:pd.core.frame.DataFrame, cols_to_check:list, threshold:int, normalize_inpt:bool = False, cnt_or_prp = 'count'):
    for category_col in cols_to_check:
        temp_df = df[category_col].value_counts(normalize = normalize_inpt).reset_index()
        replace_map = {val_under_threshold:'Other' for val_under_threshold in temp_df[temp_df[cnt_or_prp] < threshold][category_col]}
        if len(replace_map) > 1:
            df[category_col] = df[category_col].replace(replace_map)
    return df

In [10]:
bin_category(hmda_dict_lar_df, category_lst, 200)

,activity_year,lei,derived_msa_md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,reverse_mortgage,open_end_line_of_credit,business_or_commercial_purpose,loan_amount,combined_loan_to_value_ratio,interest_rate,rate_spread,hoepa_status,total_loan_costs,total_points_and_fees,origination_charges,discount_points,lender_credits,loan_term,prepayment_penalty_term,intro_rate_period,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,property_value,construction_method,occupancy_type,manufactured_home_secured_property_type,manufactured_home_land_property_interest,total_units,multifamily_affordable_units,income,debt_to_income_ratio,applicant_credit_score_type,co_applicant_credit_score_type,applicant_ethnicity_1,applicant_ethnicity_2,applicant_ethnicity_3,applicant_ethnicity_4,applicant_ethnicity_5,co_applicant_ethnicity_1,co_applicant_ethnicity_2,co_applicant_ethnicity_3,co_applicant_ethnicity_4,co_applicant_ethnicity_5,applicant_ethnicity_observed,co_applicant_ethnicity_observed,applicant_race_1,applicant_race_2,applicant_race_3,applicant_race_4,applicant_race_5,co_applicant_race_1,co_applicant_race_2,co_applicant_race_3,co_applicant_race_4,co_applicant_race_5,applicant_race_observed,co_applicant_race_observed,applicant_sex,co_applicant_sex,applicant_sex_observed,co_applicant_sex_observed,applicant_age,co_applicant_age,applicant_age_above_62,co_applicant_age_above_62,submission_of_application,initially_payable_to_institution,aus_1,aus_2,aus_3,aus_4,aus_5,denial_reason_1,denial_reason_2,denial_reason_3,denial_reason_4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units,aus-4
1,2022,RVDPPPGHCGZ40J4VQ731,19124,TEXAS,Collin County,0313.14,NaN,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Black or African American,Male,Loan originated,Ginnie Mae,Preapproval not requested,Federal Housing Administration insured (FHA),Home purchase,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Not primarily for a business or commercial pur...,445000,92.74,6.75,0.847,Not a high-cost mortgage,16155.19,NaN,4290.4,3276.4,NaN,360.0,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,475000.0,Site-built,Principal residence,Not applicable,Not applicable,1,NaN,202.0,46,Not applicable,Experian Fair Isaac,Not Hispanic or Latino,NaN,NaN,NaN,NaN,"Information not provided by applicant in mail,...",NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,Not collected on the basis of visual observati...,Black or African American,White,NaN,NaN,NaN,"Information not provided by applicant in mail,...",NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,Not collected on the basis of visual observati...,Male,"Information not provided by applicant in mail,...",Not collected on the basis of visual observati...,Not collected on the basis of visual observati...,45-54,35-44,No,No,Not submitted directly to your institution,Initially payable to your institution,Technology Open to Approved Lenders (TOTAL) Sc...,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,6001,39.96,97400,150.0,1255,1431,14,NaN
27,2022,RVDPPPGHCGZ40J4VQ731,23104,TEXAS,Tarrant County,1115.63,NaN,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Asian,Joint,Application withdrawn by applicant,Not applicable,Preapproval not requested,Conventional (not insured or guaranteed by FHA...,Home purchase,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Not primarily for a business or commercial pur...,235000,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,NaN,NaN,360.0,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,NaN,Site-built,Principal residence,Not applicable,Not applicable,1,NaN,29.0,NaN,Not applicable,Not applicable,Not Hispanic or Latino,NaN,NaN,NaN,NaN,Not Hispanic or Latino,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,Not collected on the basis of visual observati...,Asian,Vietnamese,NaN,NaN,NaN,Asian,Vietnamese,NaN,NaN,NaN,Not collected on the basis of visual observati...,Not collected on the basis of visual observati...,Male,Female,Not collected on the basis of visual observati...,Not collected on the basis of visual observati...,35-44,35-44,No,No,Not submitted directly to your institution,Initially payable to your institution,Not applicable,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,5127,86.11,92400,146.0,1190,1263,15,NaN
53,2022,RVDPPPGHCGZ40J4VQ731,23104,TEXAS,Tarrant County,1044.00,NaN,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Male,Application withdrawn by applicant,Not applicable,Preapproval not requested,Conventional (not insured or guaranteed by FHA...,Home purchase,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Primarily for a business or commercial purpose,245000,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,NaN,NaN,360.0,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,NaN,Site-built,Investment property,Not applicable,Not applicable,1,NaN,164.0,NaN,Not applicable,Not applicable,Not Hispanic or Latino,NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,White,NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,Male,No co-applicant,Not collected on the basis of visual observati...,No co-applicant,35-44,9999,No,NaN,Not submitted directly to your institution,Initially payable to your institution,Desktop Underwriter (DU),NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,5241,64.61,92400,86.0,1045,2116,78,NaN
85,2022,RVDPPPGHCGZ40J4VQ731,19124,TEXAS,Collin County,0313.30,NaN,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Joint,Joint,Application withdrawn by applicant,Not applicable,Preapproval not requested,Conventional (not insured or guaranteed by FHA...,Home purchase,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Not primarily for a business or commercial pur...,445000,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,NaN,NaN,360.0,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,NaN,Site-built,Principal residence,Not applicable,Not applicable,1,NaN,140.0,NaN,Not applicable,Not applicable,Not Hispanic or Latino,NaN,NaN,NaN,NaN,Not Hispanic or Latino,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,Not collected on the basis of visual observati...,Black or African American,NaN,NaN,NaN,NaN,White,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,Not collected on the basis of visual observati...,Male,Female,Not collected on the basis of visual observati...,Not collected on the basis of visual observati...,35-44,35-44,No,No,Not submitted directly to your institution,Initially payable to your institution,Not applicable,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,5905,44.93,97400,133.0,1150,1562,12,NaN
145,2022,RVDPPPGHCGZ40J4VQ731,19124,TEXAS,Dallas County,0139.02,NaN,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,Application denied,Not applicable,Preapproval not requested,Conventional (not insured or guaranteed by FHA...,Refinancing,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Primarily for a business or commercial purpose,265000,75.0,NaN,NaN,Not applicable,NaN,NaN,NaN,NaN,NaN,360.0,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,355000.0,Site-built,Investment property,Not applicable,Not applicable,1,NaN,130.0,>60%,Equifax Beacon 5.0,No co-applicant,"Information not provided by applicant in mail,...",NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,"Information not provided by applicant in mail,...",NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,"Information not provided by applicant in mail,...",No co-applicant,Not collected on the basis of visual observati...,No co-applicant,55-64,9999,No,NaN,Not submitted directly to your institution,Initially payable to your institution,Loan Prospector (LP) or Loan Product Advisor,NaN,NaN,NaN,NaN,Credit application incomplete,NaN,NaN,NaN,4278,62.90,97400,97.0,1430,1644,61,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16079831,2022,RVDPPPGHCGZ40J4VQ731,19124,TEXAS,Collin County,0313.36,NaN,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Asian,Male,Loan originated,Freddie Mac,Preapproval not requested,Conventional (not insured or guaranteed by FHA...,Home purchase,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Not primarily for a business or commercial pur...,505000,80.0,4.99,-0.504,Not a high-cost mortgage,10261.87,NaN,4633.0,3545.0,NaN,360,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,625000.0,Site-built,Principal residence,Not applicable,Not applicable,1,NaN,141.0,30%-<36%,Equifax Beacon 5.0,No co-applicant,Not Hispanic or Latino,NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,Asian,Asian Indian,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,Male,No co-applicant,Not collected on the basis of visual observati...,No co-applicant,25-34,9999,No,NaN,Not submitted directly to your institution,Initially payable to your institution,Desktop Underwriter (DU),NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,5486,48.45,97400,186.0,1107,1164,6,NaN
16079834,2022,RVDPPPGHCGZ40J4VQ731,19124,TEXAS,Collin County,0303.04,NaN,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Asian,Male,Application withdrawn by applicant,Not applicable,Preapproval not requested,Conventional (not insured or guaranteed by FHA...,Home purchase,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Not primarily for a business or commercial pur...,615000,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,NaN,NaN,360,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,NaN,Site-built,Principal residence,Not applicable,Not applicable,1,NaN,128.0,NaN,Not applicable,Not applicable,Not Hispanic or Latino,NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,Asian,Asian Indian,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,Male,No co-applicant,Not collected on the basis of visual observati...,No co-applicant,35-44,9999,No,NaN,Not submitted directly to your institution,Initially payable to your institution,Loan Prospector (LP) or Loan Product Advisor,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,7973,29.00,97400,169.0,1752,2146,6,NaN
16079928,2022,RVDPPPGHCGZ40J4VQ731,19124,TEXAS,Collin County,0314.25,NaN,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Asian,Male,Application withdrawn by applicant,Not applicable,Preapproval not requested,Conventional (not insured or guaranteed by FHA...,Home purchase,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Not primarily for a business or commercial pur...,485000,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,NaN,NaN,360,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,NaN,Site-built,Principal residence,Not applicable,Not applicable,1,NaN,160.0,NaN,Not applicable,Not applicable,Not Hispanic or Latino,NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,Asian,Asian Indian,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,Male,No co-applicant,Not collected on the basis of visual observati...,No co-applicant,25-34,9999,No,NaN,Not submitted directly to your institution,Initially payable to your institution,Desktop Underwriter (DU),NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,5725,44.61,97400,127.0,1302,1776,26,NaN
16080004,2022,RVDPPPGHCGZ40J4VQ731,19124,TEXAS,Dallas County,0181.37,NaN,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,Loan originated,Ginnie Mae,Preapproval not requested,Federal Housing Administration insured (FHA),Home purchase,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Not primarily for a business or commercial pur...,365000,86.12,5.625,0.401,Not a high-cost mortgage,23947.53,NaN,13586.1,5252.1,NaN,360,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,425000.0,Site-built,Principal residence,Not applicable,Not applicable,1,NaN,99.0,50%-60%,FICO Risk Score Classic 04,No co-applicant,"Information not provided by applicant in mail,...",NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,"Information not provided by applicant in mail,...",NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,"Information not provided by applicant in mail,...",No co-applicant,Not collected on the basis of visual observati...,No co-applicant,45-54,9999,No,NaN,Not submitted directly to your institution,Initially payable to your institution,Technology Open to Approved Lenders (TOTAL) Sc...,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,4145,70.16,97400,101.0,956,1133,31,NaN
16080059,2022,RVDPPPGHCGZ40J4VQ731,19124,TEXAS,Dallas County,0080.00,NaN,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Joint,Application denied,Not applicable,Preapproval not requested,Conventional (not insured or guaranteed by FHA...,Home purchase,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Not primarily for a business or commercial pur...,645000,47.78,NaN,NaN,Not applicable,NaN,NaN,NaN,NaN,NaN,360,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,1355000.0,Site-built,Principal residence,Not applicable,Not applicable,1,NaN,528.0,<20%,Not applicable,Not applicable,Not Hispanic or Latino,NaN,NaN,NaN,NaN,Not Hispanic or Latino,NaN,NaN,NaN,NaN,Collected on the basis of visual observation o...,Collected on the basis of visual observation o...,White,NaN,NaN,NaN,NaN,White,NaN,NaN,NaN,NaN,Collected on the basis of visual observation o...,Collected on the basis of visual observation o...,Female,Male,Collected on the basis of visual observation o...,Collected on the basis of visual observation o...,55-64,65-74,No,Yes,Not submitted directly to your institution,Initially payable to your institution,Not applicable,NaN,NaN,NaN,NaN,Credit application incomplete,NaN,NaN,NaN,7652,16.41,97400,283.0,2486,2735,56,NaN

In [11]:
hmda_dict_lar_df['derived_loan_product_type'].value_counts()

derived_loan_product_type
Conventional:First Lien          184567
Conventional:Subordinate Lien     28817
FHA:First Lien                    25178
VA:First Lien                     10591
Other                               145
Name: count, dtype: int64

In [12]:
hmda_dict_lar_df['applicant_credit_score_type'].value_counts()

applicant_credit_score_type
Not applicable                        104502
Equifax Beacon 5.0                     47507
Experian Fair Isaac                    38431
FICO Risk Score Classic 04             37258
Other credit scoring model             13556
More than one credit scoring model      4427
Exempt                                  1861
VantageScore 3.0                         962
FICO Risk Score Classic 98               455
VantageScore 2.0                         179
Name: count, dtype: int64

In [13]:
# binning certain values to further preprocess hmda data 

dti_replace_map = {dti_val:'36%-<50%' for dti_val in hmda_dict_lar_df['debt_to_income_ratio']  if str(dti_val) in str(set(range(36,50)))}
hmda_dict_lar_df['debt_to_income_ratio'] = hmda_dict_lar_df['debt_to_income_ratio'].replace(dti_replace_map).replace({np.nan:'Unknown'})
hmda_dict_lar_df['applicant_age'] = hmda_dict_lar_df['applicant_age'].replace({'8888':'Not applicable'})

In [14]:
hmda_dict_lar_df['debt_to_income_ratio'].value_counts(dropna = False)

debt_to_income_ratio
Unknown     96824
36%-<50%    75512
30%-<36%    23032
20%-<30%    22327
50%-60%     12205
>60%         8913
<20%         8625
Exempt       1860
Name: count, dtype: int64

In [15]:
hmda_dict_lar_df['applicant_age'].value_counts()

applicant_age
35-44             62895
45-54             48870
25-34             47370
55-64             30377
Not applicable    25276
65-74             14923
8888               8601
>74                5950
<25                5036
Name: count, dtype: int64

In [16]:
hmda_dict_panel_df = pd.read_pickle(os.path.abspath(os.path.join('data-exports','hmda_dict_panel_df.pkl')))

In [17]:
hmda_dict_panel_df

,activity_year,lei,tax_id,agency_code,id_2017,respondent_rssd,respondent_name,respondent_state,respondent_city,assets,other_lender_code,parent_rssd,parent_name,topholder_rssd,topholder_name
0,2022,5493009YXZEN8325UC34,46-3986756,Department of Housing and Urban Development,NaN,4877394.0,"HOME MORTGAGE ALLIANCE, LLC",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022,B4TYDEB6GKMZO031MB27,94-1687665,Consumer Financial Protection Bureau,480228,480228.0,"Bank of America, National Association",NC,Charlotte,2.519525e+09,NaN,1379552.0,BANA HOLDING CORPORATION,1073757.0,BANK OF AMERICA CORPORATION
2,2022,5493000YNV8IX4VD3X12,62-0997810,Department of Housing and Urban Development,1936928,1936928.0,"VANDERBILT MORTGAGE AND FINANCE, INC.",TN,KNOXVILLE,NaN,Independent mortgage banking subsidiary,NaN,NaN,NaN,NaN
3,2022,549300VZVN841I2ILS84,57-1175755,Department of Housing and Urban Development,4183602,4183602.0,"CROSSCOUNTRY MORTGAGE, INC.",OH,AKRON,NaN,Independent mortgage banking subsidiary,NaN,NaN,NaN,NaN
4,2022,549300CB67L6KPJLHE19,59-1515932,Department of Housing and Urban Development,4320902,4320902.0,"TRIAD FINANCIAL SERVICES, INC.",FL,JACKSONVILLE,NaN,Independent mortgage banking subsidiary,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4462,2022,549300MX0RKEMMAWWU19,16-0750181,National Credit Union Administration,NaN,426093.0,RADIUS FEDERAL CREDIT UNION,NY,Kenmore,6.405400e+04,Independent mortgage banking subsidiary,NaN,NaN,NaN,NaN
4463,2022,98450052F6ADED36DC76,04-6066641,National Credit Union Administration,NaN,101091.0,LUSO-AMERICAN CREDIT UNION,MA,Peabody,1.278360e+05,Independent mortgage banking subsidiary,NaN,NaN,NaN,NaN
4464,2022,549300QB357BUUUV7A56,20-1286388,Office of the Comptroller of the Currency,NaN,3610718.0,OLD DOMINION NATIONAL BANK,VA,NORTH GARDEN,8.374990e+05,NaN,5727601.0,NaN,5727601.0,NaN
4465,2022,5493000JFVFQFL816N45,62-1700716,Federal Reserve System,NaN,2594240.0,ENCORE BANK,AR,Little Rock,1.632951e+06,Independent mortgage banking subsidiary,2777016.0,NaN,2777016.0,NaN
4466,2022,549300O4KTZGM04CCZ47,36-3679911,National Credit Union Administration,NaN,1862625.0,Abbott Laboratories Employees Credit Union,IL,Gurnee,1.021053e+06,Independent mortgage banking subsidiary,NaN,NaN,NaN,NaN

In [18]:
cra_2022_transmittal_sheet = pd.read_pickle(os.path.abspath(os.path.join('data-exports','CRA2022_Transmittal.pkl')))

In [19]:
cra_2022_transmittal_sheet

,Respondent ID,Agency Code,Activity Year,Institution name,Institution address,Institution city,Institution state,Institution zip code,Tax ID,ID_RSSD,Institution assets
0,0000000001,OCC,2022,"WELLS FARGO BANK, N.A.",420 MONTGOMERY STREET,SAN FRANCISCO,CA,94104,94-1347393,451965,1779504000
1,0000000008,OCC,2022,"JPMORGAN CHASE BANK, NA",1111 POLARIS PARKWAY,COLUMBUS,OH,43240,13-4994650,852218,3306982000
2,0000000024,OCC,2022,US BANK NA,777 E WISCONSIN AVE,MILWAUKEE,WI,53202,31-0841368,504713,564154604
3,0000000047,OCC,2022,"FIRST FINANCIAL BANK, NA","1401 S THIRD ST, PO BOX 2122",TERRE HAUTE,IN,47802,35-0704860,693345,5045573
4,0000000209,OCC,2022,FIRST NATIONAL BANK OF OMAHA,1620 DODGE STREET,OMAHA,NE,68197,47-0259043,527954,26812859
...,...,...,...,...,...,...,...,...,...,...,...
706,0000090215,FDIC,2022,AVIDIA BANK,42 MAIN STREET,HUDSON,MA,01749,04-3395834,619701,2328512
707,0000090227,FDIC,2022,LOWELL FIVE CENT SAVINGS BANK,30 INTERNATIONAL PLACE,TEWKSBURY,MA,01876,45-3131005,923707,1668813
708,0000090250,FDIC,2022,INSTITUTION FOR SAVINGS,93 STATE ST,NEWBURYPORT,MA,01950,04-1471660,272302,4534739
709,0000090290,FDIC,2022,UNIBANK FOR SAVINGS,49 CHURCH STREET,WHITINSVILLE,MA,01588,04-1927940,709602,2378833
710,0000090297,FDIC,2022,WEBSTER FIVE CENTS SAVINGS BAN,35 MILLBURY STREET,AUBURN,MA,01501,04-1953630,765505,1068257

In [20]:
cra2022_Discl_D11_df = pd.read_pickle(os.path.abspath(os.path.join('data-exports','cra2022_Discl_D11.pkl')))

In [21]:
cra2022_Discl_D11_df

,Table ID,Respondent ID,Agency Code,Activity Year,Loan Type,Action Taken Type,State,County,MSA/MD,Assessment Area Number,Partial County Indicator,Split County Indicator,Population Classification,Income Group Total,Report Level,"Number of Small Business Loans Originated with Loan Amount at Origination < or = to $100,000","Total Loan Amount of Small Business Loans Originated with Loan Amount at Origination < or = to $100,000","Number of Small Business Loans Originated with Loan Amount at Origination > 100,000 and < or = to $250,000","Total Loan Amount of Small Business Loans Originated with Loan Amount at Origination > $100,000 and < or = to $250,000","Number of Small Business Loans Originated with Loan Amount at Origination > $250,000 and < or = to $1,000,000","Total Loan Amount of Small Business Loans Originated with Loan Amount at Origination > $250,000 and < or = to $1,000,000",Number of Loans Originated to Small Businesses with Gross Annual Revenues < $1 million,Total Loan Amount of Loans Originated to Small Businesses with Gross Annual Revenues < or = to $1 million,Number of Small Business Loans Originated Reported as Affiliate Loans,Total Loan Amount of Small Business Loans Originated Reported as Affiliate Loans
17073,D1-1,0000000001,OCC,2022,Small Business,Originations,TEXAS,Collin County,19124.0,427.0,No,No,"counties with >500,000 in population",< 10% of Median Family Income(MFI),not a total,0,0,0,0,0,0,0,0,0,0
17074,D1-1,0000000001,OCC,2022,Small Business,Originations,TEXAS,Collin County,19124.0,427.0,No,No,"counties with >500,000 in population",10% to 20% of MFI,not a total,0,0,0,0,0,0,0,0,0,0
17075,D1-1,0000000001,OCC,2022,Small Business,Originations,TEXAS,Collin County,19124.0,427.0,No,No,"counties with >500,000 in population",20% to 30% of MFI,not a total,0,0,0,0,0,0,0,0,0,0
17076,D1-1,0000000001,OCC,2022,Small Business,Originations,TEXAS,Collin County,19124.0,427.0,No,No,"counties with >500,000 in population",30% to 40% of MFI,not a total,0,0,0,0,0,0,0,0,0,0
17077,D1-1,0000000001,OCC,2022,Small Business,Originations,TEXAS,Collin County,19124.0,427.0,No,No,"counties with >500,000 in population",40% to 50% of MFI,not a total,1,91000,1,102000,0,0,0,0,2,193000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983215,D1-1,0000059093,FDIC,2022,Small Business,Originations,TEXAS,Dallas County,19124.0,5.0,No,No,"counties with >500,000 in population",110% to 120% of MFI,not a total,0,0,0,0,0,0,0,0,0,0
983216,D1-1,0000059093,FDIC,2022,Small Business,Originations,TEXAS,Dallas County,19124.0,5.0,No,No,"counties with >500,000 in population",> or = to 120% of MFI,not a total,0,0,0,0,0,0,0,0,0,0
983217,D1-1,0000059093,FDIC,2022,Small Business,Originations,TEXAS,Dallas County,19124.0,5.0,No,No,"counties with >500,000 in population",MFI not known (income percentage = 0),not a total,0,0,0,0,0,0,0,0,0,0
983218,D1-1,0000059093,FDIC,2022,Small Business,Originations,TEXAS,Dallas County,19124.0,5.0,No,No,"counties with >500,000 in population",Tract not Known (reported as NA),not a total,0,0,0,0,0,0,0,0,0,0
983219,D1-1,0000059093,FDIC,2022,Small Business,Originations,TEXAS,Dallas County,19124.0,5.0,total,total,total,total,County Total,0,0,0,0,1,660000,1,660000,0,0

In [22]:
# Join transmittal sheet to 2022 cra d11 file 
cra2022_Discl_D11_df = pd.merge(cra2022_Discl_D11_df,
         cra_2022_transmittal_sheet,
         left_on = [
             'Respondent ID',
             'Agency Code'],
         right_on = [
             'Respondent ID',
             'Agency Code'],
         how = 'left')

In [23]:
cra2022_Discl_D11_df

,Table ID,Respondent ID,Agency Code,Activity Year_x,Loan Type,Action Taken Type,State,County,MSA/MD,Assessment Area Number,Partial County Indicator,Split County Indicator,Population Classification,Income Group Total,Report Level,"Number of Small Business Loans Originated with Loan Amount at Origination < or = to $100,000","Total Loan Amount of Small Business Loans Originated with Loan Amount at Origination < or = to $100,000","Number of Small Business Loans Originated with Loan Amount at Origination > 100,000 and < or = to $250,000","Total Loan Amount of Small Business Loans Originated with Loan Amount at Origination > $100,000 and < or = to $250,000","Number of Small Business Loans Originated with Loan Amount at Origination > $250,000 and < or = to $1,000,000","Total Loan Amount of Small Business Loans Originated with Loan Amount at Origination > $250,000 and < or = to $1,000,000",Number of Loans Originated to Small Businesses with Gross Annual Revenues < $1 million,Total Loan Amount of Loans Originated to Small Businesses with Gross Annual Revenues < or = to $1 million,Number of Small Business Loans Originated Reported as Affiliate Loans,Total Loan Amount of Small Business Loans Originated Reported as Affiliate Loans,Activity Year_y,Institution name,Institution address,Institution city,Institution state,Institution zip code,Tax ID,ID_RSSD,Institution assets
0,D1-1,0000000001,OCC,2022,Small Business,Originations,TEXAS,Collin County,19124.0,427.0,No,No,"counties with >500,000 in population",< 10% of Median Family Income(MFI),not a total,0,0,0,0,0,0,0,0,0,0,2022,"WELLS FARGO BANK, N.A.",420 MONTGOMERY STREET,SAN FRANCISCO,CA,94104,94-1347393,451965,1779504000
1,D1-1,0000000001,OCC,2022,Small Business,Originations,TEXAS,Collin County,19124.0,427.0,No,No,"counties with >500,000 in population",10% to 20% of MFI,not a total,0,0,0,0,0,0,0,0,0,0,2022,"WELLS FARGO BANK, N.A.",420 MONTGOMERY STREET,SAN FRANCISCO,CA,94104,94-1347393,451965,1779504000
2,D1-1,0000000001,OCC,2022,Small Business,Originations,TEXAS,Collin County,19124.0,427.0,No,No,"counties with >500,000 in population",20% to 30% of MFI,not a total,0,0,0,0,0,0,0,0,0,0,2022,"WELLS FARGO BANK, N.A.",420 MONTGOMERY STREET,SAN FRANCISCO,CA,94104,94-1347393,451965,1779504000
3,D1-1,0000000001,OCC,2022,Small Business,Originations,TEXAS,Collin County,19124.0,427.0,No,No,"counties with >500,000 in population",30% to 40% of MFI,not a total,0,0,0,0,0,0,0,0,0,0,2022,"WELLS FARGO BANK, N.A.",420 MONTGOMERY STREET,SAN FRANCISCO,CA,94104,94-1347393,451965,1779504000
4,D1-1,0000000001,OCC,2022,Small Business,Originations,TEXAS,Collin County,19124.0,427.0,No,No,"counties with >500,000 in population",40% to 50% of MFI,not a total,1,91000,1,102000,0,0,0,0,2,193000,2022,"WELLS FARGO BANK, N.A.",420 MONTGOMERY STREET,SAN FRANCISCO,CA,94104,94-1347393,451965,1779504000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9099,D1-1,0000059093,FDIC,2022,Small Business,Originations,TEXAS,Dallas County,19124.0,5.0,No,No,"counties with >500,000 in population",110% to 120% of MFI,not a total,0,0,0,0,0,0,0,0,0,0,2022,IBC OKLAHOMA,3817 NW EXPRESSWAY,OKLAHOMA CITY,OK,73112,81-4702064,5050028,1953409
9100,D1-1,0000059093,FDIC,2022,Small Business,Originations,TEXAS,Dallas County,19124.0,5.0,No,No,"counties with >500,000 in population",> or = to 120% of MFI,not a total,0,0,0,0,0,0,0,0,0,0,2022,IBC OKLAHOMA,3817 NW EXPRESSWAY,OKLAHOMA CITY,OK,73112,81-4702064,5050028,1953409
9101,D1-1,0000059093,FDIC,2022,Small Business,Originations,TEXAS,Dallas County,19124.0,5.0,No,No,"counties with >500,000 in population",MFI not known (income percentage = 0),not a total,0,0,0,0,0,0,0,0,0,0,2022,IBC OKLAHOMA,3817 NW EXPRESSWAY,OKLAHOMA CITY,OK,73112,81-4702064,5050028,1953409
9102,D1-1,0000059093,FDIC,2022,Small Business,Originations,TEXAS,Dallas County,19124.0,5.0,No,No,"counties with >500,000 in population",Tract not Known (reported as NA),not a total,0,0,0,0,0,0,0,0,0,0,2022,IBC OKLAHOMA,3817 NW EXPRESSWAY,OKLAHOMA CITY,OK,73112,81-4702064,5050028,1953409
9103,D1-1,0000059093,FDIC,2022,Small Business,Originations,TEXAS,Dallas County,19124.0,5.0,total,total,total,total,County Total,0,0,0,0,1,660000,1,660000,0,0,2022,IBC OKLAHOMA,3817 NW EXPRESSWAY,OKLAHOMA CITY,OK,73112,81-4702064,5050028,1953409

In [24]:
# subset of cra data for dashboard
cra_2022_D11_subset = cra2022_Discl_D11_df[[
    'Respondent ID',
    'Agency Code',
    'Institution name',
    'Institution address',
    'Institution city',
    'Institution state',
    'Institution zip code',
    'Institution assets',
    'County',
    'Population Classification',
    'Income Group Total']\
+ cra2022_Discl_D11_df.columns.to_list()[15:25]].reset_index()

# reset index to list counting from 0 to len of range of original index col
cra_2022_D11_subset['index'] = list(range(0,len(cra_2022_D11_subset['index'])))

# set index on new index column
cra_2022_D11_subset = cra_2022_D11_subset.set_index('index')

# get indices of full d11 dataframe as set
all_d11_indices = set(cra_2022_D11_subset.index.to_list())

# get indices of subset d11 df containing rows that have totals as entries
d11_totals_indices = set(cra_2022_D11_subset[cra_2022_D11_subset['Population Classification'] == 'total'].index.to_list())

# find indices from full d11 df that do not have totals entires
d11_indices_no_totals = list(all_d11_indices - d11_totals_indices)
cra_2022_D11_subset = cra_2022_D11_subset.iloc[d11_indices_no_totals,:]

In [25]:
cra_2022_D11_subset

,Respondent ID,Agency Code,Institution name,Institution address,Institution city,Institution state,Institution zip code,Institution assets,County,Population Classification,Income Group Total,"Number of Small Business Loans Originated with Loan Amount at Origination < or = to $100,000","Total Loan Amount of Small Business Loans Originated with Loan Amount at Origination < or = to $100,000","Number of Small Business Loans Originated with Loan Amount at Origination > 100,000 and < or = to $250,000","Total Loan Amount of Small Business Loans Originated with Loan Amount at Origination > $100,000 and < or = to $250,000","Number of Small Business Loans Originated with Loan Amount at Origination > $250,000 and < or = to $1,000,000","Total Loan Amount of Small Business Loans Originated with Loan Amount at Origination > $250,000 and < or = to $1,000,000",Number of Loans Originated to Small Businesses with Gross Annual Revenues < $1 million,Total Loan Amount of Loans Originated to Small Businesses with Gross Annual Revenues < or = to $1 million,Number of Small Business Loans Originated Reported as Affiliate Loans,Total Loan Amount of Small Business Loans Originated Reported as Affiliate Loans
index,,,,,,,,,,,,,,,,,,,,,
0,0000000001,OCC,"WELLS FARGO BANK, N.A.",420 MONTGOMERY STREET,SAN FRANCISCO,CA,94104,1779504000,Collin County,"counties with >500,000 in population",< 10% of Median Family Income(MFI),0,0,0,0,0,0,0,0,0,0
1,0000000001,OCC,"WELLS FARGO BANK, N.A.",420 MONTGOMERY STREET,SAN FRANCISCO,CA,94104,1779504000,Collin County,"counties with >500,000 in population",10% to 20% of MFI,0,0,0,0,0,0,0,0,0,0
2,0000000001,OCC,"WELLS FARGO BANK, N.A.",420 MONTGOMERY STREET,SAN FRANCISCO,CA,94104,1779504000,Collin County,"counties with >500,000 in population",20% to 30% of MFI,0,0,0,0,0,0,0,0,0,0
3,0000000001,OCC,"WELLS FARGO BANK, N.A.",420 MONTGOMERY STREET,SAN FRANCISCO,CA,94104,1779504000,Collin County,"counties with >500,000 in population",30% to 40% of MFI,0,0,0,0,0,0,0,0,0,0
4,0000000001,OCC,"WELLS FARGO BANK, N.A.",420 MONTGOMERY STREET,SAN FRANCISCO,CA,94104,1779504000,Collin County,"counties with >500,000 in population",40% to 50% of MFI,1,91000,1,102000,0,0,0,0,2,193000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9098,0000059093,FDIC,IBC OKLAHOMA,3817 NW EXPRESSWAY,OKLAHOMA CITY,OK,73112,1953409,Dallas County,"counties with >500,000 in population",100% to 110% of MFI,0,0,0,0,0,0,0,0,0,0
9099,0000059093,FDIC,IBC OKLAHOMA,3817 NW EXPRESSWAY,OKLAHOMA CITY,OK,73112,1953409,Dallas County,"counties with >500,000 in population",110% to 120% of MFI,0,0,0,0,0,0,0,0,0,0
9100,0000059093,FDIC,IBC OKLAHOMA,3817 NW EXPRESSWAY,OKLAHOMA CITY,OK,73112,1953409,Dallas County,"counties with >500,000 in population",> or = to 120% of MFI,0,0,0,0,0,0,0,0,0,0
9101,0000059093,FDIC,IBC OKLAHOMA,3817 NW EXPRESSWAY,OKLAHOMA CITY,OK,73112,1953409,Dallas County,"counties with >500,000 in population",MFI not known (income percentage = 0),0,0,0,0,0,0,0,0,0,0
9102,0000059093,FDIC,IBC OKLAHOMA,3817 NW EXPRESSWAY,OKLAHOMA CITY,OK,73112,1953409,Dallas County,"counties with >500,000 in population",Tract not Known (reported as NA),0,0,0,0,0,0,0,0,0,0

In [26]:
cra2022_Discl_D6_df = pd.read_pickle(os.path.abspath(os.path.join('data-exports','cra2022_Discl_D6.pkl')))

In [27]:
cra2022_Discl_D6_df = pd.merge(cra2022_Discl_D6_df,
         cra_2022_transmittal_sheet,
         left_on = [
             'Respondent ID',
             'Agency Code'],
         right_on = [
             'Respondent ID',
             'Agency Code'],
         how = 'left')

In [28]:
cra2022_Discl_D6_df

,Table ID,Respondent ID,Agency Code,Activity Year_x,State,County,MSA/MD,Census Tract,Assessment Area Number,Partial County Indicator,Split County Indicator,Population Classification,Income Group,Loan Indicator,Filler,Activity Year_y,Institution name,Institution address,Institution city,Institution state,Institution zip code,Tax ID,ID_RSSD,Institution assets
0,D6-0,0000000001,OCC,2022,TEXAS,Collin County,19124.0,0317.20,427.0,No,No,"counties with >500,000 in population",40% to 50% of MFI,Yes,NaN,2022,"WELLS FARGO BANK, N.A.",420 MONTGOMERY STREET,SAN FRANCISCO,CA,94104,94-1347393,451965,1779504000
1,D6-0,0000000001,OCC,2022,TEXAS,Collin County,19124.0,0317.23,427.0,No,No,"counties with >500,000 in population",40% to 50% of MFI,No,NaN,2022,"WELLS FARGO BANK, N.A.",420 MONTGOMERY STREET,SAN FRANCISCO,CA,94104,94-1347393,451965,1779504000
2,D6-0,0000000001,OCC,2022,TEXAS,Collin County,19124.0,0304.09,427.0,No,No,"counties with >500,000 in population",50% to 60% of MFI,Yes,NaN,2022,"WELLS FARGO BANK, N.A.",420 MONTGOMERY STREET,SAN FRANCISCO,CA,94104,94-1347393,451965,1779504000
3,D6-0,0000000001,OCC,2022,TEXAS,Collin County,19124.0,0320.12,427.0,No,No,"counties with >500,000 in population",50% to 60% of MFI,Yes,NaN,2022,"WELLS FARGO BANK, N.A.",420 MONTGOMERY STREET,SAN FRANCISCO,CA,94104,94-1347393,451965,1779504000
4,D6-0,0000000001,OCC,2022,TEXAS,Collin County,19124.0,0305.40,427.0,No,No,"counties with >500,000 in population",60% to 70% of MFI,Yes,NaN,2022,"WELLS FARGO BANK, N.A.",420 MONTGOMERY STREET,SAN FRANCISCO,CA,94104,94-1347393,451965,1779504000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99253,D6-0,0000059093,FDIC,2022,TEXAS,Dallas County,19124.0,0079.15,5.0,No,No,"counties with >500,000 in population",MFI not known (income percentage = 0),No,NaN,2022,IBC OKLAHOMA,3817 NW EXPRESSWAY,OKLAHOMA CITY,OK,73112,81-4702064,5050028,1953409
99254,D6-0,0000059093,FDIC,2022,TEXAS,Dallas County,19124.0,0100.02,5.0,No,No,"counties with >500,000 in population",MFI not known (income percentage = 0),No,NaN,2022,IBC OKLAHOMA,3817 NW EXPRESSWAY,OKLAHOMA CITY,OK,73112,81-4702064,5050028,1953409
99255,D6-0,0000059093,FDIC,2022,TEXAS,Dallas County,19124.0,0141.42,5.0,No,No,"counties with >500,000 in population",MFI not known (income percentage = 0),No,NaN,2022,IBC OKLAHOMA,3817 NW EXPRESSWAY,OKLAHOMA CITY,OK,73112,81-4702064,5050028,1953409
99256,D6-0,0000059093,FDIC,2022,TEXAS,Dallas County,19124.0,9800.00,5.0,No,No,"counties with >500,000 in population",MFI not known (income percentage = 0),No,NaN,2022,IBC OKLAHOMA,3817 NW EXPRESSWAY,OKLAHOMA CITY,OK,73112,81-4702064,5050028,1953409
99257,D6-0,0000059093,FDIC,2022,TEXAS,Dallas County,19124.0,9801.00,5.0,No,No,"counties with >500,000 in population",MFI not known (income percentage = 0),No,NaN,2022,IBC OKLAHOMA,3817 NW EXPRESSWAY,OKLAHOMA CITY,OK,73112,81-4702064,5050028,1953409

In [29]:
fdic_institutions_df = pd.read_pickle(os.path.abspath(os.path.join('data-exports','fdic_institutions_df.pkl')))

In [30]:
fdic_institutions_df

,FDIC Certificate #,index,State Name,OTS Docket Number,Institution Status,Street Address,Total assets,Institution Class,Change Code 1,Change Code 2,Change Code 3,Change Code 4,Change Code 5,Change Code 6,Change Code 7,Change Code 8,Change Code 9,Change Code 10,Change Code 11,Change Code 12,Change Code 13,Change Code 14,Change Code 15,OCC Charter Number,Chartering Agency,Conservatorship,City,Numeric Code,Consolidated Metropolitan Statistical Division Number,Consolidated Metropolitan Statistical Area,County,Last update,Denovo Institution,Total deposits,Last Structure Change Effective Date,End date,Equity capital,Established Date,FDIC Geographic Region,FDIC Supervisory Region,Federal Reserve District,Federal Reserve ID Number,Federal Reserve ID Number 2,Federal charter flag,FDIC Field Office,Insured offices of foreign banks,Inactive,Primary Insurance Agency,Secondary Insurance Fund,Date of Deposit Insurance,Credit Card Institutions,Bank Insurance Fund,Insured commercial banks,Deposit Insurance Fund member,FDIC Insured,SAIF Insured,Insured Savings Institution,Metropolitan Statistical Area Number,Metropolitan Statistical Area (MSA),Institution name,New certificate number,Oakar Institutions,OTS District,Office of Thrift Supervision Region,Last Structure Change Process Date,Quarterly Banking Profile Commercial Bank Region,Primary Regulator,Report Date,Report Date,State Charter,Return on assets (ROA),Quarterly return on assets,Return on Equity (ROE),Quarterly return on equity,Run Date,Sasser Institutions,Law Sasser Flag,State Alpha code,State and county number,State Number,Zip Code,Supervisory Region Number,Office of the Comptroller,FDIC's unique number,Ultimate Cert,CFPB Effective Date,CFPB End Date,CFPB Flag,Secondary Regulator,Web Site URL 01,Web Site URL 02,Web Site URL 03,Web Site URL 04,Web Site URL 05,Web Site URL 06,Web Site URL 07,Web Site URL 08,Web Site URL 09,Web Site URL 10,Trade Name 01,Trade Name 02,Trade Name 03,Trade Name 04,Trade Name 05,Trade Name 06,Primary Internet Web Address,Office,Directly owned by another bank (CERT),Directly owned by another bank (CERT),City of High Holder,Deposits held in domestic offices,FFIEC Call Report 31 Filer,Bank Holding Company Type,Agricultural lending institution indicator,Ownership Type,Bank Holding Company (Regulatory Top Holder),Net income,Net income - quarterly,Number of Domestic Offices,Number of Foreign Offices,Number of US Offices,RSSDID - High Regulatory Holder,Regulatory holding company state location,Subchapter S Corporations,Pretax return on assets,Quarterly Pretax return on assets,Trust Powers,Asset Concentration Hierarchy,Specialization Group,Institutions with reportable fiduciary related service,Combined Statistical Area Name,Combined Statistical Area Number (Branch),CSA Area Flag,Core Based Statistical Area Name,Core Based Statistical Areas,Metropolitan Division Name,Metropolitan Division Number,Metropolitan Division Flag,Micropolitan Division Flag,Metropolitan Divisions Name,Metropolitan Divisions Number,Metropolitan Divisions Flag,Community Bank
0,17772,0,Ohio,13876,Institution closed or not insured by FDIC,7001 Center Street,208001.0,"Commercial bank, state charter, Fed non-member...",223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,STATE,NaN,Mentor,NaN,28,"Cleveland-Akron, OH",Lake,01/14/2004,0.0,193300.0,12/13/2003,12/13/2003,14234.0,1957-06-13,9,Chicago,Chicago,Cleveland,592822,0,Columbus,0,1,BIF,NaN,06/13/1957,0.0,1,1,No,1,0,0,1680,"Cleveland-Lorain-Elyria, OH",Great Lakes Bank,5982,0,3.0,Central,01/14/2004,3,Federal Deposit Insurance Corporation,09/30/2003,06/30/2023,yes,0.774869,1.01,10.87,14.30,09/29/2023,0,NaN,OH,39085,39,44060,Chicago,3,11726,6560,9999-12-31,9999-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,MENTOR,193300.0,no,NaN,0.0,0.0,GLB BCORP INC,1112.0,500.0,13.0,0.0,0.0,2571755.0,OH,0.0,1.179723,1.53,0.0,4.0,Commercial Lending Specialization,0.0,"Cleveland-Akron-Canton, OH",184.0,NaN,"Cleveland-Elyria, OH",17460.0,"Cleveland-Elyria, OH",17460,Yes,No,NaN,NaN,No,1.0
1,17778,1,Massachusetts,7919,Institution closed or not insured by FDIC,143 Chestnut Street,427949.0,"State chartered stock savings banks, supervise...",211.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,STATE,NaN,Holyoke,NaN,0,NaN,Hampden,08/20/1992,0.0,432557.0,03/27/1992,03/27/1992,-23948.0,1855-05-01,2,New York,New York,Boston,612908,0,Windsor,0,1,BIF,STATE,08/09/1989,0.0,1,0,No,1,0,1,8000,"Springfield, MA",Vanguard Savings Bank,26305,0,1.0,Northeast,04/10/1992,1,Federal Deposit Insurance Corporation,12/31/1991,06/30/2023,yes,-11.160125,-1.45,-789.76,0.00,09/29/2023,0,NaN,MA,25013,25,1040,New York,1,11731,3510,9999-12-31,9999-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,HOLYOKE,432557.0,no,NaN,0.0,0.0,AFFILIATED BANC CORP,-54206.0,-1646.0,8.0,0.0,0.0,1249860.0,MA,0.0,-11.423656,-2.14,0.0,4.0,Commercial Lending Specialization,NaN,NaN,NaN,NaN,"Springfield, MA",44140.0,"Springfield, MA",44140,Yes,No,NaN,NaN,No,1.0
2,17786,2,Illinois,0,Institution closed or not insured by FDIC,Main Street,38183.0,"Commercial bank, state charter, Fed non-member...",223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,STATE,NaN,Vienna,NaN,0,NaN,Johnson,10/20/1998,0.0,32777.0,10/01/1998,10/01/1998,5071.0,1957-07-02,9,Chicago,Chicago,St. Louis,140849,0,Mount Vernon,0,1,BIF,NaN,07/02/1957,0.0,1,1,No,1,0,0,0,NaN,The First State Bank of Vienna,14743,0,3.0,Central,10/20/1998,3,Federal Deposit Insurance Corporation,09/30/1998,06/30/2023,yes,1.373847,1.50,10.83,11.64,09/29/2023,0,NaN,IL,17087,17,62995,Chicago,3,11737,3832,9999-12-31,9999-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,VIENNA,32777.0,no,NaN,0.0,0.0,1ST BCORP VIENNA,401.0,145.0,1.0,0.0,0.0,1137024.0,IL,0.0,1.959702,2.12,0.0,8.0,All Other Under 1 Billion,NaN,NaN,NaN,NaN,"Carbondale-Marion, IL",16060.0,"Carbondale-Marion, IL",16060,Yes,No,NaN,NaN,No,1.0
3,17788,3,Missouri,0,Institution closed or not insured by FDIC,9201 Ward Parkway,119314.0,"Commercial bank, state charter, Fed non-member...",223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,STATE,NaN,Kansas City,NaN,0,NaN,Jackson,04/23/1991,0.0,96422.0,03/29/1991,03/29/1991,10342.0,1957-08-01,11,Kansas City,Kansas City,Kansas city,702452,0,Kansas City,0,1,BIF,NaN,08/01/1957,0.0,1,1,No,1,0,0,3760,"Kansas City, MO-KS",United Missouri Bank South,13601,0,5.0,West,04/23/1991,4,Federal Deposit Insurance Corporation,12/31/1990,06/30/2023,yes,0.789992,0.82,9.49,9.61,09/29/2023,0,NaN,MO,29095,29,64114,Kansas City,4,11739,8273,9999-12-31,9999-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,KANSAS CITY,96422.0,no,yes,0.0,0.0,UNITED MISSOURI BANCSHARES INC,952.0,248.0,2.0,0.0,0.0,1049828.0,MO,0.0,0.972553,1.03,1.0,7.0,Other Specialized Under 1 Billion,NaN,"Kansas City-Overland Park-Kansas City, MO-KS",312.0,NaN,"Kansas City, MO-KS",28140.0,"Kansas City, MO-KS",28140,Yes,No,NaN,NaN,No,0.0
4,17810,4,Illinois,12335,Institution closed or not insured by FDIC,678 Lee Street,250680.0,"Commercial bank, national (federal) charter, F...",223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14820,OCC,NaN,Des Plaines,NaN,14,"Chicago-Gary-Kenosha, IL-IN-WI",Cook,01/23/2002,0.0,211068.0,01/15/2002,01/15/2002,24019.0,1957-11-14,9,Chicago,Chicago,Chicago,791531,1,Chicago,0,1,BIF,NaN,11/14/1957,0.0,1,1,No,1,0,0,1600,"Chicago, IL","PlainsBank of Illinois, National Association",12229,0,3.0,Central,01/23/2002,3,Office of the Comptroller of Currency,12/31/2001,06/30/2023,no,1.215097,1.18,13.18,12.14,09/29/2023,0,NaN,IL,17031,17,60016,Chicago,3,11758,12229,9999-12-31,9999-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,DES PLAINES,211068.0,no,NaN,0.0,0.0,PLAINS FINANCIAL CORP,3090.0,744.0,4.0,0.0,0.0,1132355.0,IL,1.0,1.234366,1.19,0.0,4.0,Commercial Lending Specialization,0.0,"Chicago-Naperville, IL-IN-WI",176.0,NaN,"Chicago-Naperville-Elgin, IL-IN-WI",16980.0,"Chicago-Naperville-Elgin, IL-IN-WI",16980,Yes,No,"Chicago-Naperville-Evanston, IL",16984.0,Yes,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27818,35090,27818,Louisiana,0,Institution closed or not insured by FDIC,600 Southwest Railroad Avenue,105580.0,"Commercial bank, state charter, Fed non-member...",223.0,820.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,STATE,NaN,Hammond,NaN,0,NaN,Tangipahoa,09/27/2013,0.0,84384.0,05/01/2013,05/01/2013,12315.0,2000-01-19,13,Dallas,Dallas,Atlanta,2875592,0,Baton Rouge,0,1,DIF,NaN,01/19/2000,0.0,0,1,Yes,1,0,0,0,NaN,First Community Bank,58316,0,4.0,Western,09/27/2013,5,Federal Deposit Insurance Corporation,03/31/2013,06/30/2023,yes,-0.336068,-0.34,-2.87,-2.87,09/29/2023,0,NaN,LA,22105,22,70403,Dallas,5,74668,58316,9999-12-31,9999-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,HAMMOND,84384.0,no,NaN,0.0,0.0,FIRST COMMUNITY HOLDING CO,-89.0,-89.0,2.0,0.0,0.0,3311640.0,LA,0.0,-0.336068,-0.34,0.0,4.0,Commercial Lending Specialization,0.0,"New Orleans-Metairie-Hammond, LA-MS",406.0,NaN,"Hammond, LA",25220.0,"Hammond, LA",25220,Yes,No,NaN,NaN,No,1.0
27819,7748,27819,Pennsylvania,9875,Institution closed or not insured by FDIC,1240 Broadcasting Road,1945388.0,"Commercial bank, state charter, Fed non-member...",223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,STATE,NaN,Wyomissing,NaN,0,NaN,Berks,01/06/2022,0.0,1717486.0,01/01/2022,01/01/2022,199110.0,1891-04-08,2,New York,New York,Philadelphia,678717,0,Harrisburg,0,1,DIF,NaN,01/01/1934,0.0,0,1,Yes,1,0,0,6680,"Reading, PA",VIST Bank,609,0,1.0,Northeast,01/06/2022,1,Federal Deposit Insurance Corporation,12/31/2021,06/30/2023,yes,0.579254,-0.20,5.64,-1.96,09/29/2023,0,NaN,PA,42011,42,19610,New York,1,4999,609,9999-12-31,9999-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,ITHACA,1717486.0,no,yes,0.0,0.0,TOMPKINS FINANCIAL CORP,11546.0,-995.0,23.0,0.0,0.0,2367921.0,NY,0.0,0.692938,-0.30,0.0,4.0,Commercial Lending Specialization,0.0,"Philadelphia-Reading-Camden, PA-NJ-DE-MD",428.0,NaN,"Reading, PA",39740.0,"Reading, PA",39740,Yes,No,NaN,NaN,No,0.0
27820,5439,27820,Nebraska,0,Institutions that are currently open and insur...,448 N Minden Ave,190292.0,"Commercial bank, state charter, Fed non-member...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,STATE,NaN,Minden,NaN,0,NaN,Kearney,08/31/2022,0.0,146481.0,08/31/2022,12/31/9999,29752.0,1883-09-01,11,Kansas City,Kansas City,Kansas city,456054,0,Grand Island,0,0,DIF,NaN,01/01/1934,0.0,0,1,Yes,1,0,0,0,NaN,Minden Exchange Bank & Trust Company,0,0,5.0,West,08/31/2022,4,Federal Deposit Insurance Corporation,06/30/2023,06/30/2023,yes,1.790436,1.88,11.81,12.35,09/29/2023,0,NaN,NE,31099,31,68959,Kansas City,4,3682,5439,9999-12-31,9999-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,www.mindenexchange.com,1.0,NaN,0.0,MINDEN,146481.0,no,NaN,1.0,0.0,ARMSTRONG FINANCIAL CO,1711.0,912.0,1.0,0.0,0.0,2540283.0,NE,0.0,2.049949,2.14,1.0,2.0,Agricultural Specialization,1.0,NaN,NaN,NaN,"Kearney, NE",28260.0,NaN,0,No,Yes,NaN,NaN,No,1.0
27821,90240,27821,Massachusetts,0,Institution closed or not insured by FDIC,1 West Main Street,75190.0,"State chartered stock savings banks, supervise...",221.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,STATE,NaN,Merrimac,NaN,7,"Boston-Worcester-Lawrence, MA-NH-ME-CT",Essex,11/12/2015,0.0,70028.0,11/01/2015,11/01/2015,5091.0,1871-04-19,2,New York,New York,Boston,875909,0,North Boston,0,1,DIF,NaN,08/09/1989,0.0,0,0,Yes,1,0,1,4160,"Lawrence, MA-NH",Merrimac Savings Bank,26484,0,1.0,Northeast,11/12/2015,1,Federal Deposit Insurance Corporation,09/30/2015,06/30/2023,yes,0.362851,0.07,5.36,1.04,09/29/2023,0,NaN,MA,25009,25,1860,New York,1,17830,26484,9999-12-31,9999-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,70028.0,no,NaN,0.0,1.0,NaN,203.0,13.0,2.0,0.0,0.0,NaN,NaN,0.0,0.421837,-0.01,0.0,8.0,All Other Under 1 Billion,0.0,"Boston-Worcester-Providence, MA-RI-NH-CT",148.0,NaN,"Boston-Cambridge-Newton, MA-NH",14460.0,"Boston-Cambridge-Newton, MA-NH",14460,Yes,No,"Cambridge-Newton-Framingham, MA",15764.0,Yes,1.0
27822,16982,27822,Illinois,12730,Institutions that are currently open and insur...,300 W Washington St,962430.0,"Commercial bank, state charter, Fed member, an...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,STATE,NaN,Pontiac,NaN,0,NaN,Livingston,08/31/2022,0.0,800039.0,08/31/2022,12/31/9999,94878.0,1947-09-06,9,Chicago,Chicago,Chicago,930442,0,Champaign,0,0,DIF,NaN,01/29/1951,0.0,0,1,Yes,1,0,0,0,NaN,Bank of Pontiac,0,0,3.0,Central,08/31/2022,3,NaN,06/30/2023,06/30/2023,yes,1.435521,1.43,15.08,14.61,09/29/2023,0,NaN,IL,17105,17,61764,Chicago,3,11056,16982,9999-12-31,9999-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.bankofpontiac.com,11.0,NaN,0.0,PONTIAC,800039.0,no,NaN,0.0,0.0,PONTIAC BCORP INC,6920.0,3412.0,11.0,0.0,0.0,1207712.0,IL,0.0,1.932353,1.92,1.0,4.0,Commercial Lending Specialization,1.0,"Bloomington-Pontiac, IL",145.0,NaN,"Pontiac, IL",38700.0,NaN,0,No,Yes,NaN,NaN,No,1.0

In [31]:
fdic_locations_df = pd.read_pickle(os.path.abspath(os.path.join('data-exports','fdic_locations_df.pkl')))

In [32]:
fdic_locations_df

,index,Branch Address,Institution Class,Core Based Statistical Area Name (Branch),Metropolitan Divisions Name (Branch),Metropolitan Divisions Flag (Branch),Metropolitan Divisions Number (Branch),Metropolitan Division Number (Branch),Metropolitan Division Flag (Branch),Metropolitan Division Name (Branch),Micropolitan Division Flag (Branch),Core Based Statistical Areas (Branch),Institution FDIC Certificate #,Branch City,Branch County,Combined Statistical Area Name (Branch),Combined Statistical Area Flag (Branch),Combined Statistical Area Number (Branch),Branch Established Date,FDIC UNINUM of the Owner Institution,Main Office,Institution Name,Office Name,Branch Number,Run Date,Service Type Code,Branch State Abbreviation,State and County Number,Branch State,Unique Identification Number for a Branch Office,Branch Zip Code,County_from_Zipcode,idx_branch_number,_fips_state_name,_tract,_block,_fips_county_name,_latitude,_longitude,extensions,Branch identifier,Branch street address,Match result,Match type
0,56,12524 N Beach St,"Commercial bank, national (federal) charter an...","Dallas-Fort Worth-Arlington, TX","Fort Worth-Arlington-Grapevine, TX",Yes,23104.0,19100,Yes,"Dallas-Fort Worth-Arlington, TX",No,19100,3510,Fort Worth,Tarrant County,"Dallas-Fort Worth, TX-OK",Yes,206.0,2013-10-07,2238,0,"Bank of America, National Association",TIMBERLAND CROSSING BRANCH,9744,09/29/2023,NaN,TX,48439,Texas,544684,76244,Tarrant County,(56) 9744,TEXAS,1139.42,3019,Tarrant County,32.954916250849465,-97.28116256017745,{'latitute': '32.954916250849465'},(56) 9744,"12524 N Beach St, Fort Worth, TX, 76244",Match,Exact
1,57,6015 Weldon Howell Pkwy,"Commercial bank, national (federal) charter an...","Dallas-Fort Worth-Arlington, TX","Dallas-Plano-Irving, TX",Yes,19124.0,19100,Yes,"Dallas-Fort Worth-Arlington, TX",No,19100,628,Dallas,Dallas County,"Dallas-Fort Worth, TX-OK",Yes,206.0,2013-10-04,417,0,"JPMorgan Chase Bank, National Association",PRESTON CENTER MOTOR BANK BRANCH,7827,09/29/2023,NaN,TX,48113,Texas,544713,75225,Dallas County,(57) 7827,TEXAS,0073.01,2027,Dallas County,32.861180685718466,-96.80820366420835,{'latitute': '32.861180685718466'},(57) 7827,"6015 Weldon Howell Pkwy, Dallas, TX, 75225",Match,Exact
2,76,6925 Preston Rd,"Commercial bank, state charter and Fed member,...","Dallas-Fort Worth-Arlington, TX","Dallas-Plano-Irving, TX",Yes,19124.0,19100,Yes,"Dallas-Fort Worth-Arlington, TX",No,19100,12614,Dallas,Dallas County,"Dallas-Fort Worth, TX-OK",Yes,206.0,2014-01-10,8010,0,Origin Bank,"BTH BANK, A DIVISION OF BANKTEXAS NA BRANCH",73,09/29/2023,NaN,TX,48113,Texas,557401,75205,Dallas County,(76) 73,TEXAS,0195.02,1018,Dallas County,32.84936695631433,-96.80432344619965,{'latitute': '32.84936695631433'},(76) 73,"6925 Preston Rd, Dallas, TX, 75205",Match,Exact
3,171,100 Crescent Ct,"Commercial bank, national (federal) charter an...","Dallas-Fort Worth-Arlington, TX","Dallas-Plano-Irving, TX",Yes,19124.0,19100,Yes,"Dallas-Fort Worth-Arlington, TX",No,19100,91325,Dallas,Dallas County,"Dallas-Fort Worth, TX-OK",Yes,206.0,2015-11-01,18316,0,CIBC National Trust Company,CIBC NATIONAL TRUST COMPANY DALLAS BRANCH,15,09/29/2023,NaN,TX,48113,Texas,580574,75201,Dallas County,(171) 15,TEXAS,0018.02,1021,Dallas County,32.79446647285579,-96.80331932817637,{'latitute': '32.79446647285579'},(171) 15,"100 Crescent Ct, Dallas, TX, 75201",Match,Exact
4,208,5825 Edwards Ranch Rd,"Commercial bank, state charter and Fed member,...","Dallas-Fort Worth-Arlington, TX","Fort Worth-Arlington-Grapevine, TX",Yes,23104.0,19100,Yes,"Dallas-Fort Worth-Arlington, TX",No,19100,57414,Fort Worth,Tarrant County,"Dallas-Fort Worth, TX-OK",Yes,206.0,2017-07-24,363318,0,Worthington Bank,EDWARDS RANCH BRANCH,3,09/29/2023,NaN,TX,48439,Texas,590336,76109,Tarrant County,(208) 3,TEXAS,1054.05,1023,Tarrant County,32.70783983911434,-97.41039592845334,{'latitute': '32.70783983911434'},(208) 3,"5825 Edwards Ranch Rd, Fort Worth, TX, 76109",Match,Exact
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1280,79636,290 S Preston Rd,"Commercial bank, state charter and Fed nonmemb...","Dallas-Fort Worth-Arlington, TX","Dallas-Plano-Irving, TX",Yes,19124.0,19100,Yes,"Dallas-Fort Worth-Arlington, TX",No,19100,21074,Prosper,Collin County,"Dallas-Fort Worth, TX-OK",Yes,206.0,2018-01-16,14563,0,Texas Bank,PROSPER BRANCH,10,09/29/2023,NaN,TX,48085,Texas,601960,75078,Collin County,(79636) 10,TEXAS,0303.04,3043,Collin County,33.23386444696479,-96.79093251726454,{'latitute': '33.23386444696479'},(79636) 10,"290 S Preston Rd, Prosper, TX, 75078",Match,Exact
1281,79669,16475 Dallas Pkwy,"Commercial bank, national (federal) charter an...","Dallas-Fort Worth-Arlington, TX","Dallas-Plano-Irving, TX",Yes,19124.0,19100,Yes,"Dallas-Fort Worth-Arlington, TX",No,19100,1208,Addison,Dallas County,"Dallas-Fort Worth, TX-OK",Yes,206.0,2018-10-09,827,0,"Guaranty Bank & Trust, N.A.",BENT TREE TOWER BR,42,09/29/2023,NaN,TX,48113,Texas,606343,75001,Dallas County,(79669) 42,TEXAS,0136.27,1007,Dallas County,32.973743410514146,-96.82218943756209,{'latitute': '32.973743410514146'},(79669) 42,"16475 Dallas Pkwy, Addison, TX, 75001",Match,Exact
1282,79693,5068 W Plano Pkwy,"Commercial bank, state charter and Fed nonmemb...","Dallas-Fort Worth-Arlington, TX","Dallas-Plano-Irving, TX",Yes,19124.0,19100,Yes,"Dallas-Fort Worth-Arlington, TX",No,19100,4239,Plano,Collin County,"Dallas-Fort Worth, TX-OK",Yes,206.0,2019-05-07,2782,0,First United Bank and Trust Company,PLANO LPO/DPO,86,09/29/2023,NaN,TX,48085,Texas,612667,75093,Collin County,(79693) 86,TEXAS,0316.49,1024,Collin County,33.01624834204205,-96.79897852639061,{'latitute': '33.01624834204205'},(79693) 86,"5068 W Plano Pkwy, Plano, TX, 75093",Match,Exact
1283,79768,550 W Davis St,"Commercial bank, national (federal) charter an...","Dallas-Fort Worth-Arlington, TX","Dallas-Plano-Irving, TX",Yes,19124.0,19100,Yes,"Dallas-Fort Worth-Arlington, TX",No,19100,2270,Dallas,Dallas County,"Dallas-Fort Worth, TX-OK",Yes,206.0,2020-02-10,1506,0,"Zions Bancorporation, N.A.",Bishop Arts,618,09/29/2023,NaN,TX,48113,Texas,620450,75208,Dallas County,(79768) 618,TEXAS,0047.00,2004,Dallas County,32.749388974322414,-96.83098409890812,{'latitute': '32.749388974322414'},(79768) 618,"550 W Davis St, Dallas, TX, 75208",Match,Exact
1284,79868,2051 Airport Fwy,"Commercial bank, state charter and Fed member,...","Dallas-Fort Worth-Arlington, TX","Fort Worth-Arlington-Grapevine, TX",Yes,23104.0,19100,Yes,"Dallas-Fort Worth-Arlington, TX",No,19100,5510,Euless,Tarrant County,"Dallas-Fort Worth, TX-OK",Yes,206.0,2021-12-20,3739,0,Frost Bank,Euless Branch,273,09/29/2023,NaN,TX,48439,Texas,641608,76040,Tarrant County,(79868) 273,TEXAS,1135.12,1004,Tarrant County,32.83732324911426,-97.11487085900444,{'latitute': '32.83732324911426'},(79868) 273,"2051 Airport Fwy, Euless, TX, 76040",Match,Non_Exact

In [33]:
sba_data = pd.read_pickle(os.path.abspath(os.path.join('data-exports','sba_data.pkl')))

In [34]:
# subset for 'Paid In Full', 'Charged Off', and 'The status of loans that have been disbursed but have not been cancelled,
# paid in full, or charged off are exempt from disclosure under FOIA Exemption 4'

sba_data = sba_data[(sba_data['LoanStatus'] == 'Paid In Full') |\
(sba_data['LoanStatus'] == 'Charged Off') |\
(sba_data['LoanStatus'] == 'The status of loans that have been disbursed but have not been cancelled, paid in full, \
or charged off are exempt from disclosure under FOIA Exemption 4')]

In [35]:
sba_data

,index,AsOfDate,Program,Borrower name,Borrower street address_x,Borrower city,Borrower state,Borrower zip code,BankName,BankFDICNumber,BankNCUANumber,BankStreet,BankCity,BankState,BankZip,Total loan amount,SBAGuaranteedApproval,ApprovalDate,ApprovalFiscalYear,FirstDisbursementDate,DeliveryMethod,Subprogram description,InitialInterestRate,TermInMonths,NaicsCode,NaicsDescription,FranchiseCode,FranchiseName,ProjectCounty,ProjectState,SBADistrictOffice,CongressionalDistrict,BusinessType,BusinessAge,LoanStatus,PaidInFullDate,ChargeOffDate,GrossChargeOffAmount,RevolverStatus,JobsSupported,SOLDSECMRTIND,County_from_Zipcode,_fips_state_name,_tract,_block,_fips_county_name,_latitude,_longitude,extensions,Borrower identifier,Borrower street address_y,Match result,Match type,county_final
14,103266,20230930,7A,(103266) Forester Haynie PLLC,400 SAINT PAUL ST Suite 700,DALLAS,TEXAS,75201,Texas Security Bank,58739.0,NaN,1212 Turtle Creek Blvd,DALLAS,TX,75207,200000.0,100000.0,2022-01-04,2022,01/28/2022,SBA Express,FA$TRK (Small Loan Express),5.25,12,541110.0,Offices of Lawyers,NaN,NaN,DALLAS,TX,DALLAS / FT WORTH DISTRICT OFFICE,30.0,CORPORATION,Existing or more than 2 years old,Paid In Full,05/31/2022,NaN,0,Revolver,3,NaN,Dallas County,NaN,0000NAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dallas County
18,103339,20230930,7A,(103339) Aspire Technical Solutions LL,1475 HERITAGE PKWY SUITE 201,MANSFIELD,TEXAS,76063,Celtic Bank Corporation,57056.0,NaN,"268 S State St, Ste 300",SALT LAKE CITY,UT,84111,150000.0,127500.0,2022-01-05,2022,01/14/2022,Preferred Lender Program,Guaranty,6.00,120,541512.0,Computer Systems Design Services,NaN,NaN,TARRANT,TX,DALLAS / FT WORTH DISTRICT OFFICE,6.0,CORPORATION,Existing or more than 2 years old,The status of loans that have been disbursed b...,NaN,NaN,0,Term,2,Sold on the secondary market,Tarrant County,TEXAS,1113.09,2003,Tarrant County,32.55325719311065,-97.12222046413416,{'latitute': '32.55325719311065'},(103339) Aspire Technical Solutions LL,"1475 HERITAGE PKWY SUITE 201, MANSFIELD, TEXAS...",Match,Exact,Tarrant County
19,103341,20230930,7A,(103341) Kmandy Investments L.L.C.,6509 San Judas Street,McKinney,TEXAS,75070,Celtic Bank Corporation,57056.0,NaN,"268 S State St, Ste 300",SALT LAKE CITY,UT,84111,586700.0,440025.0,2022-01-05,2022,01/11/2022,Preferred Lender Program,Guaranty,6.00,120,454210.0,Vending Machine Operators,S2056,WaterStation,COLLIN,TX,DALLAS / FT WORTH DISTRICT OFFICE,3.0,CORPORATION,"Startup, Loan Funds will Open Business",The status of loans that have been disbursed b...,NaN,NaN,0,Term,1,Sold on the secondary market,Collin County,TEXAS,0305.40,2006,Collin County,33.15427189246418,-96.70470560393005,{'latitute': '33.15427189246418'},(103341) Kmandy Investments L.L.C.,"6509 San Judas Street, McKinney, TEXAS, 75070",Match,Exact,Collin County
22,103362,20230930,7A,(103362) SAHER AUTO REPAIR INC,255 WEST CAMP WISDOM ROAD,DUNCANVILLE,TEXAS,75116,IncredibleBank,19772.0,NaN,327 N 17th Ave,WAUSAU,WI,54401,290000.0,217500.0,2022-01-05,2022,01/28/2022,Preferred Lender Program,Guaranty,5.75,120,811111.0,General Automotive Repair,NaN,NaN,DALLAS,TX,DALLAS / FT WORTH DISTRICT OFFICE,30.0,CORPORATION,Change of Ownership,The status of loans that have been disbursed b...,NaN,NaN,0,Term,15,Sold on the secondary market,Dallas County,TEXAS,0165.35,2008,Dallas County,32.66196359730873,-96.91000812554029,{'latitute': '32.66196359730873'},(103362) SAHER AUTO REPAIR INC,"255 WEST CAMP WISDOM ROAD, DUNCANVILLE, TEXAS,...",Match,Exact,Dallas County
26,103429,20230930,7A,(103429) Broadmoore SRG PLLC,"519 N Cedar Ridge Dr., Ste 1",DUNCANVILLE,TEXAS,75116,First National Bank Texas,3285.0,NaN,901 E Central Texas Expy,Killeen,TX,76541,751500.0,563625.0,2022-01-05,2022,01/20/2022,Preferred Lender Program,Guaranty,4.35,120,621210.0,Offices of Dentists,NaN,NaN,DALLAS,TX,DALLAS / FT WORTH DISTRICT OFFICE,30.0,CORPORATION,New Business or 2 years or less,The status of loans that have been disbursed b...,NaN,NaN,0,Term,4,NaN,Dallas County,TEXAS,0165.19,1003,Dallas County,32.65672499688526,-96.925846566485,{'latitute': '32.65672499688526'},(103429) Broadmoore SRG PLLC,"519 N Cedar Ridge Dr., Ste 1, DUNCANVILLE, TEX...",Match,Exact,Dallas County
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3769,154624,20230930,7A,(154624) NT Network and Tech Solutions,500 N Central Expy Suite 500,Plano,TEXAS,75074,Celtic Bank Corporation,57056.0,NaN,"268 S State St, Ste 300",SALT LAKE CITY,UT,84111,150000.0,127500.0,2022-12-29,2023,01/13/2023,Preferred Lender Program,Guaranty,9.75,120,541512.0,Computer Systems Design Services,NaN,NaN,COLLIN,TX,DALLAS / FT WORTH DISTRICT OFFICE,3.0,INDIVIDUAL,Existing or more than 2 years old,The status of loans that have been disbursed b...,NaN,NaN,0,Term,3,Sold on the secondary market,Collin County,TEXAS,0319.02,2066,Collin County,33.006288658119274,-96.70716673379087,{'latitute': '33.006288658119274'},(154624) NT Network and Tech Solutions,"500 N Central Expy Suite 500, Plano, TEXAS, 75074",Match,Non_Exact,Collin County
3771,154649,20230930,7A,(154649) KINDRED COLOUR LOUNGE LLC,101 S HWY 67,CEDAR HILL,TEXAS,75104,BayFirst National Bank,34997.0,NaN,700 Central Avenue,Saint Petersburg,FL,33701,50000.0,42500.0,2022-12-29,2023,12/30/2022,Preferred Lender Program,Guaranty,10.75,120,812112.0,Beauty Salons,NaN,NaN,DALLAS,TX,DALLAS / FT WORTH DISTRICT OFFICE,6.0,CORPORATION,Existing or more than 2 years old,The status of loans that have been disbursed b...,NaN,NaN,0,Term,1,Sold on the secondary market,Dallas County,TEXAS,0165.24,2001,Dallas County,32.58993240613063,-96.94708027037689,{'latitute': '32.58993240613063'},(154649) KINDRED COLOUR LOUNGE LLC,"101 S HWY 67, CEDAR HILL, TEXAS, 75104",Match,Exact,Dallas County
3772,154667,20230930,7A,(154667) Faith Auto Glass LLC,5301 S 2nd Ave,DALLAS,TEXAS,75210,"Bank of America, National Association",3510.0,NaN,"100 N Tryon St, Ste 170",CHARLOTTE,NC,28202,75000.0,37500.0,2022-12-29,2023,01/05/2023,SBA Express,FA$TRK (Small Loan Express),6.89,120,811122.0,Automotive Glass Replacement Shops,NaN,NaN,DALLAS,TX,DALLAS / FT WORTH DISTRICT OFFICE,30.0,CORPORATION,Existing or more than 2 years old,The status of loans that have been disbursed b...,NaN,NaN,0,Term,8,NaN,Dallas County,TEXAS,0208.00,1022,Dallas County,32.75837514138016,-96.74156884681895,{'latitute': '32.75837514138016'},(154667) Faith Auto Glass LLC,"5301 S 2nd Ave, DALLAS, TEXAS, 75210",Match,Exact,Dallas County
3774,154684,20230930,7A,(154684) SPOTTED JAZZ EVENTS LLC,1013 E. 15TH ST,PLANO,TEXAS,75074,Live Oak Banking Company,58665.0,NaN,1741 Tiburon Dr,WILMINGTON,NC,28403,585000.0,438750.0,2022-12-30,2023,01/24/2023,Preferred Lender Program,Guaranty,8.75,120,561920.0,Convention and Trade Show Organizers,NaN,NaN,COLLIN,TX,DALLAS / FT WORTH DISTRICT OFFICE,3.0,CORPORATION,Change of Ownership,The status of loans that have been disbursed b...,NaN,NaN,0,Term,4,NaN,Collin County,TEXAS,0319.02,1038,Collin County,33.01972127817487,-96.70076383004118,{'latitute': '33.01972127817487'},(154684) SPOTTED JAZZ EVENTS LLC,"1013 E. 15TH ST, PLANO, TEXAS, 75074",Match,Exact,Collin County
3782,154759,20230930,7A,(154759) 10X LABS LLC,3100 TECHNOLOGY DR Ste. 100,PLANO,TEXAS,75074,Comerica Bank,983.0,NaN,1717 Main St,DALLAS,TX,75201,1858800.0,1394100.0,2022-12-30,2023,01/05/2023,Preferred Lender Program,Guaranty,7.25,120,325411.0,Medicinal and Botanical Manufacturing,NaN,NaN,COLLIN,TX,DALLAS / FT WORTH DISTRICT OFFICE,3.0,CORPORATION,Existing or more than 2 years old,The status of loans that have been disbursed b...,NaN,NaN,0,Term,7,NaN,Collin County,TEXAS,0319.01,1010,Collin County,33.01242227853072,-96.67357593953443,{'latitute': '33.01242227853072'},(154759) 10X LABS LLC,"3100 TECHNOLOGY DR Ste. 100, PLANO, TEXAS, 75074",Match,Exact,Collin County

In [36]:
# recoding CongressionalDistrict as a string
sba_data['CongressionalDistrict'] = sba_data['CongressionalDistrict'].apply(lambda dist: f"District {int(dist):02d}")

In [37]:
sba_category_lst = ['DeliveryMethod','NaicsDescription','CongressionalDistrict','BusinessType','BusinessAge']

In [38]:
# binning all unique entires within category column of sba data under .01
bin_category(sba_data, sba_category_lst, 0.01, True,'proportion')

,index,AsOfDate,Program,Borrower name,Borrower street address_x,Borrower city,Borrower state,Borrower zip code,BankName,BankFDICNumber,BankNCUANumber,BankStreet,BankCity,BankState,BankZip,Total loan amount,SBAGuaranteedApproval,ApprovalDate,ApprovalFiscalYear,FirstDisbursementDate,DeliveryMethod,Subprogram description,InitialInterestRate,TermInMonths,NaicsCode,NaicsDescription,FranchiseCode,FranchiseName,ProjectCounty,ProjectState,SBADistrictOffice,CongressionalDistrict,BusinessType,BusinessAge,LoanStatus,PaidInFullDate,ChargeOffDate,GrossChargeOffAmount,RevolverStatus,JobsSupported,SOLDSECMRTIND,County_from_Zipcode,_fips_state_name,_tract,_block,_fips_county_name,_latitude,_longitude,extensions,Borrower identifier,Borrower street address_y,Match result,Match type,county_final
14,103266,20230930,7A,(103266) Forester Haynie PLLC,400 SAINT PAUL ST Suite 700,DALLAS,TEXAS,75201,Texas Security Bank,58739.0,NaN,1212 Turtle Creek Blvd,DALLAS,TX,75207,200000.0,100000.0,2022-01-04,2022,01/28/2022,SBA Express,FA$TRK (Small Loan Express),5.25,12,541110.0,Other,NaN,NaN,DALLAS,TX,DALLAS / FT WORTH DISTRICT OFFICE,District 30,CORPORATION,Existing or more than 2 years old,Paid In Full,05/31/2022,NaN,0,Revolver,3,NaN,Dallas County,NaN,0000NAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dallas County
18,103339,20230930,7A,(103339) Aspire Technical Solutions LL,1475 HERITAGE PKWY SUITE 201,MANSFIELD,TEXAS,76063,Celtic Bank Corporation,57056.0,NaN,"268 S State St, Ste 300",SALT LAKE CITY,UT,84111,150000.0,127500.0,2022-01-05,2022,01/14/2022,Preferred Lender Program,Guaranty,6.00,120,541512.0,Other,NaN,NaN,TARRANT,TX,DALLAS / FT WORTH DISTRICT OFFICE,District 06,CORPORATION,Existing or more than 2 years old,The status of loans that have been disbursed b...,NaN,NaN,0,Term,2,Sold on the secondary market,Tarrant County,TEXAS,1113.09,2003,Tarrant County,32.55325719311065,-97.12222046413416,{'latitute': '32.55325719311065'},(103339) Aspire Technical Solutions LL,"1475 HERITAGE PKWY SUITE 201, MANSFIELD, TEXAS...",Match,Exact,Tarrant County
19,103341,20230930,7A,(103341) Kmandy Investments L.L.C.,6509 San Judas Street,McKinney,TEXAS,75070,Celtic Bank Corporation,57056.0,NaN,"268 S State St, Ste 300",SALT LAKE CITY,UT,84111,586700.0,440025.0,2022-01-05,2022,01/11/2022,Preferred Lender Program,Guaranty,6.00,120,454210.0,Other,S2056,WaterStation,COLLIN,TX,DALLAS / FT WORTH DISTRICT OFFICE,District 03,CORPORATION,"Startup, Loan Funds will Open Business",The status of loans that have been disbursed b...,NaN,NaN,0,Term,1,Sold on the secondary market,Collin County,TEXAS,0305.40,2006,Collin County,33.15427189246418,-96.70470560393005,{'latitute': '33.15427189246418'},(103341) Kmandy Investments L.L.C.,"6509 San Judas Street, McKinney, TEXAS, 75070",Match,Exact,Collin County
22,103362,20230930,7A,(103362) SAHER AUTO REPAIR INC,255 WEST CAMP WISDOM ROAD,DUNCANVILLE,TEXAS,75116,IncredibleBank,19772.0,NaN,327 N 17th Ave,WAUSAU,WI,54401,290000.0,217500.0,2022-01-05,2022,01/28/2022,Preferred Lender Program,Guaranty,5.75,120,811111.0,General Automotive Repair,NaN,NaN,DALLAS,TX,DALLAS / FT WORTH DISTRICT OFFICE,District 30,CORPORATION,Change of Ownership,The status of loans that have been disbursed b...,NaN,NaN,0,Term,15,Sold on the secondary market,Dallas County,TEXAS,0165.35,2008,Dallas County,32.66196359730873,-96.91000812554029,{'latitute': '32.66196359730873'},(103362) SAHER AUTO REPAIR INC,"255 WEST CAMP WISDOM ROAD, DUNCANVILLE, TEXAS,...",Match,Exact,Dallas County
26,103429,20230930,7A,(103429) Broadmoore SRG PLLC,"519 N Cedar Ridge Dr., Ste 1",DUNCANVILLE,TEXAS,75116,First National Bank Texas,3285.0,NaN,901 E Central Texas Expy,Killeen,TX,76541,751500.0,563625.0,2022-01-05,2022,01/20/2022,Preferred Lender Program,Guaranty,4.35,120,621210.0,Offices of Dentists,NaN,NaN,DALLAS,TX,DALLAS / FT WORTH DISTRICT OFFICE,District 30,CORPORATION,New Business or 2 years or less,The status of loans that have been disbursed b...,NaN,NaN,0,Term,4,NaN,Dallas County,TEXAS,0165.19,1003,Dallas County,32.65672499688526,-96.925846566485,{'latitute': '32.65672499688526'},(103429) Broadmoore SRG PLLC,"519 N Cedar Ridge Dr., Ste 1, DUNCANVILLE, TEX...",Match,Exact,Dallas County
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3769,154624,20230930,7A,(154624) NT Network and Tech Solutions,500 N Central Expy Suite 500,Plano,TEXAS,75074,Celtic Bank Corporation,57056.0,NaN,"268 S State St, Ste 300",SALT LAKE CITY,UT,84111,150000.0,127500.0,2022-12-29,2023,01/13/2023,Preferred Lender Program,Guaranty,9.75,120,541512.0,Other,NaN,NaN,COLLIN,TX,DALLAS / FT WORTH DISTRICT OFFICE,District 03,INDIVIDUAL,Existing or more than 2 years old,The status of loans that have been disbursed b...,NaN,NaN,0,Term,3,Sold on the secondary market,Collin County,TEXAS,0319.02,2066,Collin County,33.006288658119274,-96.70716673379087,{'latitute': '33.006288658119274'},(154624) NT Network and Tech Solutions,"500 N Central Expy Suite 500, Plano, TEXAS, 75074",Match,Non_Exact,Collin County
3771,154649,20230930,7A,(154649) KINDRED COLOUR LOUNGE LLC,101 S HWY 67,CEDAR HILL,TEXAS,75104,BayFirst National Bank,34997.0,NaN,700 Central Avenue,Saint Petersburg,FL,33701,50000.0,42500.0,2022-12-29,2023,12/30/2022,Preferred Lender Program,Guaranty,10.75,120,812112.0,Beauty Salons,NaN,NaN,DALLAS,TX,DALLAS / FT WORTH DISTRICT OFFICE,District 06,CORPORATION,Existing or more than 2 years old,The status of loans that have been disbursed b...,NaN,NaN,0,Term,1,Sold on the secondary market,Dallas County,TEXAS,0165.24,2001,Dallas County,32.58993240613063,-96.94708027037689,{'latitute': '32.58993240613063'},(154649) KINDRED COLOUR LOUNGE LLC,"101 S HWY 67, CEDAR HILL, TEXAS, 75104",Match,Exact,Dallas County
3772,154667,20230930,7A,(154667) Faith Auto Glass LLC,5301 S 2nd Ave,DALLAS,TEXAS,75210,"Bank of America, National Association",3510.0,NaN,"100 N Tryon St, Ste 170",CHARLOTTE,NC,28202,75000.0,37500.0,2022-12-29,2023,01/05/2023,SBA Express,FA$TRK (Small Loan Express),6.89,120,811122.0,Other,NaN,NaN,DALLAS,TX,DALLAS / FT WORTH DISTRICT OFFICE,District 30,CORPORATION,Existing or more than 2 years old,The status of loans that have been disbursed b...,NaN,NaN,0,Term,8,NaN,Dallas County,TEXAS,0208.00,1022,Dallas County,32.75837514138016,-96.74156884681895,{'latitute': '32.75837514138016'},(154667) Faith Auto Glass LLC,"5301 S 2nd Ave, DALLAS, TEXAS, 75210",Match,Exact,Dallas County
3774,154684,20230930,7A,(154684) SPOTTED JAZZ EVENTS LLC,1013 E. 15TH ST,PLANO,TEXAS,75074,Live Oak Banking Company,58665.0,NaN,1741 Tiburon Dr,WILMINGTON,NC,28403,585000.0,438750.0,2022-12-30,2023,01/24/2023,Preferred Lender Program,Guaranty,8.75,120,561920.0,Other,NaN,NaN,COLLIN,TX,DALLAS / FT WORTH DISTRICT OFFICE,District 03,CORPORATION,Change of Ownership,The status of loans that have been disbursed b...,NaN,NaN,0,Term,4,NaN,Collin County,TEXAS,0319.02,1038,Collin County,33.01972127817487,-96.70076383004118,{'latitute': '33.01972127817487'},(154684) SPOTTED JAZZ EVENTS LLC,"1013 E. 15TH ST, PLANO, TEXAS, 75074",Match,Exact,Collin County
3782,154759,20230930,7A,(154759) 10X LABS LLC,3100 TECHNOLOGY DR Ste. 100,PLANO,TEXAS,75074,Comerica Bank,983.0,NaN,1717 Main St,DALLAS,TX,75201,1858800.0,1394100.0,2022-12-30,2023,01/05/2023,Preferred Lender Program,Guaranty,7.25,120,325411.0,Other,NaN,NaN,COLLIN,TX,DALLAS / FT WORTH DISTRICT OFFICE,District 03,CORPORATION,Existing or more than 2 years old,The status of loans that have been disbursed b...,NaN,NaN,0,Term,7,NaN,Collin County,TEXAS,0319.01,1010,Collin County,33.01242227853072,-96.67357593953443,{'latitute': '33.01242227853072'},(154759) 10X LABS LLC,"3100 TECHNOLOGY DR Ste. 100, PLANO, TEXAS, 75074",Match,Exact,Collin County

In [39]:
sba_data['DeliveryMethod'].value_counts(normalize = True)

DeliveryMethod
Preferred Lender Program    0.695808
SBA Express                 0.203593
Other 7(a) Loan             0.065868
Community Advantage         0.026347
Other                       0.008383
Name: proportion, dtype: float64

In [40]:
sba_data = sba_data.rename(columns = {'BankName':'institution_name'})

# **Joins**

In [41]:
hmda_dict_panel_df['agency_code'].value_counts()

agency_code
National Credit Union Administration           1465
Federal Deposit Insurance Corporation          1184
Department of Housing and Urban Development     925
Office of the Comptroller of the Currency       440
Federal Reserve System                          312
Consumer Financial Protection Bureau            141
Name: count, dtype: int64

## hmda_panel to hmda_lar

In [42]:
hmda_dict_panel_df_sub = hmda_dict_panel_df[['lei','respondent_name']]

In [43]:
hmda_lar_panel_df = pd.merge(\
    hmda_dict_lar_df, hmda_dict_panel_df_sub,\
    left_on = ['lei'], right_on = ['lei'], how = 'left')\
.rename(columns = {'respondent_name':'bank_name'})

In [44]:
hmda_lar_panel_df

,activity_year,lei,derived_msa_md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,reverse_mortgage,open_end_line_of_credit,business_or_commercial_purpose,loan_amount,combined_loan_to_value_ratio,interest_rate,rate_spread,hoepa_status,total_loan_costs,total_points_and_fees,origination_charges,discount_points,lender_credits,loan_term,prepayment_penalty_term,intro_rate_period,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,property_value,construction_method,occupancy_type,manufactured_home_secured_property_type,manufactured_home_land_property_interest,total_units,multifamily_affordable_units,income,debt_to_income_ratio,applicant_credit_score_type,co_applicant_credit_score_type,applicant_ethnicity_1,applicant_ethnicity_2,applicant_ethnicity_3,applicant_ethnicity_4,applicant_ethnicity_5,co_applicant_ethnicity_1,co_applicant_ethnicity_2,co_applicant_ethnicity_3,co_applicant_ethnicity_4,co_applicant_ethnicity_5,applicant_ethnicity_observed,co_applicant_ethnicity_observed,applicant_race_1,applicant_race_2,applicant_race_3,applicant_race_4,applicant_race_5,co_applicant_race_1,co_applicant_race_2,co_applicant_race_3,co_applicant_race_4,co_applicant_race_5,applicant_race_observed,co_applicant_race_observed,applicant_sex,co_applicant_sex,applicant_sex_observed,co_applicant_sex_observed,applicant_age,co_applicant_age,applicant_age_above_62,co_applicant_age_above_62,submission_of_application,initially_payable_to_institution,aus_1,aus_2,aus_3,aus_4,aus_5,denial_reason_1,denial_reason_2,denial_reason_3,denial_reason_4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units,aus-4,bank_name
0,2022,RVDPPPGHCGZ40J4VQ731,19124,TEXAS,Collin County,0313.14,NaN,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Black or African American,Male,Loan originated,Ginnie Mae,Preapproval not requested,Federal Housing Administration insured (FHA),Home purchase,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Not primarily for a business or commercial pur...,445000,92.74,6.75,0.847,Not a high-cost mortgage,16155.19,NaN,4290.4,3276.4,NaN,360.0,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,475000.0,Site-built,Principal residence,Not applicable,Not applicable,1,NaN,202.0,36%-<50%,Not applicable,Experian Fair Isaac,Not Hispanic or Latino,NaN,NaN,NaN,NaN,"Information not provided by applicant in mail,...",NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,Not collected on the basis of visual observati...,Black or African American,White,NaN,NaN,NaN,"Information not provided by applicant in mail,...",NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,Not collected on the basis of visual observati...,Male,"Information not provided by applicant in mail,...",Not collected on the basis of visual observati...,Not collected on the basis of visual observati...,45-54,35-44,No,No,Not submitted directly to your institution,Initially payable to your institution,Technology Open to Approved Lenders (TOTAL) Sc...,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,6001,39.96,97400,150.0,1255,1431,14,NaN,"PENNYMAC LOAN SERVICES, LLC"
1,2022,RVDPPPGHCGZ40J4VQ731,23104,TEXAS,Tarrant County,1115.63,NaN,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Asian,Joint,Application withdrawn by applicant,Not applicable,Preapproval not requested,Conventional (not insured or guaranteed by FHA...,Home purchase,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Not primarily for a business or commercial pur...,235000,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,NaN,NaN,360.0,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,NaN,Site-built,Principal residence,Not applicable,Not applicable,1,NaN,29.0,Unknown,Not applicable,Not applicable,Not Hispanic or Latino,NaN,NaN,NaN,NaN,Not Hispanic or Latino,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,Not collected on the basis of visual observati...,Asian,Vietnamese,NaN,NaN,NaN,Asian,Vietnamese,NaN,NaN,NaN,Not collected on the basis of visual observati...,Not collected on the basis of visual observati...,Male,Female,Not collected on the basis of visual observati...,Not collected on the basis of visual observati...,35-44,35-44,No,No,Not submitted directly to your institution,Initially payable to your institution,Not applicable,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,5127,86.11,92400,146.0,1190,1263,15,NaN,"PENNYMAC LOAN SERVICES, LLC"
2,2022,RVDPPPGHCGZ40J4VQ731,23104,TEXAS,Tarrant County,1044.00,NaN,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Male,Application withdrawn by applicant,Not applicable,Preapproval not requested,Conventional (not insured or guaranteed by FHA...,Home purchase,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Primarily for a business or commercial purpose,245000,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,NaN,NaN,360.0,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,NaN,Site-built,Investment property,Not applicable,Not applicable,1,NaN,164.0,Unknown,Not applicable,Not applicable,Not Hispanic or Latino,NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,White,NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,Male,No co-applicant,Not collected on the basis of visual observati...,No co-applicant,35-44,9999,No,NaN,Not submitted directly to your institution,Initially payable to your institution,Desktop Underwriter (DU),NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,5241,64.61,92400,86.0,1045,2116,78,NaN,"PENNYMAC LOAN SERVICES, LLC"
3,2022,RVDPPPGHCGZ40J4VQ731,19124,TEXAS,Collin County,0313.30,NaN,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Joint,Joint,Application withdrawn by applicant,Not applicable,Preapproval not requested,Conventional (not insured or guaranteed by FHA...,Home purchase,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Not primarily for a business or commercial pur...,445000,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,NaN,NaN,360.0,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,NaN,Site-built,Principal residence,Not applicable,Not applicable,1,NaN,140.0,Unknown,Not applicable,Not applicable,Not Hispanic or Latino,NaN,NaN,NaN,NaN,Not Hispanic or Latino,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,Not collected on the basis of visual observati...,Black or African American,NaN,NaN,NaN,NaN,White,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,Not collected on the basis of visual observati...,Male,Female,Not collected on the basis of visual observati...,Not collected on the basis of visual observati...,35-44,35-44,No,No,Not submitted directly to your institution,Initially payable to your institution,Not applicable,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,5905,44.93,97400,133.0,1150,1562,12,NaN,"PENNYMAC LOAN SERVICES, LLC"
4,2022,RVDPPPGHCGZ40J4VQ731,19124,TEXAS,Dallas County,0139.02,NaN,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,Application denied,Not applicable,Preapproval not requested,Conventional (not insured or guaranteed by FHA...,Refinancing,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Primarily for a business or commercial purpose,265000,75.0,NaN,NaN,Not applicable,NaN,NaN,NaN,NaN,NaN,360.0,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,355000.0,Site-built,Investment property,Not applicable,Not applicable,1,NaN,130.0,>60%,Equifax Beacon 5.0,No co-applicant,"Information not provided by applicant in mail,...",NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,"Information not provided by applicant in mail,...",NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,"Information not provided by applicant in mail,...",No co-applicant,Not collected on the basis of visual observati...,No co-applicant,55-64,9999,No,NaN,Not submitted directly to your institution,Initially payable to your institution,Loan Prospector (LP) or Loan Product Advisor,NaN,NaN,NaN,NaN,Credit application incomplete,NaN,NaN,NaN,4278,62.90,97400,97.0,1430,1644,61,NaN,"PENNYMAC LOAN SERVICES, LLC"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249293,2022,RVDPPPGHCGZ40J4VQ731,19124,TEXAS,Collin County,0313.36,NaN,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Asian,Male,Loan originated,Freddie Mac,Preapproval not requested,Conventional (not insured or guaranteed by FHA...,Home purchase,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Not primarily for a business or commercial pur...,505000,80.0,4.99,-0.504,Not a high-cost mortgage,10261.87,NaN,4633.0,3545.0,NaN,360,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,625000.0,Site-built,Principal residence,Not applicable,Not applicable,1,NaN,141.0,30%-<36%,Equifax Beacon 5.0,No co-applicant,Not Hispanic or Latino,NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,Asian,Asian Indian,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,Male,No co-applicant,Not collected on the basis of visual observati...,No co-applicant,25-34,9999,No,NaN,Not submitted directly to your institution,Initially payable to your institution,Desktop Underwriter (DU),NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,5486,48.45,97400,186.0,1107,1164,6,NaN,"PENNYMAC LOAN SERVICES, LLC"
249294,2022,RVDPPPGHCGZ40J4VQ731,19124,TEXAS,Collin County,0303.04,NaN,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Asian,Male,Application withdrawn by applicant,Not applicable,Preapproval not requested,Conventional (not insured or guaranteed by FHA...,Home purchase,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Not primarily for a business or commercial pur...,615000,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,NaN,NaN,360,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,NaN,Site-built,Principal residence,Not applicable,Not applicable,1,NaN,128.0,Unknown,Not applicable,Not applicable,Not Hispanic or Latino,NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,Asian,Asian Indian,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,Male,No co-applicant,Not collected on the basis of visual observati...,No co-applicant,35-44,9999,No,NaN,Not submitted directly to your institution,Initially payable to your institution,Loan Prospector (LP) or Loan Product Advisor,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,7973,29.00,97400,169.0,1752,2146,6,NaN,"PENNYMAC LOAN SERVICES, LLC"
249295,2022,RVDPPPGHCGZ40J4VQ731,19124,TEXAS,Collin County,0314.25,NaN,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Asian,Male,Application withdrawn by applicant,Not applicable,Preapproval not requested,Conventional (not insured or guaranteed by FHA...,Home purchase,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Not primarily for a business or commercial pur...,485000,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,NaN,NaN,360,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,NaN,Site-built,Principal residence,Not applicable,Not applicable,1,NaN,160.0,Unknown,Not applicable,Not applicable,Not Hispanic or Latino,NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,Asian,Asian Indian,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,Male,No co-applicant,Not collected on the basis of visual observati...,No co-applicant,25-34,9999,No,NaN,Not submitted directly to your institution,Initially payable to your institution,Desktop Underwriter (DU),NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,5725,44.61,97400,127.0,1302,1776,26,NaN,"PENNYMAC LOAN SERVICES, LLC"
249296,2022,RVDPPPGHCGZ40J4VQ731,19124,TEXAS,Dallas County,0181.37,NaN,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,Loan originated,Ginnie Mae,Preapproval not requested,Federal Housing Administration insured (FHA),Home purchase,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Not primarily for a business or commercial pur...,365000,86.12,5.625,0.401,Not a high-cost mortgage,23947.53,NaN,13586.1,5252.1,NaN,360,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,425000.0,Site-built,Principal residence,Not applicable,Not applicable,1,NaN,99.0,50%-60%,FICO Risk Score Classic 04,No co-applicant,"Information not provided by applicant in mail,...",NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,"Information not provided by applicant in mail,...",NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,"Information not provided by applicant in mail,...",No co-applicant,Not collected on the basis of visual observati...,No co-applicant,45-54,9999,No,NaN,Not submitted directly to your institution,Initially payable to your institution,Technology Open to Approved Lenders (TOTAL) Sc...,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,4145,70.16,97400,101.0,956,1133,31,NaN,"PENNYMAC LOAN SERVICES, LLC"
249297,2022,RVDPPPGHCGZ40J4VQ731,19124,TEXAS,Dallas County,0080.00,NaN,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Joint,Application denied,Not applicable,Preapproval not requested,Conventional (not insured or guaranteed by FHA...,Home purchase,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Not primarily for a business or commercial pur...,645000,47.78,NaN,NaN,Not applicable,NaN,NaN,NaN,NaN,NaN,360,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,1355000.0,Site-built,Principal residence,Not applicable,Not applicable,1,NaN,528.0,<20%,Not applicable,Not applicable,Not Hispanic or Latino,NaN,NaN,NaN,NaN,Not Hispanic or Latino,NaN,NaN,NaN,NaN,Collected on the basis of visual observation o...,Collected on the basis of visual observation o...,White,NaN,NaN,NaN,NaN,White,NaN,NaN,NaN,NaN,Collected on the basis of visual observation o...,Collected on the basis of visual observation o...,Female,Male,Collected on the basis of visual observation o...,Collected on the basis of visual observation o...,55-64,65-74,No,Yes,Not submitted directly to your institution,Initially payable to your institution,Not applicable,NaN,NaN,NaN,NaN,Credit application incomplete,NaN,NaN,NaN,7652,16.41,97400,283.0,2486,2735,56,NaN,"PENNYMAC LOAN SERVICES, LLC"

In [45]:
# below shows so we do not have a matching bank name for every lei 
print('lar',hmda_dict_lar_df['lei'].nunique(),'\nmerged panel and lar',\
      hmda_lar_panel_df['bank_name'].nunique())

lar 1123
merged panel and lar 1113

In [46]:
# SEPARATE: to see agency_code category count 
# hmda_dict_panel_df_sub = hmda_dict_panel_df[['lei','respondent_name','agency_code']]

In [47]:
# hmda_lar_panel_df = pd.merge(\
#     hmda_dict_lar_df, hmda_dict_panel_df_sub,\
#     left_on = ['lei'], right_on = ['lei'], how = 'left')\
# .rename(columns = {'respondent_name':'bank_name'})

In [48]:
#hmda_lar_panel_sub['agency_code'].value_counts()

In [49]:
# BANK NAME INTO ORIGINAL LAR DF 

hmda_dict_lar_df = pd.merge(\
    hmda_dict_lar_df, hmda_dict_panel_df_sub,\
    left_on = ['lei'], right_on = ['lei'], how = 'left')\
.rename(columns = {'respondent_name':'institution_name'})

In [50]:
hmda_dict_lar_df

,activity_year,lei,derived_msa_md,state_code,county_code,census_tract,conforming_loan_limit,derived_loan_product_type,derived_dwelling_category,derived_ethnicity,derived_race,derived_sex,action_taken,purchaser_type,preapproval,loan_type,loan_purpose,lien_status,reverse_mortgage,open_end_line_of_credit,business_or_commercial_purpose,loan_amount,combined_loan_to_value_ratio,interest_rate,rate_spread,hoepa_status,total_loan_costs,total_points_and_fees,origination_charges,discount_points,lender_credits,loan_term,prepayment_penalty_term,intro_rate_period,negative_amortization,interest_only_payment,balloon_payment,other_nonamortizing_features,property_value,construction_method,occupancy_type,manufactured_home_secured_property_type,manufactured_home_land_property_interest,total_units,multifamily_affordable_units,income,debt_to_income_ratio,applicant_credit_score_type,co_applicant_credit_score_type,applicant_ethnicity_1,applicant_ethnicity_2,applicant_ethnicity_3,applicant_ethnicity_4,applicant_ethnicity_5,co_applicant_ethnicity_1,co_applicant_ethnicity_2,co_applicant_ethnicity_3,co_applicant_ethnicity_4,co_applicant_ethnicity_5,applicant_ethnicity_observed,co_applicant_ethnicity_observed,applicant_race_1,applicant_race_2,applicant_race_3,applicant_race_4,applicant_race_5,co_applicant_race_1,co_applicant_race_2,co_applicant_race_3,co_applicant_race_4,co_applicant_race_5,applicant_race_observed,co_applicant_race_observed,applicant_sex,co_applicant_sex,applicant_sex_observed,co_applicant_sex_observed,applicant_age,co_applicant_age,applicant_age_above_62,co_applicant_age_above_62,submission_of_application,initially_payable_to_institution,aus_1,aus_2,aus_3,aus_4,aus_5,denial_reason_1,denial_reason_2,denial_reason_3,denial_reason_4,tract_population,tract_minority_population_percent,ffiec_msa_md_median_family_income,tract_to_msa_income_percentage,tract_owner_occupied_units,tract_one_to_four_family_homes,tract_median_age_of_housing_units,aus-4,institution_name
0,2022,RVDPPPGHCGZ40J4VQ731,19124,TEXAS,Collin County,0313.14,NaN,FHA:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Black or African American,Male,Loan originated,Ginnie Mae,Preapproval not requested,Federal Housing Administration insured (FHA),Home purchase,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Not primarily for a business or commercial pur...,445000,92.74,6.75,0.847,Not a high-cost mortgage,16155.19,NaN,4290.4,3276.4,NaN,360.0,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,475000.0,Site-built,Principal residence,Not applicable,Not applicable,1,NaN,202.0,36%-<50%,Not applicable,Experian Fair Isaac,Not Hispanic or Latino,NaN,NaN,NaN,NaN,"Information not provided by applicant in mail,...",NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,Not collected on the basis of visual observati...,Black or African American,White,NaN,NaN,NaN,"Information not provided by applicant in mail,...",NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,Not collected on the basis of visual observati...,Male,"Information not provided by applicant in mail,...",Not collected on the basis of visual observati...,Not collected on the basis of visual observati...,45-54,35-44,No,No,Not submitted directly to your institution,Initially payable to your institution,Technology Open to Approved Lenders (TOTAL) Sc...,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,6001,39.96,97400,150.0,1255,1431,14,NaN,"PENNYMAC LOAN SERVICES, LLC"
1,2022,RVDPPPGHCGZ40J4VQ731,23104,TEXAS,Tarrant County,1115.63,NaN,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Asian,Joint,Application withdrawn by applicant,Not applicable,Preapproval not requested,Conventional (not insured or guaranteed by FHA...,Home purchase,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Not primarily for a business or commercial pur...,235000,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,NaN,NaN,360.0,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,NaN,Site-built,Principal residence,Not applicable,Not applicable,1,NaN,29.0,Unknown,Not applicable,Not applicable,Not Hispanic or Latino,NaN,NaN,NaN,NaN,Not Hispanic or Latino,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,Not collected on the basis of visual observati...,Asian,Vietnamese,NaN,NaN,NaN,Asian,Vietnamese,NaN,NaN,NaN,Not collected on the basis of visual observati...,Not collected on the basis of visual observati...,Male,Female,Not collected on the basis of visual observati...,Not collected on the basis of visual observati...,35-44,35-44,No,No,Not submitted directly to your institution,Initially payable to your institution,Not applicable,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,5127,86.11,92400,146.0,1190,1263,15,NaN,"PENNYMAC LOAN SERVICES, LLC"
2,2022,RVDPPPGHCGZ40J4VQ731,23104,TEXAS,Tarrant County,1044.00,NaN,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Male,Application withdrawn by applicant,Not applicable,Preapproval not requested,Conventional (not insured or guaranteed by FHA...,Home purchase,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Primarily for a business or commercial purpose,245000,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,NaN,NaN,360.0,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,NaN,Site-built,Investment property,Not applicable,Not applicable,1,NaN,164.0,Unknown,Not applicable,Not applicable,Not Hispanic or Latino,NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,White,NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,Male,No co-applicant,Not collected on the basis of visual observati...,No co-applicant,35-44,9999,No,NaN,Not submitted directly to your institution,Initially payable to your institution,Desktop Underwriter (DU),NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,5241,64.61,92400,86.0,1045,2116,78,NaN,"PENNYMAC LOAN SERVICES, LLC"
3,2022,RVDPPPGHCGZ40J4VQ731,19124,TEXAS,Collin County,0313.30,NaN,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Joint,Joint,Application withdrawn by applicant,Not applicable,Preapproval not requested,Conventional (not insured or guaranteed by FHA...,Home purchase,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Not primarily for a business or commercial pur...,445000,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,NaN,NaN,360.0,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,NaN,Site-built,Principal residence,Not applicable,Not applicable,1,NaN,140.0,Unknown,Not applicable,Not applicable,Not Hispanic or Latino,NaN,NaN,NaN,NaN,Not Hispanic or Latino,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,Not collected on the basis of visual observati...,Black or African American,NaN,NaN,NaN,NaN,White,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,Not collected on the basis of visual observati...,Male,Female,Not collected on the basis of visual observati...,Not collected on the basis of visual observati...,35-44,35-44,No,No,Not submitted directly to your institution,Initially payable to your institution,Not applicable,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,5905,44.93,97400,133.0,1150,1562,12,NaN,"PENNYMAC LOAN SERVICES, LLC"
4,2022,RVDPPPGHCGZ40J4VQ731,19124,TEXAS,Dallas County,0139.02,NaN,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,Application denied,Not applicable,Preapproval not requested,Conventional (not insured or guaranteed by FHA...,Refinancing,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Primarily for a business or commercial purpose,265000,75.0,NaN,NaN,Not applicable,NaN,NaN,NaN,NaN,NaN,360.0,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,355000.0,Site-built,Investment property,Not applicable,Not applicable,1,NaN,130.0,>60%,Equifax Beacon 5.0,No co-applicant,"Information not provided by applicant in mail,...",NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,"Information not provided by applicant in mail,...",NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,"Information not provided by applicant in mail,...",No co-applicant,Not collected on the basis of visual observati...,No co-applicant,55-64,9999,No,NaN,Not submitted directly to your institution,Initially payable to your institution,Loan Prospector (LP) or Loan Product Advisor,NaN,NaN,NaN,NaN,Credit application incomplete,NaN,NaN,NaN,4278,62.90,97400,97.0,1430,1644,61,NaN,"PENNYMAC LOAN SERVICES, LLC"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249293,2022,RVDPPPGHCGZ40J4VQ731,19124,TEXAS,Collin County,0313.36,NaN,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Asian,Male,Loan originated,Freddie Mac,Preapproval not requested,Conventional (not insured or guaranteed by FHA...,Home purchase,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Not primarily for a business or commercial pur...,505000,80.0,4.99,-0.504,Not a high-cost mortgage,10261.87,NaN,4633.0,3545.0,NaN,360,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,625000.0,Site-built,Principal residence,Not applicable,Not applicable,1,NaN,141.0,30%-<36%,Equifax Beacon 5.0,No co-applicant,Not Hispanic or Latino,NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,Asian,Asian Indian,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,Male,No co-applicant,Not collected on the basis of visual observati...,No co-applicant,25-34,9999,No,NaN,Not submitted directly to your institution,Initially payable to your institution,Desktop Underwriter (DU),NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,5486,48.45,97400,186.0,1107,1164,6,NaN,"PENNYMAC LOAN SERVICES, LLC"
249294,2022,RVDPPPGHCGZ40J4VQ731,19124,TEXAS,Collin County,0303.04,NaN,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Asian,Male,Application withdrawn by applicant,Not applicable,Preapproval not requested,Conventional (not insured or guaranteed by FHA...,Home purchase,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Not primarily for a business or commercial pur...,615000,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,NaN,NaN,360,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,NaN,Site-built,Principal residence,Not applicable,Not applicable,1,NaN,128.0,Unknown,Not applicable,Not applicable,Not Hispanic or Latino,NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,Asian,Asian Indian,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,Male,No co-applicant,Not collected on the basis of visual observati...,No co-applicant,35-44,9999,No,NaN,Not submitted directly to your institution,Initially payable to your institution,Loan Prospector (LP) or Loan Product Advisor,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,7973,29.00,97400,169.0,1752,2146,6,NaN,"PENNYMAC LOAN SERVICES, LLC"
249295,2022,RVDPPPGHCGZ40J4VQ731,19124,TEXAS,Collin County,0314.25,NaN,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,Asian,Male,Application withdrawn by applicant,Not applicable,Preapproval not requested,Conventional (not insured or guaranteed by FHA...,Home purchase,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Not primarily for a business or commercial pur...,485000,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,NaN,NaN,360,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,NaN,Site-built,Principal residence,Not applicable,Not applicable,1,NaN,160.0,Unknown,Not applicable,Not applicable,Not Hispanic or Latino,NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,Asian,Asian Indian,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,Male,No co-applicant,Not collected on the basis of visual observati...,No co-applicant,25-34,9999,No,NaN,Not submitted directly to your institution,Initially payable to your institution,Desktop Underwriter (DU),NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,5725,44.61,97400,127.0,1302,1776,26,NaN,"PENNYMAC LOAN SERVICES, LLC"
249296,2022,RVDPPPGHCGZ40J4VQ731,19124,TEXAS,Dallas County,0181.37,NaN,FHA:First Lien,Single Family (1-4 Units):Site-Built,Ethnicity Not Available,Race Not Available,Sex Not Available,Loan originated,Ginnie Mae,Preapproval not requested,Federal Housing Administration insured (FHA),Home purchase,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Not primarily for a business or commercial pur...,365000,86.12,5.625,0.401,Not a high-cost mortgage,23947.53,NaN,13586.1,5252.1,NaN,360,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,425000.0,Site-built,Principal residence,Not applicable,Not applicable,1,NaN,99.0,50%-60%,FICO Risk Score Classic 04,No co-applicant,"Information not provided by applicant in mail,...",NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,"Information not provided by applicant in mail,...",NaN,NaN,NaN,NaN,No co-applicant,NaN,NaN,NaN,NaN,Not collected on the basis of visual observati...,No co-applicant,"Information not provided by applicant in mail,...",No co-applicant,Not collected on the basis of visual observati...,No co-applicant,45-54,9999,No,NaN,Not submitted directly to your institution,Initially payable to your institution,Technology Open to Approved Lenders (TOTAL) Sc...,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,NaN,4145,70.16,97400,101.0,956,1133,31,NaN,"PENNYMAC LOAN SERVICES, LLC"
249297,2022,RVDPPPGHCGZ40J4VQ731,19124,TEXAS,Dallas County,0080.00,NaN,Conventional:First Lien,Single Family (1-4 Units):Site-Built,Not Hispanic or Latino,White,Joint,Application denied,Not applicable,Preapproval not requested,Conventional (not insured or guaranteed by FHA...,Home purchase,Secured by a first lien,Not a reverse mortgage,Not an open-end line of credit,Not primarily for a business or commercial pur...,645000,47.78,NaN,NaN,Not applicable,NaN,NaN,NaN,NaN,NaN,360,NaN,NaN,No negative amortization,No interest-only payments,No balloon payment,No other non-fully amortizing features,1355000.0,Site-built,Principal residence,Not applicable,Not applicable,1,NaN,528.0,<20%,Not applicable,Not applicable,Not Hispanic or Latino,NaN,NaN,NaN,NaN,Not Hispanic or Latino,NaN,NaN,NaN,NaN,Collected on the basis of visual observation o...,Collected on the basis of visual observation o...,White,NaN,NaN,NaN,NaN,White,NaN,NaN,NaN,NaN,Collected on the basis of visual observation o...,Collected on the basis of visual observation o...,Female,Male,Collected on the basis of visual observation o...,Collected on the basis of visual observation o...,55-64,65-74,No,Yes,Not submitted directly to your institution,Initially payable to your institution,Not applicable,NaN,NaN,NaN,NaN,Credit application incomplete,NaN,NaN,NaN,7652,16.41,97400,283.0,2486,2735,56,NaN,"PENNYMAC LOAN SERVICES, LLC"

## fdic_institutions to sba

In [51]:
sba_data.head(1)

,index,AsOfDate,Program,Borrower name,Borrower street address_x,Borrower city,Borrower state,Borrower zip code,institution_name,BankFDICNumber,BankNCUANumber,BankStreet,BankCity,BankState,BankZip,Total loan amount,SBAGuaranteedApproval,ApprovalDate,ApprovalFiscalYear,FirstDisbursementDate,DeliveryMethod,Subprogram description,InitialInterestRate,TermInMonths,NaicsCode,NaicsDescription,FranchiseCode,FranchiseName,ProjectCounty,ProjectState,SBADistrictOffice,CongressionalDistrict,BusinessType,BusinessAge,LoanStatus,PaidInFullDate,ChargeOffDate,GrossChargeOffAmount,RevolverStatus,JobsSupported,SOLDSECMRTIND,County_from_Zipcode,_fips_state_name,_tract,_block,_fips_county_name,_latitude,_longitude,extensions,Borrower identifier,Borrower street address_y,Match result,Match type,county_final
14,103266,20230930,7A,(103266) Forester Haynie PLLC,400 SAINT PAUL ST Suite 700,DALLAS,TEXAS,75201,Texas Security Bank,58739.0,NaN,1212 Turtle Creek Blvd,DALLAS,TX,75207,200000.0,100000.0,2022-01-04,2022,01/28/2022,SBA Express,FA$TRK (Small Loan Express),5.25,12,541110.0,Other,NaN,NaN,DALLAS,TX,DALLAS / FT WORTH DISTRICT OFFICE,District 30,CORPORATION,Existing or more than 2 years old,Paid In Full,05/31/2022,NaN,0,Revolver,3,NaN,Dallas County,NaN,0000NAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dallas County

In [52]:
fdic_institutions_df.head(1)

,FDIC Certificate #,index,State Name,OTS Docket Number,Institution Status,Street Address,Total assets,Institution Class,Change Code 1,Change Code 2,Change Code 3,Change Code 4,Change Code 5,Change Code 6,Change Code 7,Change Code 8,Change Code 9,Change Code 10,Change Code 11,Change Code 12,Change Code 13,Change Code 14,Change Code 15,OCC Charter Number,Chartering Agency,Conservatorship,City,Numeric Code,Consolidated Metropolitan Statistical Division Number,Consolidated Metropolitan Statistical Area,County,Last update,Denovo Institution,Total deposits,Last Structure Change Effective Date,End date,Equity capital,Established Date,FDIC Geographic Region,FDIC Supervisory Region,Federal Reserve District,Federal Reserve ID Number,Federal Reserve ID Number 2,Federal charter flag,FDIC Field Office,Insured offices of foreign banks,Inactive,Primary Insurance Agency,Secondary Insurance Fund,Date of Deposit Insurance,Credit Card Institutions,Bank Insurance Fund,Insured commercial banks,Deposit Insurance Fund member,FDIC Insured,SAIF Insured,Insured Savings Institution,Metropolitan Statistical Area Number,Metropolitan Statistical Area (MSA),Institution name,New certificate number,Oakar Institutions,OTS District,Office of Thrift Supervision Region,Last Structure Change Process Date,Quarterly Banking Profile Commercial Bank Region,Primary Regulator,Report Date,Report Date,State Charter,Return on assets (ROA),Quarterly return on assets,Return on Equity (ROE),Quarterly return on equity,Run Date,Sasser Institutions,Law Sasser Flag,State Alpha code,State and county number,State Number,Zip Code,Supervisory Region Number,Office of the Comptroller,FDIC's unique number,Ultimate Cert,CFPB Effective Date,CFPB End Date,CFPB Flag,Secondary Regulator,Web Site URL 01,Web Site URL 02,Web Site URL 03,Web Site URL 04,Web Site URL 05,Web Site URL 06,Web Site URL 07,Web Site URL 08,Web Site URL 09,Web Site URL 10,Trade Name 01,Trade Name 02,Trade Name 03,Trade Name 04,Trade Name 05,Trade Name 06,Primary Internet Web Address,Office,Directly owned by another bank (CERT),Directly owned by another bank (CERT),City of High Holder,Deposits held in domestic offices,FFIEC Call Report 31 Filer,Bank Holding Company Type,Agricultural lending institution indicator,Ownership Type,Bank Holding Company (Regulatory Top Holder),Net income,Net income - quarterly,Number of Domestic Offices,Number of Foreign Offices,Number of US Offices,RSSDID - High Regulatory Holder,Regulatory holding company state location,Subchapter S Corporations,Pretax return on assets,Quarterly Pretax return on assets,Trust Powers,Asset Concentration Hierarchy,Specialization Group,Institutions with reportable fiduciary related service,Combined Statistical Area Name,Combined Statistical Area Number (Branch),CSA Area Flag,Core Based Statistical Area Name,Core Based Statistical Areas,Metropolitan Division Name,Metropolitan Division Number,Metropolitan Division Flag,Micropolitan Division Flag,Metropolitan Divisions Name,Metropolitan Divisions Number,Metropolitan Divisions Flag,Community Bank
0,17772,0,Ohio,13876,Institution closed or not insured by FDIC,7001 Center Street,208001.0,"Commercial bank, state charter, Fed non-member...",223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,STATE,NaN,Mentor,NaN,28,"Cleveland-Akron, OH",Lake,01/14/2004,0.0,193300.0,12/13/2003,12/13/2003,14234.0,1957-06-13,9,Chicago,Chicago,Cleveland,592822,0,Columbus,0,1,BIF,NaN,06/13/1957,0.0,1,1,No,1,0,0,1680,"Cleveland-Lorain-Elyria, OH",Great Lakes Bank,5982,0,3.0,Central,01/14/2004,3,Federal Deposit Insurance Corporation,09/30/2003,06/30/2023,yes,0.774869,1.01,10.87,14.3,09/29/2023,0,NaN,OH,39085,39,44060,Chicago,3,11726,6560,9999-12-31,9999-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,MENTOR,193300.0,no,NaN,0.0,0.0,GLB BCORP INC,1112.0,500.0,13.0,0.0,0.0,2571755.0,OH,0.0,1.179723,1.53,0.0,4.0,Commercial Lending Specialization,0.0,"Cleveland-Akron-Canton, OH",184.0,NaN,"Cleveland-Elyria, OH",17460.0,"Cleveland-Elyria, OH",17460,Yes,No,NaN,NaN,No,1.0

In [53]:
# 65 unique institution identifiers were not null/got matched 
#fdic_locations_sba[fdic_locations_sba['BankFDICNumber'].notnull() == True]['BankFDICNumber'].nunique()

In [54]:
fdic_institutions_df['FDIC Certificate #'] = fdic_institutions_df['FDIC Certificate #'].apply(float)

In [55]:
# fdic_institutuions to sba 

sba_fdic_institutions = pd.merge(\
    sba_data,\
    fdic_institutions_df[['FDIC Certificate #','Institution name']],\
    left_on = ['BankFDICNumber'],\
    right_on = ['FDIC Certificate #'],\
    how = 'left')

In [56]:
# 133 unique institution identifiers were not null/ matched
sba_fdic_institutions[sba_fdic_institutions['FDIC Certificate #'].notnull() == True]['FDIC Certificate #'].nunique()

133

In [57]:
sba_fdic_institutions

,index,AsOfDate,Program,Borrower name,Borrower street address_x,Borrower city,Borrower state,Borrower zip code,institution_name,BankFDICNumber,BankNCUANumber,BankStreet,BankCity,BankState,BankZip,Total loan amount,SBAGuaranteedApproval,ApprovalDate,ApprovalFiscalYear,FirstDisbursementDate,DeliveryMethod,Subprogram description,InitialInterestRate,TermInMonths,NaicsCode,NaicsDescription,FranchiseCode,FranchiseName,ProjectCounty,ProjectState,SBADistrictOffice,CongressionalDistrict,BusinessType,BusinessAge,LoanStatus,PaidInFullDate,ChargeOffDate,GrossChargeOffAmount,RevolverStatus,JobsSupported,SOLDSECMRTIND,County_from_Zipcode,_fips_state_name,_tract,_block,_fips_county_name,_latitude,_longitude,extensions,Borrower identifier,Borrower street address_y,Match result,Match type,county_final,FDIC Certificate #,Institution name
0,103266,20230930,7A,(103266) Forester Haynie PLLC,400 SAINT PAUL ST Suite 700,DALLAS,TEXAS,75201,Texas Security Bank,58739.0,NaN,1212 Turtle Creek Blvd,DALLAS,TX,75207,200000.0,100000.0,2022-01-04,2022,01/28/2022,SBA Express,FA$TRK (Small Loan Express),5.25,12,541110.0,Other,NaN,NaN,DALLAS,TX,DALLAS / FT WORTH DISTRICT OFFICE,District 30,CORPORATION,Existing or more than 2 years old,Paid In Full,05/31/2022,NaN,0,Revolver,3,NaN,Dallas County,NaN,0000NAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dallas County,58739.0,Texas Security Bank
1,103339,20230930,7A,(103339) Aspire Technical Solutions LL,1475 HERITAGE PKWY SUITE 201,MANSFIELD,TEXAS,76063,Celtic Bank Corporation,57056.0,NaN,"268 S State St, Ste 300",SALT LAKE CITY,UT,84111,150000.0,127500.0,2022-01-05,2022,01/14/2022,Preferred Lender Program,Guaranty,6.00,120,541512.0,Other,NaN,NaN,TARRANT,TX,DALLAS / FT WORTH DISTRICT OFFICE,District 06,CORPORATION,Existing or more than 2 years old,The status of loans that have been disbursed b...,NaN,NaN,0,Term,2,Sold on the secondary market,Tarrant County,TEXAS,1113.09,2003,Tarrant County,32.55325719311065,-97.12222046413416,{'latitute': '32.55325719311065'},(103339) Aspire Technical Solutions LL,"1475 HERITAGE PKWY SUITE 201, MANSFIELD, TEXAS...",Match,Exact,Tarrant County,57056.0,Celtic Bank
2,103341,20230930,7A,(103341) Kmandy Investments L.L.C.,6509 San Judas Street,McKinney,TEXAS,75070,Celtic Bank Corporation,57056.0,NaN,"268 S State St, Ste 300",SALT LAKE CITY,UT,84111,586700.0,440025.0,2022-01-05,2022,01/11/2022,Preferred Lender Program,Guaranty,6.00,120,454210.0,Other,S2056,WaterStation,COLLIN,TX,DALLAS / FT WORTH DISTRICT OFFICE,District 03,CORPORATION,"Startup, Loan Funds will Open Business",The status of loans that have been disbursed b...,NaN,NaN,0,Term,1,Sold on the secondary market,Collin County,TEXAS,0305.40,2006,Collin County,33.15427189246418,-96.70470560393005,{'latitute': '33.15427189246418'},(103341) Kmandy Investments L.L.C.,"6509 San Judas Street, McKinney, TEXAS, 75070",Match,Exact,Collin County,57056.0,Celtic Bank
3,103362,20230930,7A,(103362) SAHER AUTO REPAIR INC,255 WEST CAMP WISDOM ROAD,DUNCANVILLE,TEXAS,75116,IncredibleBank,19772.0,NaN,327 N 17th Ave,WAUSAU,WI,54401,290000.0,217500.0,2022-01-05,2022,01/28/2022,Preferred Lender Program,Guaranty,5.75,120,811111.0,General Automotive Repair,NaN,NaN,DALLAS,TX,DALLAS / FT WORTH DISTRICT OFFICE,District 30,CORPORATION,Change of Ownership,The status of loans that have been disbursed b...,NaN,NaN,0,Term,15,Sold on the secondary market,Dallas County,TEXAS,0165.35,2008,Dallas County,32.66196359730873,-96.91000812554029,{'latitute': '32.66196359730873'},(103362) SAHER AUTO REPAIR INC,"255 WEST CAMP WISDOM ROAD, DUNCANVILLE, TEXAS,...",Match,Exact,Dallas County,19772.0,IncredibleBank
4,103429,20230930,7A,(103429) Broadmoore SRG PLLC,"519 N Cedar Ridge Dr., Ste 1",DUNCANVILLE,TEXAS,75116,First National Bank Texas,3285.0,NaN,901 E Central Texas Expy,Killeen,TX,76541,751500.0,563625.0,2022-01-05,2022,01/20/2022,Preferred Lender Program,Guaranty,4.35,120,621210.0,Offices of Dentists,NaN,NaN,DALLAS,TX,DALLAS / FT WORTH DISTRICT OFFICE,District 30,CORPORATION,New Business or 2 years or less,The status of loans that have been disbursed b...,NaN,NaN,0,Term,4,NaN,Dallas County,TEXAS,0165.19,1003,Dallas County,32.65672499688526,-96.925846566485,{'latitute': '32.65672499688526'},(103429) Broadmoore SRG PLLC,"519 N Cedar Ridge Dr., Ste 1, DUNCANVILLE, TEX...",Match,Exact,Dallas County,3285.0,First National Bank Texas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
830,154624,20230930,7A,(154624) NT Network and Tech Solutions,500 N Central Expy Suite 500,Plano,TEXAS,75074,Celtic Bank Corporation,57056.0,NaN,"268 S State St, Ste 300",SALT LAKE CITY,UT,84111,150000.0,127500.0,2022-12-29,2023,01/13/2023,Preferred Lender Program,Guaranty,9.75,120,541512.0,Other,NaN,NaN,COLLIN,TX,DALLAS / FT WORTH DISTRICT OFFICE,District 03,INDIVIDUAL,Existing or more than 2 years old,The status of loans that have been disbursed b...,NaN,NaN,0,Term,3,Sold on the secondary market,Collin County,TEXAS,0319.02,2066,Collin County,33.006288658119274,-96.70716673379087,{'latitute': '33.006288658119274'},(154624) NT Network and Tech Solutions,"500 N Central Expy Suite 500, Plano, TEXAS, 75074",Match,Non_Exact,Collin County,57056.0,Celtic Bank
831,154649,20230930,7A,(154649) KINDRED COLOUR LOUNGE LLC,101 S HWY 67,CEDAR HILL,TEXAS,75104,BayFirst National Bank,34997.0,NaN,700 Central Avenue,Saint Petersburg,FL,33701,50000.0,42500.0,2022-12-29,2023,12/30/2022,Preferred Lender Program,Guaranty,10.75,120,812112.0,Beauty Salons,NaN,NaN,DALLAS,TX,DALLAS / FT WORTH DISTRICT OFFICE,District 06,CORPORATION,Existing or more than 2 years old,The status of loans that have been disbursed b...,NaN,NaN,0,Term,1,Sold on the secondary market,Dallas County,TEXAS,0165.24,2001,Dallas County,32.58993240613063,-96.94708027037689,{'latitute': '32.58993240613063'},(154649) KINDRED COLOUR LOUNGE LLC,"101 S HWY 67, CEDAR HILL, TEXAS, 75104",Match,Exact,Dallas County,34997.0,BayFirst National Bank
832,154667,20230930,7A,(154667) Faith Auto Glass LLC,5301 S 2nd Ave,DALLAS,TEXAS,75210,"Bank of America, National Association",3510.0,NaN,"100 N Tryon St, Ste 170",CHARLOTTE,NC,28202,75000.0,37500.0,2022-12-29,2023,01/05/2023,SBA Express,FA$TRK (Small Loan Express),6.89,120,811122.0,Other,NaN,NaN,DALLAS,TX,DALLAS / FT WORTH DISTRICT OFFICE,District 30,CORPORATION,Existing or more than 2 years old,The status of loans that have been disbursed b...,NaN,NaN,0,Term,8,NaN,Dallas County,TEXAS,0208.00,1022,Dallas County,32.75837514138016,-96.74156884681895,{'latitute': '32.75837514138016'},(154667) Faith Auto Glass LLC,"5301 S 2nd Ave, DALLAS, TEXAS, 75210",Match,Exact,Dallas County,3510.0,"Bank of America, National Association"
833,154684,20230930,7A,(154684) SPOTTED JAZZ EVENTS LLC,1013 E. 15TH ST,PLANO,TEXAS,75074,Live Oak Banking Company,58665.0,NaN,1741 Tiburon Dr,WILMINGTON,NC,28403,585000.0,438750.0,2022-12-30,2023,01/24/2023,Preferred Lender Program,Guaranty,8.75,120,561920.0,Other,NaN,NaN,COLLIN,TX,DALLAS / FT WORTH DISTRICT OFFICE,District 03,CORPORATION,Change of Ownership,The status of loans that have been disbursed b...,NaN,NaN,0,Term,4,NaN,Collin County,TEXAS,0319.02,1038,Collin County,33.01972127817487,-96.70076383004118,{'latitute': '33.01972127817487'},(154684) SPOTTED JAZZ EVENTS LLC,"1013 E. 15TH ST, PLANO, TEXAS, 75074",Match,Exact,Collin County,58665.0,Live Oak Banking Company
834,154759,20230930,7A,(154759) 10X LABS LLC,3100 TECHNOLOGY DR Ste. 100,PLANO,TEXAS,75074,Comerica Bank,983.0,NaN,1717 Main St,DALLAS,TX,75201,1858800.0,1394100.0,2022-12-30,2023,01/05/2023,Preferred Lender Program,Guaranty,7.25,120,325411.0,Other,NaN,NaN,COLLIN,TX,DALLAS / FT WORTH DISTRICT OFFICE,District 03,CORPORATION,Existing or more than 2 years old,The status of loans that have been disbursed b...,NaN,NaN,0,Term,7,NaN,Collin County,TEXAS,0319.01,1010,Collin County,33.01242227853072,-96.67357593953443,{'latitute': '33.01242227853072'},(154759) 10X LABS LLC,"3100 TECHNOLOGY DR Ste. 100, PLANO, TEXAS, 75074",Match,Exact,Collin County,983.0,Comerica Bank

In [58]:
# pd.options.display.max_rows = 100
# pd.options.display.max_columns = None

In [59]:
# fdic_institutions to sba FDIC's unique number (HERE AS A CHEKC TO SHOW)
# fdic_institutions_df["FDIC's unique number"] = fdic_institutions_df["FDIC's unique number"].apply(float)

In [60]:
# sba_fdic_institutions_uni = pd.merge(\
#     sba_data, fdic_institutions_df,\
#     left_on = ['BankFDICNumber'],\
#     right_on = ["FDIC's unique number"],\
#     how = 'left')

In [61]:
# 60 unique institution identifiers were not null/ matched
#sba_fdic_institutions_uni[sba_fdic_institutions_uni["FDIC's unique number"].notnull() == True]["FDIC's unique number"].nunique()

# **Add Race_Ethnicity field to HDMA data**

if the race is in (Asian, asian indian, other asian, vietnamese, filipino, Korean, Japanese) then asian 

if hmda_dict_lar_df['applicant_race_1'] == "White" and "Hispanic or Latino" in hmda_dict_lar_df['applicant_ethnicity_1'] then hmda_dict_lar_df['applicant_race_1'] +' '+ hmda_dict_lar_df['applicant_ethnicity_1']

if race == "Black or African American" then "Black or African American"

else "Other"

In [62]:
# def race_ethnicity_groups(race_eth_str:str):
#     if race_eth_str in ['White']:
#         return 'White'
#     elif race_eth_str in ['Asian', 'Asian Indian', 'Other Asian', 'Vietnamese', 'Filipino', 'Korean', 'Japanese']:
#         return 'Asian'
#     elif race_eth_str in ['Black or African American']:
#         return 'Black or African American'
#     elif race_eth_str in ['Not applicable']:
#         return 'Not applicable'
#     elif race_eth_str in ['Information not provided by applicant in mail, internet, or telephone application']:
#         return 'Unspecified'
#     else:
#         return 'Other'

In [63]:
hmda_dict_lar_df['Race_Ethnicity'] = np.where(\
    (hmda_dict_lar_df['applicant_race_1'] == "Black or African American"),"Black or African American",\
    np.where(\
        ((hmda_dict_lar_df['applicant_ethnicity_1'] == "Hispanic or Latino")|\
        (hmda_dict_lar_df['applicant_ethnicity_1'] == "Other Hispanic or Latino")),"Hispanic or Latino",\
        np.where(\
            (hmda_dict_lar_df['applicant_race_1'] == "White"), "White not Hispanic or Latino",\
            np.where(\
                ((hmda_dict_lar_df['applicant_race_1'] == "Asian")|\
                 (hmda_dict_lar_df['applicant_race_1'] == "Asian Indian")|\
                 (hmda_dict_lar_df['applicant_race_1'] == "Other Asian")|\
                 (hmda_dict_lar_df['applicant_race_1'] == "Vietnamese")|\
                 (hmda_dict_lar_df['applicant_race_1'] == "Filipino")|\
                 (hmda_dict_lar_df['applicant_race_1'] == "Korean")|\
                 (hmda_dict_lar_df['applicant_race_1'] == "Japanese")), "Asian", "Other"
            )
        )
         
    )
        )

In [64]:
hmda_dict_lar_df['Race_Ethnicity'].value_counts()

Race_Ethnicity
White not Hispanic or Latino    84966
Other                           69617
Hispanic or Latino              36909
Asian                           30889
Black or African American       26917
Name: count, dtype: int64

In [65]:
# This is to check the above output

# hmda_dict_lar_df[(hmda_dict_lar_df['applicant_race_1'] == "White")&\
# (hmda_dict_lar_df['applicant_ethnicity_1'] != "Not Hispanic or Latino")&\
# (hmda_dict_lar_df['applicant_ethnicity_1'] != "Hispanic or Latino") & \
# (hmda_dict_lar_df['applicant_ethnicity_1'] != "Other Hispanic or Latino")][['applicant_race_1','applicant_ethnicity_1']]\
# .value_counts()

In [66]:
# old code to subset concat strings for race and ethnicity

# hmda_dict_lar_df['Race_Ethnicity'] = np.where((\
#     hmda_dict_lar_df['applicant_race_1'] == 'White') &\
# ('Hispanic or Latino' in hmda_dict_lar_df['applicant_ethnicity_1'])\
# , hmda_dict_lar_df['applicant_race_1'] +' '+ hmda_dict_lar_df['applicant_ethnicity_1'],\
#                                               hmda_dict_lar_df['applicant_race_1'])

# **Summary Tables**

## Branch-level details

In [67]:
fdic_locations_df[['Institution Name','Office Name','Branch Address', 'Branch City',\
                   'Branch State', 'Branch Zip Code', '_tract', 'Branch County']]

,Institution Name,Office Name,Branch Address,Branch City,Branch State,Branch Zip Code,_tract,Branch County
0,"Bank of America, National Association",TIMBERLAND CROSSING BRANCH,12524 N Beach St,Fort Worth,Texas,76244,1139.42,Tarrant County
1,"JPMorgan Chase Bank, National Association",PRESTON CENTER MOTOR BANK BRANCH,6015 Weldon Howell Pkwy,Dallas,Texas,75225,0073.01,Dallas County
2,Origin Bank,"BTH BANK, A DIVISION OF BANKTEXAS NA BRANCH",6925 Preston Rd,Dallas,Texas,75205,0195.02,Dallas County
3,CIBC National Trust Company,CIBC NATIONAL TRUST COMPANY DALLAS BRANCH,100 Crescent Ct,Dallas,Texas,75201,0018.02,Dallas County
4,Worthington Bank,EDWARDS RANCH BRANCH,5825 Edwards Ranch Rd,Fort Worth,Texas,76109,1054.05,Tarrant County
...,...,...,...,...,...,...,...,...
1280,Texas Bank,PROSPER BRANCH,290 S Preston Rd,Prosper,Texas,75078,0303.04,Collin County
1281,"Guaranty Bank & Trust, N.A.",BENT TREE TOWER BR,16475 Dallas Pkwy,Addison,Texas,75001,0136.27,Dallas County
1282,First United Bank and Trust Company,PLANO LPO/DPO,5068 W Plano Pkwy,Plano,Texas,75093,0316.49,Collin County
1283,"Zions Bancorporation, N.A.",Bishop Arts,550 W Davis St,Dallas,Texas,75208,0047.00,Dallas County
1284,Frost Bank,Euless Branch,2051 Airport Fwy,Euless,Texas,76040,1135.12,Tarrant County

In [68]:
fdic_branch_details = fdic_locations_df[[
    'Institution Name',
    'Office Name',
    'Branch Address', 
    'Branch City',
    'Branch State',
    'Branch Zip Code',
    '_tract',
    'Branch County']]

## **Census tract-level** summaries

In [69]:
# a check to see if there are multiple 'Income indicator, which identifies low, moderate, middle, and upper income areas'
# per census tract in county
# ffiec_data.groupby(['County','Census tract'], as_index = False)['Income indicator, which identifies low, moderate, middle,\
# and upper income areas']\
# .value_counts().sort_values(by = 'count', ascending = False)

In [70]:
ffiec_intermed_df = ffiec_data.groupby(['County','Census tract'], as_index = False)\
[['Total persons',
  'Total families',
  'Total households','Income indicator, which identifies low, moderate, middle, and upper income areas']].sum()

In [71]:
ffiec_intermed_df

,County,Census tract,Total persons,Total families,Total households,"Income indicator, which identifies low, moderate, middle, and upper income areas"
0,Collin County,0301.01,3595.0,596.0,750.0,3.0
1,Collin County,0301.02,4282.0,831.0,1011.0,2.0
2,Collin County,0302.01,6175.0,1024.0,1154.0,3.0
3,Collin County,0302.02,6345.0,983.0,1186.0,4.0
4,Collin County,0302.04,7554.0,2019.0,2354.0,3.0
...,...,...,...,...,...,...
1309,Tarrant County,1233.02,6345.0,497.0,1566.0,4.0
1310,Tarrant County,1235.00,3598.0,691.0,949.0,1.0
1311,Tarrant County,1236.00,3558.0,415.0,1288.0,1.0
1312,Tarrant County,1237.00,3623.0,807.0,1681.0,4.0
1313,Tarrant County,9800.00,14.0,0.0,0.0,0.0

In [72]:
# hmda originated
hmda_loan_count = hmda_dict_lar_df[hmda_dict_lar_df['action_taken'] == 'Loan originated']\
.groupby(['county_code','census_tract'],as_index = False)\
[['lei']].count().rename(columns = {'lei':'number_of_hmda_loans'})

In [73]:
hmda_loan_count.head(10)

     county_code census_tract  number_of_hmda_loans
0  Collin County      0301.01                   113
1  Collin County      0301.02                   140
2  Collin County      0302.01                   585
3  Collin County      0302.02                   960
4  Collin County      0302.04                   579
5  Collin County      0302.05                   303
6  Collin County      0302.06                   225
7  Collin County      0302.07                  1218
8  Collin County      0303.01                   506
9  Collin County      0303.02                   309

In [74]:
hmda_race_prcnt_df = hmda_dict_lar_df[
hmda_dict_lar_df['action_taken'] == 'Loan originated']\
.groupby(['county_code', 'census_tract'])\
[['Race_Ethnicity']].value_counts(normalize = True)

In [75]:
hmda_race_prcnt_df = hmda_race_prcnt_df.unstack().reset_index()

In [76]:
hmda_race_prcnt_df

Race_Ethnicity,county_code,census_tract,Asian,Black or African American,Hispanic or Latino,Other,White not Hispanic or Latino
0,Collin County,0301.01,0.070796,0.026549,0.123894,0.168142,0.610619
1,Collin County,0301.02,0.042857,0.007143,0.142857,0.171429,0.635714
2,Collin County,0302.01,0.340171,0.123077,0.083761,0.119658,0.333333
3,Collin County,0302.02,0.213542,0.111458,0.088542,0.151042,0.435417
4,Collin County,0302.04,0.160622,0.084629,0.093264,0.298791,0.362694
...,...,...,...,...,...,...,...
1275,Tarrant County,1233.02,0.075472,NaN,0.056604,0.150943,0.716981
1276,Tarrant County,1235.00,0.086420,0.172840,0.259259,0.246914,0.234568
1277,Tarrant County,1236.00,0.080000,0.080000,0.280000,0.400000,0.160000
1278,Tarrant County,1237.00,0.032258,0.016129,0.048387,0.145161,0.758065
1279,Tarrant County,nan,NaN,NaN,NaN,0.866667,0.133333

In [77]:
hmda_intermed_df = pd.merge(hmda_race_prcnt_df,
                            hmda_loan_count, 
                            left_on = ['county_code','census_tract'],\
                            right_on = ['county_code','census_tract'],
                            how = 'left')

In [78]:
hmda_intermed_df

,county_code,census_tract,Asian,Black or African American,Hispanic or Latino,Other,White not Hispanic or Latino,number_of_hmda_loans
0,Collin County,0301.01,0.070796,0.026549,0.123894,0.168142,0.610619,113
1,Collin County,0301.02,0.042857,0.007143,0.142857,0.171429,0.635714,140
2,Collin County,0302.01,0.340171,0.123077,0.083761,0.119658,0.333333,585
3,Collin County,0302.02,0.213542,0.111458,0.088542,0.151042,0.435417,960
4,Collin County,0302.04,0.160622,0.084629,0.093264,0.298791,0.362694,579
...,...,...,...,...,...,...,...,...
1275,Tarrant County,1233.02,0.075472,NaN,0.056604,0.150943,0.716981,53
1276,Tarrant County,1235.00,0.086420,0.172840,0.259259,0.246914,0.234568,81
1277,Tarrant County,1236.00,0.080000,0.080000,0.280000,0.400000,0.160000,25
1278,Tarrant County,1237.00,0.032258,0.016129,0.048387,0.145161,0.758065,62
1279,Tarrant County,nan,NaN,NaN,NaN,0.866667,0.133333,15

In [79]:
sba_intermed_df = sba_data\
.groupby(['county_final','_tract'],
         as_index = False)\
[['Borrower identifier']].count()

In [80]:
sba_intermed_df

       county_final   _tract  Borrower identifier
0     Collin County  0000NAN                    0
1     Collin County  0301.01                    1
2     Collin County  0302.01                    1
3     Collin County  0302.02                    1
4     Collin County  0302.05                    1
..              ...      ...                  ...
423  Tarrant County  1222.00                    3
424  Tarrant County  1223.00                    1
425  Tarrant County  1230.01                    1
426  Tarrant County  1233.02                    2
427  Tarrant County  1237.00                    1

[428 rows x 3 columns]

In [81]:
# merge hmda grouping to ffiec grouping
ffiec_hmda_intermed_df = pd.merge(
    ffiec_intermed_df,
    hmda_intermed_df,
    left_on = ['County', 'Census tract'],
    right_on = ['county_code','census_tract'],
    how = 'left')

In [85]:
ffiec_hmda_intermed_df

,County,Census tract,Total persons,Total families,Total households,"Income indicator, which identifies low, moderate, middle, and upper income areas",county_code,census_tract,Asian,Black or African American,Hispanic or Latino,Other,White not Hispanic or Latino,number_of_hmda_loans
0,Collin County,0301.01,3595.0,596.0,750.0,3.0,Collin County,0301.01,0.070796,0.026549,0.123894,0.168142,0.610619,113.0
1,Collin County,0301.02,4282.0,831.0,1011.0,2.0,Collin County,0301.02,0.042857,0.007143,0.142857,0.171429,0.635714,140.0
2,Collin County,0302.01,6175.0,1024.0,1154.0,3.0,Collin County,0302.01,0.340171,0.123077,0.083761,0.119658,0.333333,585.0
3,Collin County,0302.02,6345.0,983.0,1186.0,4.0,Collin County,0302.02,0.213542,0.111458,0.088542,0.151042,0.435417,960.0
4,Collin County,0302.04,7554.0,2019.0,2354.0,3.0,Collin County,0302.04,0.160622,0.084629,0.093264,0.298791,0.362694,579.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1309,Tarrant County,1233.02,6345.0,497.0,1566.0,4.0,Tarrant County,1233.02,0.075472,NaN,0.056604,0.150943,0.716981,53.0
1310,Tarrant County,1235.00,3598.0,691.0,949.0,1.0,Tarrant County,1235.00,0.086420,0.172840,0.259259,0.246914,0.234568,81.0
1311,Tarrant County,1236.00,3558.0,415.0,1288.0,1.0,Tarrant County,1236.00,0.080000,0.080000,0.280000,0.400000,0.160000,25.0
1312,Tarrant County,1237.00,3623.0,807.0,1681.0,4.0,Tarrant County,1237.00,0.032258,0.016129,0.048387,0.145161,0.758065,62.0
1313,Tarrant County,9800.00,14.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
# merge sba to ffiec hmda merge
ffiec_hmda_sba_intermed_df = pd.merge(ffiec_hmda_intermed_df,
                                      sba_intermed_df,
                                      left_on = ['County', 'Census tract'],
                                      right_on = ['county_final','_tract'],
                                      how = 'left').rename(\
    columns = {'Borrower identifier':'sba_loan_count'})

In [87]:
ffiec_hmda_sba_intermed_df

,County,Census tract,Total persons,Total families,Total households,"Income indicator, which identifies low, moderate, middle, and upper income areas",county_code,census_tract,Asian,Black or African American,Hispanic or Latino,Other,White not Hispanic or Latino,number_of_hmda_loans,county_final,_tract,sba_loan_count
0,Collin County,0301.01,3595.0,596.0,750.0,3.0,Collin County,0301.01,0.070796,0.026549,0.123894,0.168142,0.610619,113.0,Collin County,0301.01,1.0
1,Collin County,0301.02,4282.0,831.0,1011.0,2.0,Collin County,0301.02,0.042857,0.007143,0.142857,0.171429,0.635714,140.0,NaN,NaN,NaN
2,Collin County,0302.01,6175.0,1024.0,1154.0,3.0,Collin County,0302.01,0.340171,0.123077,0.083761,0.119658,0.333333,585.0,Collin County,0302.01,1.0
3,Collin County,0302.02,6345.0,983.0,1186.0,4.0,Collin County,0302.02,0.213542,0.111458,0.088542,0.151042,0.435417,960.0,Collin County,0302.02,1.0
4,Collin County,0302.04,7554.0,2019.0,2354.0,3.0,Collin County,0302.04,0.160622,0.084629,0.093264,0.298791,0.362694,579.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1309,Tarrant County,1233.02,6345.0,497.0,1566.0,4.0,Tarrant County,1233.02,0.075472,NaN,0.056604,0.150943,0.716981,53.0,Tarrant County,1233.02,2.0
1310,Tarrant County,1235.00,3598.0,691.0,949.0,1.0,Tarrant County,1235.00,0.086420,0.172840,0.259259,0.246914,0.234568,81.0,NaN,NaN,NaN
1311,Tarrant County,1236.00,3558.0,415.0,1288.0,1.0,Tarrant County,1236.00,0.080000,0.080000,0.280000,0.400000,0.160000,25.0,NaN,NaN,NaN
1312,Tarrant County,1237.00,3623.0,807.0,1681.0,4.0,Tarrant County,1237.00,0.032258,0.016129,0.048387,0.145161,0.758065,62.0,Tarrant County,1237.00,1.0
1313,Tarrant County,9800.00,14.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
# Export summary tables
# Hmda

excel_output_file = "ffiec_hmda_sba_intermed_df.xlsx"

with pd.ExcelWriter(excel_output_file) as writer:
    #for sba_dict in [census_level_sba_cat_summaries, census_level_sba_num_summaries]:
        #for key, value in sba_dict.items():
    sheet_name = "ffiec_hmda_sba_intermed_df"
    print("Exporting results for ffiec_hmda_sba_intermed_df")  
            
    # Insert the item label into the A1 cell in the worksheet
    item_label = pd.Series(sheet_name).to_frame()
    item_label.to_excel(writer, sheet_name=sheet_name, startcol=0, startrow=0, index = False, header = False) 
            
    # Insert the dataframe
    ffiec_hmda_sba_intermed_df.to_excel(writer, sheet_name=sheet_name, startcol=3, startrow=0)

Exporting results for ffiec_hmda_sba_intermed_df

In [81]:
# for reference
category_lst

['derived_loan_product_type',
 'loan_type',
 'loan_purpose',
 'lien_status',
 'open_end_line_of_credit',
 'business_or_commercial_purpose',
 'debt_to_income_ratio',
 'applicant_credit_score_type',
 'applicant_sex',
 'applicant_age']

### Summary Helper Functions

In [82]:
# helper function to label affiliated banks with the same institution name
def affiliate_institutions(df):
    df['institution_name'] = df['institution_name'].str.strip()
    df['institution_name'] = df['institution_name'].replace({
        'American Bank, National Association':'American Bank, N.A.',
        'Amerifirst Financial, Inc.':'AMERIFIRST FINANCIAL CORPORATION',
        'ANGEL OAK MORTGAGE SOLUTIONS LLC':'ANGEL OAK HOME LOANS LLC',
        'Citibank, National Association':'Citibank, N.A.',
        'Citizens Bank, National Association':'Citizens Bank',
        'EECU':'Educational Employees Credit Union',
        'First Bank & Trust Co.':'First Bank & Trust',
        'First Financial Bank, National Association':'First Financial Bank',
        'GREYSTONE SERVICING COMPANY LLC':'GREYSTONE FUNDING COMPANY LLC',
        'GUARANTEED RATE, INC.':'GUARANTEED RATE AFFINITY, LLC',
        'Guaranty Bank and Trust Company':'Guaranty Bank & Trust, N.A.',
        'Guaranty Bank & Trust, National Association':'Guaranty Bank & Trust, N.A.',
        'LAKEVIEW LOAN SERVICING, LLC':'Lakeview Community Capital, LLC',
        'Meridian Bank Corporation':'Meridian Bank',
        'Peoples National Bank , N.A.':'Peoples Bank',
        'RB MORTGAGE LLC':'RANDOLPH-BROOKS',
        'Readycap Lending, LLC':'READYCAP COMMERCIAL, LLC',
        'RESIDENTIAL WHOLESALE MORTGAGE, INC.':'RESIDENTIAL HOME FUNDING CORP.',
        'SOFI LENDING CORP.':'SNB Bank, National Association',
        'SoFi Bank, National Association':'SNB Bank, National Association',
        'Texas Bank and Trust Company':'Texas Bank', 
        'TOWNE MORTGAGE COMPANY':'Towne Bank',
        'U.S. Bank, National Association':'U.S. Bank National Association',
        'Waterstone Mortgage Corporation':'WaterStone Bank, SSB',
        'Zions Bank, A Division of':'Zions Bancorporation, N.A.'}) # no entires of 'Zions Bank, A Division of' present/seen 
    return df

In [83]:
# helper function to clean institution names and make them more consistent 
def institution_name_transform(df):
    # remove leading and trailing white space
    df['institution_name'] = df['institution_name'].str.strip()
    # make all institution names upper case 
    df['institution_name'] = df['institution_name'].str.upper()
    # remove "." in "INC."
    df['institution_name'] = df['institution_name'].apply(\
        lambda x: x.replace(".","")\
        if "INC" in x else x)
    # remove "." in "L.L.C."
    df['institution_name'] = df['institution_name'].apply(\
        lambda x: x.replace(".","")\
        if "L.L.C." or "LLC." in x else x)
    # replace NATIONAL ASSOCIATION with NA 
    df['institution_name'] = df['institution_name'].apply(\
        lambda x: x.replace("NATIONAL ASSOCIATION","NA")\
        if "NATIONAL ASSOCIATION" in x else x)
    # replace "N.A." with "NA"
    df['institution_name'] = df['institution_name'].apply(\
        lambda x: x.replace("N.A.","NA")\
        if "N.A." in x else x)
    # replace "FEDERAL CREDIT UNION" with "FCU"
    df['institution_name'] = df['institution_name'].apply(\
        lambda x: x.replace("FEDERAL CREDIT UNION","FCU")\
        if "FEDERAL CREDIT UNION" in x else x)
    # replace "CREDIT UNION" with CU
    df['institution_name'] = df['institution_name'].apply(\
        lambda x: x.replace("CREDIT UNION","CU")\
        if "CREDIT UNION" in x else x)
    df['institution_name'] = df['institution_name'].apply(\
        lambda x: x.replace(",","")\
        if "," in x else x)    
    return df

In [72]:
# hmda_dict_lar_df[hmda_dict_lar_df['action_taken'] == 'Loan originated']\
#     .groupby(['county_code','census_tract'])['derived_loan_product_type'].value_counts(dropna = False).reset_index()
#     #.unstack().reset_index().fillna(0)

In [73]:
# # census_level_hmda_cat_summaries ORIGINAL UNSTACKED FORMAT
# census_level_hmda_cat_summaries = {}
# for category in category_lst: 
#     # get value counts for hmda data 
#     temp_cat_counts = hmda_dict_lar_df[hmda_dict_lar_df['action_taken'] == 'Loan originated']\
#     .groupby(['county_code','census_tract'])[category].value_counts(dropna = False)\
#     .unstack().reset_index().fillna(0)
#     # create new columns for sum of rows 
#     temp_cat_counts['Total'] = temp_cat_counts.sum(axis = 1, numeric_only = True)
#     # bring in ffiec subset
#     tract_inc_ind = ffiec_data[['County','Census tract','Tract Income Indicator']]
#     # left merge ffiec subset to hmda value counts df 
#     temp_cat_summary = pd.merge(temp_cat_counts,tract_inc_ind, left_on = ['county_code','census_tract'],\
#                                 right_on = ['County','Census tract'], how = 'left')
#     # reorder column names
#     temp_cat_summary = temp_cat_summary[\
#     ['county_code','census_tract','Tract Income Indicator','Total'] + 
#     temp_cat_counts.drop(['county_code','census_tract','Total'],axis = 1).columns.to_list()]
#     census_level_hmda_cat_summaries[category] = temp_cat_summary

In [74]:
# # census_level_hmda_cat_summaries_long LONG FORMAT
# census_level_hmda_cat_summaries_long = {}
# for category in category_lst: 
#     # get value counts for hmda data 
#     temp_cat_counts = hmda_dict_lar_df[hmda_dict_lar_df['action_taken'] == 'Loan originated']\
#     .groupby(['county_code','census_tract'])[category].value_counts(dropna = False)\
#     .reset_index().fillna(0)
#     # create new columns for sum of rows 
#     #temp_cat_counts['Total'] = temp_cat_counts.sum(axis = 1, numeric_only = True)
#     # bring in ffiec subset
#     tract_inc_ind = ffiec_data[['County','Census tract','Tract Income Indicator']]
#     # left merge ffiec subset to hmda value counts df 
#     temp_cat_summary = pd.merge(temp_cat_counts,tract_inc_ind, left_on = ['county_code','census_tract'],\
#                                 right_on = ['County','Census tract'], how = 'left')
#     # add  in census tract with no decimal point 
#     temp_cat_summary['Census_Tract_no_decimal'] = \
#     temp_cat_summary['census_tract'].str.replace('.','')

#     # add in hmda column
#     temp_cat_summary['data_source'] = 'HMDA'
    
#     # reorder column names
#     temp_cat_summary = temp_cat_summary[\
#     ['county_code','census_tract','Census_Tract_no_decimal','Tract Income Indicator','data_source'] + 
#     temp_cat_counts.drop(['county_code','census_tract'],axis = 1).columns.to_list()]
#     census_level_hmda_cat_summaries_long[category] = temp_cat_summary

In [84]:
# census_level_hmda_cat_summaries_long LONG FORMAT with institution name included in grouping
census_level_hmda_cat_summaries_long = {}
for category in category_lst: 
    # get value counts for hmda data
    # create a deep copy of the hmda lar data 
    hmda_dict_lar_df_cpy = hmda_dict_lar_df.copy()
    # apply functions to update institution names 
    hmda_dict_lar_df_cpy = affiliate_institutions(hmda_dict_lar_df_cpy)
    hmda_dict_lar_df_cpy = institution_name_transform(hmda_dict_lar_df_cpy)
    # filter by originated loans and group by'county_code','census_tract' and'institution_name'
    temp_cat_counts = hmda_dict_lar_df_cpy[hmda_dict_lar_df_cpy['action_taken'] == 'Loan originated']\
    .groupby(['county_code','census_tract','institution_name'])[category].value_counts(dropna = False)\
    .reset_index().fillna(0)
    # create new columns for sum of rows 
    #temp_cat_counts['Total'] = temp_cat_counts.sum(axis = 1, numeric_only = True)
    # bring in ffiec subset
    ffiec_data_cpy = ffiec_data.copy()
    tract_inc_ind = ffiec_data_cpy[['County','Census tract','Tract Income Indicator']]
    # left merge ffiec subset to hmda value counts df 
    temp_cat_summary = pd.merge(temp_cat_counts,tract_inc_ind, left_on = ['county_code','census_tract'],\
                                right_on = ['County','Census tract'], how = 'left')
    # add  in census tract with no decimal point 
    temp_cat_summary['Census_Tract_no_decimal'] = \
    temp_cat_summary['census_tract'].str.replace('.','')
    # add in hmda column
    temp_cat_summary['data_source'] = 'HMDA'
    # reorder column names
    temp_cat_summary = temp_cat_summary[\
    ['county_code','census_tract','Census_Tract_no_decimal','Tract Income Indicator','data_source'] + 
    temp_cat_counts.drop(['county_code','census_tract'],axis = 1).columns.to_list()]
    census_level_hmda_cat_summaries_long[category] = temp_cat_summary

In [90]:
census_level_hmda_cat_summaries_long['derived_loan_product_type']

,county_code,census_tract,Census_Tract_no_decimal,Tract Income Indicator,data_source,institution_name,derived_loan_product_type,count
0,Collin County,0301.01,030101,Middle Income,HMDA,21ST MORTGAGE CORPORATION,Conventional:First Lien,3
1,Collin County,0301.01,030101,Middle Income,HMDA,ALLIANCE BANK,Conventional:First Lien,1
2,Collin County,0301.01,030101,Middle Income,HMDA,AMERICAN BANK OF COMMERCE,Conventional:First Lien,2
3,Collin County,0301.01,030101,Middle Income,HMDA,AMERICAN FINANCIAL NETWORK INC,Conventional:First Lien,1
4,Collin County,0301.01,030101,Middle Income,HMDA,AMERISAVE MORTGAGE CORPORATION,Conventional:First Lien,1
...,...,...,...,...,...,...,...,...
69349,Tarrant County,nan,nan,NaN,HMDA,GREYSTONE FUNDING COMPANY LLC,Conventional:First Lien,7
69350,Tarrant County,nan,nan,NaN,HMDA,GREYSTONE FUNDING COMPANY LLC,Conventional:Subordinate Lien,1
69351,Tarrant County,nan,nan,NaN,HMDA,GREYSTONE FUNDING COMPANY LLC,FHA:First Lien,1
69352,Tarrant County,nan,nan,NaN,HMDA,NASCOGA FCU,Conventional:First Lien,1
69353,Tarrant County,nan,nan,NaN,HMDA,OREC STRUCTURED FINANCE CO LLC,Conventional:First Lien,2

In [91]:
census_level_hmda_cat_summaries_long['applicant_age']

,county_code,census_tract,Census_Tract_no_decimal,Tract Income Indicator,data_source,institution_name,applicant_age,count
0,Collin County,0301.01,030101,Middle Income,HMDA,21ST MORTGAGE CORPORATION,65-74,1
1,Collin County,0301.01,030101,Middle Income,HMDA,21ST MORTGAGE CORPORATION,55-64,1
2,Collin County,0301.01,030101,Middle Income,HMDA,21ST MORTGAGE CORPORATION,45-54,1
3,Collin County,0301.01,030101,Middle Income,HMDA,ALLIANCE BANK,35-44,1
4,Collin County,0301.01,030101,Middle Income,HMDA,AMERICAN BANK OF COMMERCE,45-54,2
...,...,...,...,...,...,...,...,...
86911,Tarrant County,nan,nan,NaN,HMDA,FORT WORTH CITY CU,35-44,1
86912,Tarrant County,nan,nan,NaN,HMDA,FORT WORTH CITY CU,65-74,1
86913,Tarrant County,nan,nan,NaN,HMDA,GREYSTONE FUNDING COMPANY LLC,Not applicable,9
86914,Tarrant County,nan,nan,NaN,HMDA,NASCOGA FCU,<25,1
86915,Tarrant County,nan,nan,NaN,HMDA,OREC STRUCTURED FINANCE CO LLC,Not applicable,2

In [92]:
census_level_hmda_cat_summaries_long['applicant_credit_score_type']

,county_code,census_tract,Census_Tract_no_decimal,Tract Income Indicator,data_source,institution_name,applicant_credit_score_type,count
0,Collin County,0301.01,030101,Middle Income,HMDA,21ST MORTGAGE CORPORATION,Equifax Beacon 5.0,3
1,Collin County,0301.01,030101,Middle Income,HMDA,ALLIANCE BANK,Exempt,1
2,Collin County,0301.01,030101,Middle Income,HMDA,AMERICAN BANK OF COMMERCE,Experian Fair Isaac,1
3,Collin County,0301.01,030101,Middle Income,HMDA,AMERICAN BANK OF COMMERCE,Equifax Beacon 5.0,1
4,Collin County,0301.01,030101,Middle Income,HMDA,AMERICAN FINANCIAL NETWORK INC,Equifax Beacon 5.0,1
...,...,...,...,...,...,...,...,...
80574,Tarrant County,nan,nan,NaN,HMDA,CBRE MULTIFAMILY CAPITAL INC,Not applicable,1
80575,Tarrant County,nan,nan,NaN,HMDA,FORT WORTH CITY CU,Experian Fair Isaac,2
80576,Tarrant County,nan,nan,NaN,HMDA,GREYSTONE FUNDING COMPANY LLC,Not applicable,9
80577,Tarrant County,nan,nan,NaN,HMDA,NASCOGA FCU,FICO Risk Score Classic 98,1
80578,Tarrant County,nan,nan,NaN,HMDA,OREC STRUCTURED FINANCE CO LLC,Not applicable,2

In [93]:
census_level_hmda_cat_summaries_long['applicant_sex']

,county_code,census_tract,Census_Tract_no_decimal,Tract Income Indicator,data_source,institution_name,applicant_sex,count
0,Collin County,0301.01,030101,Middle Income,HMDA,21ST MORTGAGE CORPORATION,Male,2
1,Collin County,0301.01,030101,Middle Income,HMDA,21ST MORTGAGE CORPORATION,Female,1
2,Collin County,0301.01,030101,Middle Income,HMDA,ALLIANCE BANK,Male,1
3,Collin County,0301.01,030101,Middle Income,HMDA,AMERICAN BANK OF COMMERCE,Female,1
4,Collin County,0301.01,030101,Middle Income,HMDA,AMERICAN BANK OF COMMERCE,Male,1
...,...,...,...,...,...,...,...,...
75840,Tarrant County,nan,nan,NaN,HMDA,FORT WORTH CITY CU,Female,1
75841,Tarrant County,nan,nan,NaN,HMDA,FORT WORTH CITY CU,Male,1
75842,Tarrant County,nan,nan,NaN,HMDA,GREYSTONE FUNDING COMPANY LLC,Not applicable,9
75843,Tarrant County,nan,nan,NaN,HMDA,NASCOGA FCU,Female,1
75844,Tarrant County,nan,nan,NaN,HMDA,OREC STRUCTURED FINANCE CO LLC,Not applicable,2

In [ ]:
census_level_hmda_cat_summaries['business_or_commercial_purpose']

In [ ]:
census_level_hmda_cat_summaries['debt_to_income_ratio']

In [83]:
census_level_hmda_cat_summaries['lien_status']

In [84]:
census_level_hmda_cat_summaries['loan_purpose']

In [ ]:
census_level_hmda_cat_summaries['loan_type']

In [ ]:
census_level_hmda_cat_summaries['open_end_line_of_credit']

In [ ]:
# census_level_sba_cat_summaries ORIGINAL UNSTACKED FORMAT

# census_level_sba_cat_summaries = {}
# for category in ['DeliveryMethod','CongressionalDistrict','BusinessType','BusinessAge']: 
#     # get value counts for sba category columns
#     temp_cat_counts = sba_data.groupby(['county_final','_tract'])[category].value_counts(dropna = False)\
#     .unstack().reset_index().fillna(0)
#     # create new columns for sum or rows
#     temp_cat_counts['Total'] = temp_cat_counts.sum(axis = 1, numeric_only = True)
#     # bring in ffiec subset
#     tract_inc_ind = ffiec_data[['County','Census tract','Tract Income Indicator']]
#     # left merge ffiec subset to sba value counts df 
#     temp_cat_summary = pd.merge(temp_cat_counts,tract_inc_ind, left_on = ['county_final','_tract'],\
#                                 right_on = ['County','Census tract'], how = 'left')
#     # reorder columns names 
#     temp_cat_summary = temp_cat_summary[\
#     ['county_final','_tract','Tract Income Indicator','Total'] + 
#     temp_cat_counts.drop(['county_final','_tract','Total'], axis = 1).columns.to_list()]
#     census_level_sba_cat_summaries[category] = temp_cat_summary

In [90]:
# # census_level_sba_cat_summaries_long LONG FORMAT

# census_level_sba_cat_summaries_long = {}
# for category in ['DeliveryMethod','CongressionalDistrict','BusinessType','BusinessAge']: 
#     # get value counts for sba category columns
#     temp_cat_counts = sba_data.groupby(['county_final','_tract'])[category].value_counts(dropna = False)\
#     .reset_index().fillna(0)
#     # create new columns for sum or rows
#     #temp_cat_counts['Total'] = temp_cat_counts.sum(axis = 1, numeric_only = True)
#     # bring in ffiec subset
#     tract_inc_ind = ffiec_data[['County','Census tract','Tract Income Indicator']]
#     # left merge ffiec subset to sba value counts df 
#     temp_cat_summary = pd.merge(temp_cat_counts,tract_inc_ind, left_on = ['county_final','_tract'],\
#                                 right_on = ['County','Census tract'], how = 'left')
#     # add  in census tract with no decimal point 
#     temp_cat_summary['Census_Tract_no_decimal'] = \
#     temp_cat_summary['_tract'].str.replace('.','')

#     # add in data source column 
#     temp_cat_summary['data_source'] = 'SBA'
    
#     # reorder columns names 
#     temp_cat_summary = temp_cat_summary[\
#     ['county_final','_tract','Census_Tract_no_decimal','Tract Income Indicator','data_source'] + 
#     temp_cat_counts.drop(['county_final','_tract'], axis = 1).columns.to_list()].\
#     rename(columns = {'county_final':'county_code','_tract':'census_tract'})
#     census_level_sba_cat_summaries_long[category] = temp_cat_summary

In [94]:
# census_level_sba_cat_summaries_long LONG FORMAT grouping now include BankName->Institution name

census_level_sba_cat_summaries_long = {}
for category in ['DeliveryMethod','CongressionalDistrict','BusinessType','BusinessAge']: 
    # get value counts for sba category columns
    # create deep copy of sba data 
    sba_data_cpy = sba_data.copy()
    # apply functions to update institution names
    sba_data_cpy = affiliate_institutions(sba_data_cpy)
    sba_data_cpy = institution_name_transform(sba_data_cpy)
    # group sba data by 'county_final','_tract','institution_name'
    temp_cat_counts = sba_data_cpy.groupby(['county_final','_tract','institution_name'])[category].value_counts(dropna = False)\
    .reset_index().fillna(0)
    # create new columns for sum or rows
    #temp_cat_counts['Total'] = temp_cat_counts.sum(axis = 1, numeric_only = True)
    # bring in ffiec subset
    ffiec_data_cpy = ffiec_data.copy()
    tract_inc_ind = ffiec_data_cpy[['County','Census tract','Tract Income Indicator']]
    # left merge ffiec subset to sba value counts df 
    temp_cat_summary = pd.merge(temp_cat_counts,tract_inc_ind, left_on = ['county_final','_tract'],\
                                right_on = ['County','Census tract'], how = 'left')
    # add  in census tract with no decimal point 
    temp_cat_summary['Census_Tract_no_decimal'] = \
    temp_cat_summary['_tract'].str.replace('.','')

    # add in data source column 
    temp_cat_summary['data_source'] = 'SBA'
    
    # reorder columns names 
    temp_cat_summary = temp_cat_summary[\
    ['county_final','_tract','Census_Tract_no_decimal','Tract Income Indicator','data_source'] + 
    temp_cat_counts.drop(['county_final','_tract'], axis = 1).columns.to_list()].\
    rename(columns = {'county_final':'county_code','_tract':'census_tract'})
    census_level_sba_cat_summaries_long[category] = temp_cat_summary

In [95]:
census_level_sba_cat_summaries_long['DeliveryMethod']

,county_code,census_tract,Census_Tract_no_decimal,Tract Income Indicator,data_source,institution_name,DeliveryMethod,count
0,Collin County,0000NAN,0000NAN,NaN,SBA,BANK FIVE NINE,Preferred Lender Program,1
1,Collin County,0000NAN,0000NAN,NaN,SBA,BAYFIRST NATIONAL BANK,Preferred Lender Program,1
2,Collin County,0000NAN,0000NAN,NaN,SBA,BYLINE BANK,Preferred Lender Program,1
3,Collin County,0000NAN,0000NAN,NaN,SBA,CELTIC BANK CORPORATION,Other 7(a) Loan,1
4,Collin County,0000NAN,0000NAN,NaN,SBA,CRAFT BANK,Other 7(a) Loan,1
...,...,...,...,...,...,...,...,...
774,Tarrant County,1222.00,122200,Low or Moderate Income,SBA,VELOCITYSBA LLC,Preferred Lender Program,1
775,Tarrant County,1223.00,122300,Low or Moderate Income,SBA,ENCORE BANK,Preferred Lender Program,1
776,Tarrant County,1230.01,123001,Middle Income,SBA,ZIONS BANCORPORATION NA,Preferred Lender Program,1
777,Tarrant County,1233.02,123302,Upper Income,SBA,BAYFIRST NATIONAL BANK,Preferred Lender Program,2
778,Tarrant County,1237.00,123700,Upper Income,SBA,CIERA BANK,Other 7(a) Loan,1

In [96]:
census_level_sba_cat_summaries_long['CongressionalDistrict']

,county_code,census_tract,Census_Tract_no_decimal,Tract Income Indicator,data_source,institution_name,CongressionalDistrict,count
0,Collin County,0000NAN,0000NAN,NaN,SBA,BANK FIVE NINE,District 03,1
1,Collin County,0000NAN,0000NAN,NaN,SBA,BAYFIRST NATIONAL BANK,District 03,1
2,Collin County,0000NAN,0000NAN,NaN,SBA,BYLINE BANK,District 03,1
3,Collin County,0000NAN,0000NAN,NaN,SBA,CELTIC BANK CORPORATION,District 03,1
4,Collin County,0000NAN,0000NAN,NaN,SBA,CRAFT BANK,District 03,1
...,...,...,...,...,...,...,...,...
754,Tarrant County,1222.00,122200,Low or Moderate Income,SBA,VELOCITYSBA LLC,District 06,1
755,Tarrant County,1223.00,122300,Low or Moderate Income,SBA,ENCORE BANK,District 06,1
756,Tarrant County,1230.01,123001,Middle Income,SBA,ZIONS BANCORPORATION NA,District 12,1
757,Tarrant County,1233.02,123302,Upper Income,SBA,BAYFIRST NATIONAL BANK,District 12,2
758,Tarrant County,1237.00,123700,Upper Income,SBA,CIERA BANK,District 12,1

In [97]:
census_level_sba_cat_summaries_long['BusinessType']

,county_code,census_tract,Census_Tract_no_decimal,Tract Income Indicator,data_source,institution_name,BusinessType,count
0,Collin County,0000NAN,0000NAN,NaN,SBA,BANK FIVE NINE,CORPORATION,1
1,Collin County,0000NAN,0000NAN,NaN,SBA,BAYFIRST NATIONAL BANK,CORPORATION,1
2,Collin County,0000NAN,0000NAN,NaN,SBA,BYLINE BANK,PARTNERSHIP,1
3,Collin County,0000NAN,0000NAN,NaN,SBA,CELTIC BANK CORPORATION,CORPORATION,1
4,Collin County,0000NAN,0000NAN,NaN,SBA,CRAFT BANK,CORPORATION,1
...,...,...,...,...,...,...,...,...
733,Tarrant County,1222.00,122200,Low or Moderate Income,SBA,VELOCITYSBA LLC,CORPORATION,1
734,Tarrant County,1223.00,122300,Low or Moderate Income,SBA,ENCORE BANK,CORPORATION,1
735,Tarrant County,1230.01,123001,Middle Income,SBA,ZIONS BANCORPORATION NA,CORPORATION,1
736,Tarrant County,1233.02,123302,Upper Income,SBA,BAYFIRST NATIONAL BANK,CORPORATION,2
737,Tarrant County,1237.00,123700,Upper Income,SBA,CIERA BANK,CORPORATION,1

In [98]:
census_level_sba_cat_summaries_long['BusinessAge']

,county_code,census_tract,Census_Tract_no_decimal,Tract Income Indicator,data_source,institution_name,BusinessAge,count
0,Collin County,0000NAN,0000NAN,NaN,SBA,BANK FIVE NINE,"Startup, Loan Funds will Open Business",1
1,Collin County,0000NAN,0000NAN,NaN,SBA,BAYFIRST NATIONAL BANK,Existing or more than 2 years old,1
2,Collin County,0000NAN,0000NAN,NaN,SBA,BYLINE BANK,Change of Ownership,1
3,Collin County,0000NAN,0000NAN,NaN,SBA,CELTIC BANK CORPORATION,"Startup, Loan Funds will Open Business",1
4,Collin County,0000NAN,0000NAN,NaN,SBA,CRAFT BANK,"Startup, Loan Funds will Open Business",1
...,...,...,...,...,...,...,...,...
760,Tarrant County,1222.00,122200,Low or Moderate Income,SBA,VELOCITYSBA LLC,Existing or more than 2 years old,1
761,Tarrant County,1223.00,122300,Low or Moderate Income,SBA,ENCORE BANK,Existing or more than 2 years old,1
762,Tarrant County,1230.01,123001,Middle Income,SBA,ZIONS BANCORPORATION NA,New Business or 2 years or less,1
763,Tarrant County,1233.02,123302,Upper Income,SBA,BAYFIRST NATIONAL BANK,Existing or more than 2 years old,2
764,Tarrant County,1237.00,123700,Upper Income,SBA,CIERA BANK,New Business or 2 years or less,1

In [ ]:
# # census_level_hmda_num_summaries # grouped by 'county_code','census_tract'
# census_level_hmda_num_summaries = {}
# for num_field in ['loan_amount','interest_rate','origination_charges']:
#     # get five number summaries for hmda data 
#     temp_hmda_df = hmda_dict_lar_df.copy()
#     temp_hmda_df[num_field] = temp_hmda_df[num_field].replace('Exempt',np.nan).apply(float)
#     temp_num_counts = temp_hmda_df.groupby(['county_code','census_tract'])[num_field].median().reset_index()
#     # bring in ffiec subset 
#     tract_inc_ind = ffiec_data[['County','Census tract','Tract Income Indicator']]
#     # left merge ffiec data with 5 number summary df 
#     temp_num_summary = pd.merge(temp_num_counts,tract_inc_ind, left_on = ['county_code','census_tract'],\
#                                  right_on = ['County','Census tract'], how = 'left')
#     # add in Census_Tract_no_decimal
#     temp_num_summary['Census_Tract_no_decimal'] = \
#     temp_num_summary['census_tract'].str.replace('.','')

#     # add in data source
#     temp_num_summary['data_source'] = 'HMDA'
    
#     # add df to dictionary and reorder column names 
#     census_level_hmda_num_summaries[num_field] =\
#     temp_num_summary[['county_code','census_tract','Census_Tract_no_decimal',\
#                       'Tract Income Indicator','data_source','institution_name','count','min','50%','mean','max']]\
#     .fillna(0).rename(columns = {'50%':'median'})

In [99]:
# census_level_hmda_num_summaries

census_level_hmda_num_summaries = {}
for num_field in ['loan_amount','interest_rate','origination_charges']:
    # create deep copy of hmda data 
    temp_hmda_df = hmda_dict_lar_df.copy()
    # apply functions to update institution names 
    temp_hmda_df = affiliate_institutions(temp_hmda_df)
    temp_hmda_df = institution_name_transform(temp_hmda_df)
    # replace "Exempt" with np.nan in numeric fields, group and get median for hmda groupings  
    temp_hmda_df[num_field] = temp_hmda_df[num_field].replace('Exempt',np.nan).apply(float)
    temp_num_counts = temp_hmda_df.\
    groupby(['county_code','census_tract','institution_name'])[num_field].median().reset_index()
    # bring in ffiec subset 
    ffiec_data_cpy = ffiec_data.copy()
    tract_inc_ind = ffiec_data_cpy[['County','Census tract','Tract Income Indicator']]
    # left merge ffiec data with 5 number summary df 
    temp_num_summary = pd.merge(temp_num_counts,tract_inc_ind, left_on = ['county_code','census_tract'],\
                                 right_on = ['County','Census tract'], how = 'left')
    # add in Census_Tract_no_decimal
    temp_num_summary['Census_Tract_no_decimal'] = \
    temp_num_summary['census_tract'].str.replace('.','')

    # add in data source
    temp_num_summary['data_source'] = 'HMDA'
    
    # add df to dictionary and reorder column names 
    census_level_hmda_num_summaries[num_field] =\
    temp_num_summary[['county_code','census_tract','Census_Tract_no_decimal',\
                      'Tract Income Indicator','data_source',
                      'institution_name',
                     num_field]]\
    .fillna(0).rename(columns = {num_field:'median'})

In [100]:
census_level_hmda_num_summaries['interest_rate']

,county_code,census_tract,Census_Tract_no_decimal,Tract Income Indicator,data_source,institution_name,median
0,Collin County,0301.01,030101,Middle Income,HMDA,21ST MORTGAGE CORPORATION,7.70000
1,Collin County,0301.01,030101,Middle Income,HMDA,ALLIANCE BANK,0.00000
2,Collin County,0301.01,030101,Middle Income,HMDA,AMERICAN BANK OF COMMERCE,4.31250
3,Collin County,0301.01,030101,Middle Income,HMDA,AMERICAN FINANCIAL NETWORK INC,3.37500
4,Collin County,0301.01,030101,Middle Income,HMDA,AMERIHOME MORTGAGE COMPANY LLC,4.75000
...,...,...,...,...,...,...,...
95309,Tarrant County,nan,nan,0,HMDA,LAKEVIEW COMMUNITY CAPITAL LLC,7.50000
95310,Tarrant County,nan,nan,0,HMDA,NASCOGA FCU,7.00000
95311,Tarrant County,nan,nan,0,HMDA,OREC STRUCTURED FINANCE CO LLC,0.02717
95312,Tarrant County,nan,nan,0,HMDA,PROVIDENT FUNDING ASSOCIATES LP,0.00000
95313,Tarrant County,nan,nan,0,HMDA,TRUITY FCU,0.00000

In [101]:
census_level_hmda_num_summaries['interest_rate']

,county_code,census_tract,Census_Tract_no_decimal,Tract Income Indicator,data_source,institution_name,median
0,Collin County,0301.01,030101,Middle Income,HMDA,21ST MORTGAGE CORPORATION,7.70000
1,Collin County,0301.01,030101,Middle Income,HMDA,ALLIANCE BANK,0.00000
2,Collin County,0301.01,030101,Middle Income,HMDA,AMERICAN BANK OF COMMERCE,4.31250
3,Collin County,0301.01,030101,Middle Income,HMDA,AMERICAN FINANCIAL NETWORK INC,3.37500
4,Collin County,0301.01,030101,Middle Income,HMDA,AMERIHOME MORTGAGE COMPANY LLC,4.75000
...,...,...,...,...,...,...,...
95309,Tarrant County,nan,nan,0,HMDA,LAKEVIEW COMMUNITY CAPITAL LLC,7.50000
95310,Tarrant County,nan,nan,0,HMDA,NASCOGA FCU,7.00000
95311,Tarrant County,nan,nan,0,HMDA,OREC STRUCTURED FINANCE CO LLC,0.02717
95312,Tarrant County,nan,nan,0,HMDA,PROVIDENT FUNDING ASSOCIATES LP,0.00000
95313,Tarrant County,nan,nan,0,HMDA,TRUITY FCU,0.00000

In [102]:
census_level_hmda_num_summaries['loan_amount']

,county_code,census_tract,Census_Tract_no_decimal,Tract Income Indicator,data_source,institution_name,median
0,Collin County,0301.01,030101,Middle Income,HMDA,21ST MORTGAGE CORPORATION,120000.0
1,Collin County,0301.01,030101,Middle Income,HMDA,ALLIANCE BANK,485000.0
2,Collin County,0301.01,030101,Middle Income,HMDA,AMERICAN BANK OF COMMERCE,290000.0
3,Collin County,0301.01,030101,Middle Income,HMDA,AMERICAN FINANCIAL NETWORK INC,445000.0
4,Collin County,0301.01,030101,Middle Income,HMDA,AMERIHOME MORTGAGE COMPANY LLC,285000.0
...,...,...,...,...,...,...,...
95309,Tarrant County,nan,nan,0,HMDA,LAKEVIEW COMMUNITY CAPITAL LLC,405000.0
95310,Tarrant County,nan,nan,0,HMDA,NASCOGA FCU,155000.0
95311,Tarrant County,nan,nan,0,HMDA,OREC STRUCTURED FINANCE CO LLC,22565000.0
95312,Tarrant County,nan,nan,0,HMDA,PROVIDENT FUNDING ASSOCIATES LP,340000.0
95313,Tarrant County,nan,nan,0,HMDA,TRUITY FCU,185000.0

In [103]:
census_level_hmda_num_summaries['origination_charges']

,county_code,census_tract,Census_Tract_no_decimal,Tract Income Indicator,data_source,institution_name,median
0,Collin County,0301.01,030101,Middle Income,HMDA,21ST MORTGAGE CORPORATION,4500.000
1,Collin County,0301.01,030101,Middle Income,HMDA,ALLIANCE BANK,0.000
2,Collin County,0301.01,030101,Middle Income,HMDA,AMERICAN BANK OF COMMERCE,4049.280
3,Collin County,0301.01,030101,Middle Income,HMDA,AMERICAN FINANCIAL NETWORK INC,8073.120
4,Collin County,0301.01,030101,Middle Income,HMDA,AMERIHOME MORTGAGE COMPANY LLC,6436.165
...,...,...,...,...,...,...,...
95309,Tarrant County,nan,nan,0,HMDA,LAKEVIEW COMMUNITY CAPITAL LLC,0.000
95310,Tarrant County,nan,nan,0,HMDA,NASCOGA FCU,0.000
95311,Tarrant County,nan,nan,0,HMDA,OREC STRUCTURED FINANCE CO LLC,0.000
95312,Tarrant County,nan,nan,0,HMDA,PROVIDENT FUNDING ASSOCIATES LP,0.000
95313,Tarrant County,nan,nan,0,HMDA,TRUITY FCU,0.000

In [ ]:
# # census_level_sba_num_summaries

# census_level_sba_num_summaries = {}
# for num_field in ['Total loan amount','SBAGuaranteedApproval','InitialInterestRate','TermInMonths','JobsSupported']: 
#     # get five number summary for sba data
#     temp_num_counts = sba_data.groupby(['county_final','_tract'])[num_field].describe().reset_index()
#     # bring in ffiec subset 
#     tract_inc_ind = ffiec_data[['County','Census tract','Tract Income Indicator']]
#     # left merge ffiec data with 5 number summary df 
#     temp_num_summary = pd.merge(temp_num_counts,tract_inc_ind, left_on = ['county_final','_tract'],\
#                                  right_on = ['County','Census tract'], how = 'left')
#     # add in Census_Tract_no_decimal
#     temp_num_summary['Census_Tract_no_decimal'] = \
#     temp_num_summary['_tract'].str.replace('.','')
#     # add in data source
#     temp_num_summary['data_source'] = 'SBA'
#     # add df to dictionary and reorder column names 
#     census_level_sba_num_summaries[num_field] =\
#     temp_num_summary[['county_final','_tract','Census_Tract_no_decimal','institution_name',\
#                       'Tract Income Indicator','data_source','count','min','50%','mean','max']]\
#     .fillna(0).rename(columns = {'county_final':'county_code','50%':'median','_tract':'census_tract'})

In [104]:
# census_level_sba_num_summaries

census_level_sba_num_summaries = {}
for num_field in ['Total loan amount',
                  'SBAGuaranteedApproval',
                  'InitialInterestRate',
                  'TermInMonths',
                  'JobsSupported']: 
    # create deep copy of sba data 
    sba_data_cpy = sba_data.copy()
    # apply functions to update institution names
    sba_data_cpy = affiliate_institutions(sba_data_cpy)
    sba_data_cpy = institution_name_transform(sba_data_cpy)
    # group sba data and get median for groupings 
    temp_num_counts = sba_data_cpy.groupby([
        'county_final',
        '_tract',
        'institution_name'])[num_field].median().reset_index()
    # bring in ffiec subset
    ffiec_data_cpy = ffiec_data.copy()
    tract_inc_ind = ffiec_data_cpy[['County','Census tract','Tract Income Indicator']]
    # left merge ffiec data with 5 number summary df 
    temp_num_summary = pd.merge(temp_num_counts,tract_inc_ind, left_on = ['county_final','_tract'],\
                                 right_on = ['County','Census tract'], how = 'left')
    # add in Census_Tract_no_decimal
    temp_num_summary['Census_Tract_no_decimal'] = \
    temp_num_summary['_tract'].str.replace('.','')
    # add in data source
    temp_num_summary['data_source'] = 'SBA'
    # add df to dictionary and reorder column names 
    census_level_sba_num_summaries[num_field] =\
    temp_num_summary[['county_final','_tract','Census_Tract_no_decimal','institution_name',\
                      'Tract Income Indicator','data_source',num_field]]\
    .fillna(0).rename(columns = {'county_final':'county_code',
                                 num_field:'median',
                                 '_tract':'census_tract'})

In [105]:
census_level_sba_num_summaries['InitialInterestRate']

,county_code,census_tract,Census_Tract_no_decimal,institution_name,Tract Income Indicator,data_source,median
0,Collin County,0000NAN,0000NAN,BANK FIVE NINE,0,SBA,8.750
1,Collin County,0000NAN,0000NAN,BAYFIRST NATIONAL BANK,0,SBA,10.000
2,Collin County,0000NAN,0000NAN,BYLINE BANK,0,SBA,6.500
3,Collin County,0000NAN,0000NAN,CELTIC BANK CORPORATION,0,SBA,5.750
4,Collin County,0000NAN,0000NAN,CRAFT BANK,0,SBA,6.000
...,...,...,...,...,...,...,...
731,Tarrant County,1222.00,122200,VELOCITYSBA LLC,Low or Moderate Income,SBA,5.500
732,Tarrant County,1223.00,122300,ENCORE BANK,Low or Moderate Income,SBA,6.250
733,Tarrant County,1230.01,123001,ZIONS BANCORPORATION NA,Middle Income,SBA,5.500
734,Tarrant County,1233.02,123302,BAYFIRST NATIONAL BANK,Upper Income,SBA,8.375
735,Tarrant County,1237.00,123700,CIERA BANK,Upper Income,SBA,4.750

In [106]:
census_level_sba_num_summaries['JobsSupported']

,county_code,census_tract,Census_Tract_no_decimal,institution_name,Tract Income Indicator,data_source,median
0,Collin County,0000NAN,0000NAN,BANK FIVE NINE,0,SBA,35.0
1,Collin County,0000NAN,0000NAN,BAYFIRST NATIONAL BANK,0,SBA,7.0
2,Collin County,0000NAN,0000NAN,BYLINE BANK,0,SBA,300.0
3,Collin County,0000NAN,0000NAN,CELTIC BANK CORPORATION,0,SBA,11.0
4,Collin County,0000NAN,0000NAN,CRAFT BANK,0,SBA,12.0
...,...,...,...,...,...,...,...
731,Tarrant County,1222.00,122200,VELOCITYSBA LLC,Low or Moderate Income,SBA,6.0
732,Tarrant County,1223.00,122300,ENCORE BANK,Low or Moderate Income,SBA,18.0
733,Tarrant County,1230.01,123001,ZIONS BANCORPORATION NA,Middle Income,SBA,6.0
734,Tarrant County,1233.02,123302,BAYFIRST NATIONAL BANK,Upper Income,SBA,6.5
735,Tarrant County,1237.00,123700,CIERA BANK,Upper Income,SBA,25.0

In [107]:
census_level_sba_num_summaries['SBAGuaranteedApproval']

,county_code,census_tract,Census_Tract_no_decimal,institution_name,Tract Income Indicator,data_source,median
0,Collin County,0000NAN,0000NAN,BANK FIVE NINE,0,SBA,384075.0
1,Collin County,0000NAN,0000NAN,BAYFIRST NATIONAL BANK,0,SBA,127500.0
2,Collin County,0000NAN,0000NAN,BYLINE BANK,0,SBA,3750000.0
3,Collin County,0000NAN,0000NAN,CELTIC BANK CORPORATION,0,SBA,2839725.0
4,Collin County,0000NAN,0000NAN,CRAFT BANK,0,SBA,214500.0
...,...,...,...,...,...,...,...
731,Tarrant County,1222.00,122200,VELOCITYSBA LLC,Low or Moderate Income,SBA,339000.0
732,Tarrant County,1223.00,122300,ENCORE BANK,Low or Moderate Income,SBA,566325.0
733,Tarrant County,1230.01,123001,ZIONS BANCORPORATION NA,Middle Income,SBA,261750.0
734,Tarrant County,1233.02,123302,BAYFIRST NATIONAL BANK,Upper Income,SBA,127500.0
735,Tarrant County,1237.00,123700,CIERA BANK,Upper Income,SBA,188925.0

In [108]:
census_level_sba_num_summaries['TermInMonths']

,county_code,census_tract,Census_Tract_no_decimal,institution_name,Tract Income Indicator,data_source,median
0,Collin County,0000NAN,0000NAN,BANK FIVE NINE,0,SBA,120.0
1,Collin County,0000NAN,0000NAN,BAYFIRST NATIONAL BANK,0,SBA,120.0
2,Collin County,0000NAN,0000NAN,BYLINE BANK,0,SBA,120.0
3,Collin County,0000NAN,0000NAN,CELTIC BANK CORPORATION,0,SBA,312.0
4,Collin County,0000NAN,0000NAN,CRAFT BANK,0,SBA,126.0
...,...,...,...,...,...,...,...
731,Tarrant County,1222.00,122200,VELOCITYSBA LLC,Low or Moderate Income,SBA,300.0
732,Tarrant County,1223.00,122300,ENCORE BANK,Low or Moderate Income,SBA,306.0
733,Tarrant County,1230.01,123001,ZIONS BANCORPORATION NA,Middle Income,SBA,124.0
734,Tarrant County,1233.02,123302,BAYFIRST NATIONAL BANK,Upper Income,SBA,120.0
735,Tarrant County,1237.00,123700,CIERA BANK,Upper Income,SBA,290.0

In [109]:
census_level_sba_num_summaries['Total loan amount']

,county_code,census_tract,Census_Tract_no_decimal,institution_name,Tract Income Indicator,data_source,median
0,Collin County,0000NAN,0000NAN,BANK FIVE NINE,0,SBA,512100.0
1,Collin County,0000NAN,0000NAN,BAYFIRST NATIONAL BANK,0,SBA,150000.0
2,Collin County,0000NAN,0000NAN,BYLINE BANK,0,SBA,5000000.0
3,Collin County,0000NAN,0000NAN,CELTIC BANK CORPORATION,0,SBA,3786300.0
4,Collin County,0000NAN,0000NAN,CRAFT BANK,0,SBA,286000.0
...,...,...,...,...,...,...,...
731,Tarrant County,1222.00,122200,VELOCITYSBA LLC,Low or Moderate Income,SBA,452000.0
732,Tarrant County,1223.00,122300,ENCORE BANK,Low or Moderate Income,SBA,755100.0
733,Tarrant County,1230.01,123001,ZIONS BANCORPORATION NA,Middle Income,SBA,349000.0
734,Tarrant County,1233.02,123302,BAYFIRST NATIONAL BANK,Upper Income,SBA,150000.0
735,Tarrant County,1237.00,123700,CIERA BANK,Upper Income,SBA,251900.0

## tableau_stack_data_format function for **census level summaries**

In [110]:
lst_of_dcts = [census_level_hmda_cat_summaries_long, census_level_hmda_num_summaries, census_level_sba_cat_summaries_long, census_level_sba_num_summaries]

In [111]:
def tableau_stack_data_format(lst_of_summary_table_dicts):
    summaries_tableau_df = pd.DataFrame()
    for summary_dct in lst_of_summary_table_dicts:
        for summary_table_name in summary_dct.keys():
            temp_df = summary_dct[summary_table_name].copy()
            temp_df = temp_df[['county_code',
                               'census_tract',
                               'institution_name',
                               'Census_Tract_no_decimal',
                               'Tract Income Indicator', # remove this if not grouping but tract indicator
                               'data_source']]
            temp_df['variable_name'] = summary_table_name
            variable_type = ''
            if 'median' in summary_dct[summary_table_name].columns:
                variable_type = 'numeric'
            else:
                variable_type = 'categorical'
            temp_df['variable_type'] = variable_type
            if variable_type == 'numeric':
                temp_df['categorical_level'] = ''
            else:
                temp_df['categorical_level'] = summary_dct[summary_table_name][summary_table_name].copy()
            if variable_type == 'numeric':
                temp_df['value_type'] = 'median'
                temp_df['value'] = summary_dct[summary_table_name]['median'].copy()
            else:
                temp_df['value_type'] = 'count'
                temp_df['value'] = summary_dct[summary_table_name]['count'].copy()
            summaries_tableau_df = pd.concat([summaries_tableau_df,temp_df],ignore_index = True)
            print(summary_table_name,':table added',temp_df.shape[0],'rows added')
    return summaries_tableau_df

In [112]:
summaries_tableau_df_otp = tableau_stack_data_format(lst_of_dcts)

derived_loan_product_type :table added 69354 rows added
loan_type :table added 66751 rows added
loan_purpose :table added 75248 rows added
lien_status :table added 64184 rows added
open_end_line_of_credit :table added 63141 rows added
business_or_commercial_purpose :table added 63143 rows added
debt_to_income_ratio :table added 81863 rows added
applicant_credit_score_type :table added 80579 rows added
applicant_sex :table added 75845 rows added
applicant_age :table added 86916 rows added
loan_amount :table added 95314 rows added
interest_rate :table added 95314 rows added
origination_charges :table added 95314 rows added
DeliveryMethod :table added 779 rows added
CongressionalDistrict :table added 759 rows added
BusinessType :table added 738 rows added
BusinessAge :table added 765 rows added
Total loan amount :table added 736 rows added
SBAGuaranteedApproval :table added 736 rows added
InitialInterestRate :table added 736 rows added
TermInMonths :table added 736 rows added
JobsSupported :table added 736 rows added

In [113]:
summaries_tableau_df_otp

,county_code,census_tract,institution_name,Census_Tract_no_decimal,Tract Income Indicator,data_source,variable_name,variable_type,categorical_level,value_type,value
0,Collin County,0301.01,21ST MORTGAGE CORPORATION,030101,Middle Income,HMDA,derived_loan_product_type,categorical,Conventional:First Lien,count,3.0
1,Collin County,0301.01,ALLIANCE BANK,030101,Middle Income,HMDA,derived_loan_product_type,categorical,Conventional:First Lien,count,1.0
2,Collin County,0301.01,AMERICAN BANK OF COMMERCE,030101,Middle Income,HMDA,derived_loan_product_type,categorical,Conventional:First Lien,count,2.0
3,Collin County,0301.01,AMERICAN FINANCIAL NETWORK INC,030101,Middle Income,HMDA,derived_loan_product_type,categorical,Conventional:First Lien,count,1.0
4,Collin County,0301.01,AMERISAVE MORTGAGE CORPORATION,030101,Middle Income,HMDA,derived_loan_product_type,categorical,Conventional:First Lien,count,1.0
...,...,...,...,...,...,...,...,...,...,...,...
1019682,Tarrant County,1222.00,VELOCITYSBA LLC,122200,Low or Moderate Income,SBA,JobsSupported,numeric,,median,6.0
1019683,Tarrant County,1223.00,ENCORE BANK,122300,Low or Moderate Income,SBA,JobsSupported,numeric,,median,18.0
1019684,Tarrant County,1230.01,ZIONS BANCORPORATION NA,123001,Middle Income,SBA,JobsSupported,numeric,,median,6.0
1019685,Tarrant County,1233.02,BAYFIRST NATIONAL BANK,123302,Upper Income,SBA,JobsSupported,numeric,,median,6.5
1019686,Tarrant County,1237.00,CIERA BANK,123700,Upper Income,SBA,JobsSupported,numeric,,median,25.0

## **FFIEC Summary Dataset**

In [114]:
ffiec_data_summary = ffiec_data.copy()
# hispanic
ffiec_data_summary['Hispanic']\
= ffiec_data_summary['Total population Hispanic or Latino by race']

# white
ffiec_data_summary['White']\
= ffiec_data_summary['Total population non-Hispanic White']

# black
ffiec_data_summary['Black']\
= ffiec_data_summary\
['Total population non-Hispanic White and Black'] +\
ffiec_data_summary\
['Total population non-Hispanic Black/African American'] +\
ffiec_data_summary\
['Total population non-Hispanic Black and American Indian or Alaska native']

# asian
ffiec_data_summary['Asian']\
= ffiec_data_summary\
['Total population non-Hispanic Asian']+\
    ffiec_data_summary\
['Total population non-Hispanic native Hawaiian or other Pacific Islander']+\
    ffiec_data_summary\
['Total population non-Hispanic White and Asian']+\
    ffiec_data_summary\
['Total population non-Hispanic White and Native Hawaiian or other Pacific Islander']

# other
ffiec_data_summary['Other']\
= ffiec_data_summary\
['Total population non-Hispanic American Indian or Alaska native']+\
ffiec_data_summary\
['Total population non-Hispanic some other race']+\
ffiec_data_summary\
['Total population non-Hispanic two or more races']+\
ffiec_data_summary\
['Total population non-Hispanic exactly two races']+\
ffiec_data_summary\
['Total population non-Hispanic White and American Indian or Alaska native']+\
ffiec_data_summary\
['Total population non-Hispanic White and some other race']

In [115]:
# subset for values of interest
ffiec_data_summary = ffiec_data_summary[[
    'State',
    'County',
    'Census tract',
    'Tract Income Indicator',
    'Hispanic',
    'White',
    'Black',
    'Asian',
    'Other']]

In [116]:
ffiec_data_summary.head()

,State,County,Census tract,Tract Income Indicator,Hispanic,White,Black,Asian,Other
72753,TEXAS,Collin County,0301.01,Middle Income,782.0,2510.0,56.0,53.0,534.0
72754,TEXAS,Collin County,0301.02,Low or Moderate Income,832.0,3139.0,57.0,49.0,586.0
72755,TEXAS,Collin County,0302.01,Middle Income,905.0,4074.0,648.0,255.0,869.0
72756,TEXAS,Collin County,0302.02,Upper Income,850.0,4317.0,570.0,366.0,828.0
72757,TEXAS,Collin County,0302.04,Middle Income,1705.0,4332.0,1013.0,206.0,1036.0

In [117]:
ffiec_data_summary_long_format = ffiec_data_summary.melt(
    id_vars = [
    'State',
    'County',
    'Census tract',
    'Tract Income Indicator'],
    value_vars = [
        'Hispanic',
        'White',
        'Black',
        'Asian',
        'Other'], 
    var_name = 'Race/Ethnicity',
    value_name = 'Total Persons in Race Ethnicity Group')

In [118]:
# adding columns to make help concate ffiec data to hmda, sba long format data
ffiec_data_summary_long_format = ffiec_data_summary_long_format\
.rename(columns = {'County':'county_code','Census tract':'census_tract'})
ffiec_data_summary_long_format['Census_Tract_no_decimal'] = \
ffiec_data_summary_long_format['census_tract'].str.replace('.','')
ffiec_data_summary_long_format['data_source'] = 'FFIEC'

In [119]:
ffiec_data_summary_long_format

,State,county_code,census_tract,Tract Income Indicator,Race/Ethnicity,Total Persons in Race Ethnicity Group,Census_Tract_no_decimal,data_source
0,TEXAS,Collin County,0301.01,Middle Income,Hispanic,782.0,030101,FFIEC
1,TEXAS,Collin County,0301.02,Low or Moderate Income,Hispanic,832.0,030102,FFIEC
2,TEXAS,Collin County,0302.01,Middle Income,Hispanic,905.0,030201,FFIEC
3,TEXAS,Collin County,0302.02,Upper Income,Hispanic,850.0,030202,FFIEC
4,TEXAS,Collin County,0302.04,Middle Income,Hispanic,1705.0,030204,FFIEC
...,...,...,...,...,...,...,...,...
6565,TEXAS,Tarrant County,1233.02,Upper Income,Other,283.0,123302,FFIEC
6566,TEXAS,Tarrant County,1235.00,Low or Moderate Income,Other,141.0,123500,FFIEC
6567,TEXAS,Tarrant County,1236.00,Low or Moderate Income,Other,305.0,123600,FFIEC
6568,TEXAS,Tarrant County,1237.00,Upper Income,Other,380.0,123700,FFIEC
6569,TEXAS,Tarrant County,9800.00,Unknown Income,Other,3.0,980000,FFIEC

In [120]:
# add in census tract no decimal field
ffiec_summary_tableau_df = ffiec_data_summary_long_format[[
    'county_code',
    'census_tract',
    'Census_Tract_no_decimal',
    'Tract Income Indicator',
    'data_source']].copy()

In [121]:
ffiec_summary_tableau_df['variable_name'] = 'Race/Ethnicity'

In [122]:
ffiec_summary_tableau_df['variable_type'] = 'categorical'

In [123]:
ffiec_summary_tableau_df['categorical_level']\
= ffiec_data_summary_long_format['Race/Ethnicity']

In [124]:
ffiec_summary_tableau_df['value_type'] = 'count'

In [125]:
ffiec_summary_tableau_df['value']\
= ffiec_data_summary_long_format['Total Persons in Race Ethnicity Group']

In [126]:
ffiec_summary_tableau_df['institution_name'] = ''

In [127]:
ffiec_summary_tableau_df = ffiec_summary_tableau_df[[\
    'county_code',
    'census_tract',	
    'institution_name',
    'Census_Tract_no_decimal',
    'Tract Income Indicator',
    'data_source',
    'variable_name',
    'variable_type',
    'categorical_level',
    'value_type',
    'value']]

In [128]:
ffiec_summary_tableau_df

,county_code,census_tract,institution_name,Census_Tract_no_decimal,Tract Income Indicator,data_source,variable_name,variable_type,categorical_level,value_type,value
0,Collin County,0301.01,,030101,Middle Income,FFIEC,Race/Ethnicity,categorical,Hispanic,count,782.0
1,Collin County,0301.02,,030102,Low or Moderate Income,FFIEC,Race/Ethnicity,categorical,Hispanic,count,832.0
2,Collin County,0302.01,,030201,Middle Income,FFIEC,Race/Ethnicity,categorical,Hispanic,count,905.0
3,Collin County,0302.02,,030202,Upper Income,FFIEC,Race/Ethnicity,categorical,Hispanic,count,850.0
4,Collin County,0302.04,,030204,Middle Income,FFIEC,Race/Ethnicity,categorical,Hispanic,count,1705.0
...,...,...,...,...,...,...,...,...,...,...,...
6565,Tarrant County,1233.02,,123302,Upper Income,FFIEC,Race/Ethnicity,categorical,Other,count,283.0
6566,Tarrant County,1235.00,,123500,Low or Moderate Income,FFIEC,Race/Ethnicity,categorical,Other,count,141.0
6567,Tarrant County,1236.00,,123600,Low or Moderate Income,FFIEC,Race/Ethnicity,categorical,Other,count,305.0
6568,Tarrant County,1237.00,,123700,Upper Income,FFIEC,Race/Ethnicity,categorical,Other,count,380.0
6569,Tarrant County,9800.00,,980000,Unknown Income,FFIEC,Race/Ethnicity,categorical,Other,count,3.0

## **Concatenate summaries**

In [129]:
# concatenate census tract-level hmda and sba summaries in tableau format with census tract level ffiec summary in tableau format
tract_hmda_sba_ffiec_summaries_tableau =\
pd.concat([summaries_tableau_df_otp,ffiec_summary_tableau_df], ignore_index = True)

In [130]:
tract_hmda_sba_ffiec_summaries_tableau

,county_code,census_tract,institution_name,Census_Tract_no_decimal,Tract Income Indicator,data_source,variable_name,variable_type,categorical_level,value_type,value
0,Collin County,0301.01,21ST MORTGAGE CORPORATION,030101,Middle Income,HMDA,derived_loan_product_type,categorical,Conventional:First Lien,count,3.0
1,Collin County,0301.01,ALLIANCE BANK,030101,Middle Income,HMDA,derived_loan_product_type,categorical,Conventional:First Lien,count,1.0
2,Collin County,0301.01,AMERICAN BANK OF COMMERCE,030101,Middle Income,HMDA,derived_loan_product_type,categorical,Conventional:First Lien,count,2.0
3,Collin County,0301.01,AMERICAN FINANCIAL NETWORK INC,030101,Middle Income,HMDA,derived_loan_product_type,categorical,Conventional:First Lien,count,1.0
4,Collin County,0301.01,AMERISAVE MORTGAGE CORPORATION,030101,Middle Income,HMDA,derived_loan_product_type,categorical,Conventional:First Lien,count,1.0
...,...,...,...,...,...,...,...,...,...,...,...
1026252,Tarrant County,1233.02,,123302,Upper Income,FFIEC,Race/Ethnicity,categorical,Other,count,283.0
1026253,Tarrant County,1235.00,,123500,Low or Moderate Income,FFIEC,Race/Ethnicity,categorical,Other,count,141.0
1026254,Tarrant County,1236.00,,123600,Low or Moderate Income,FFIEC,Race/Ethnicity,categorical,Other,count,305.0
1026255,Tarrant County,1237.00,,123700,Upper Income,FFIEC,Race/Ethnicity,categorical,Other,count,380.0
1026256,Tarrant County,9800.00,,980000,Unknown Income,FFIEC,Race/Ethnicity,categorical,Other,count,3.0

In [122]:
#tract_hmda_sba_ffiec_summaries_tableau

## export to excel workbook

In [131]:
# export hmda, sba, ffiec tableau formatted large table (9-10 minute run time)
excel_output_file = "banking_dashboard_analysis_export_hmda_sba_ffiec_with_inst.xlsx"

with pd.ExcelWriter(excel_output_file) as writer:
    #for hmda_dct in [census_level_hmda_cat_summaries_long, census_level_hmda_num_summaries]:
    #    for key, value in hmda_dct.items():
    sheet_name = 'hmda_sba_ffiec_large_table'
    print(f"Exporting results for {sheet_name}")  
    
    # Insert the item label into the A1 cell in the worksheet
    item_label = pd.Series(sheet_name).to_frame()
    item_label.to_excel(writer, sheet_name=sheet_name, startcol=0, startrow=0, index = False, header = False) 
    
    # Insert the dataframe
    tract_hmda_sba_ffiec_summaries_tableau.to_excel(writer, sheet_name=sheet_name, startcol=3, startrow=0)

Exporting results for hmda_sba_ffiec_large_table

In [ ]:
# # export hmda, sba, ffiec tableau formatted large table (9-10 minute run time)
# excel_output_file = "banking_dashboard_analysis_export_hmda_sba_ffiec.xlsx"

# with pd.ExcelWriter(excel_output_file) as writer:
#     #for hmda_dct in [census_level_hmda_cat_summaries_long, census_level_hmda_num_summaries]:
#     #    for key, value in hmda_dct.items():
#     sheet_name = 'hmda_sba_ffiec_large_table'
#     print(f"Exporting results for {sheet_name}")  
    
#     # Insert the item label into the A1 cell in the worksheet
#     item_label = pd.Series(sheet_name).to_frame()
#     item_label.to_excel(writer, sheet_name=sheet_name, startcol=0, startrow=0, index = False, header = False) 
    
#     # Insert the dataframe
#     tract_hmda_sba_ffiec_summaries_tableau.to_excel(writer, sheet_name=sheet_name, startcol=3, startrow=0)

In [ ]:
# export cra 2022 subset data
excel_output_file = "cra_2022_D11_subset.xlsx"

with pd.ExcelWriter(excel_output_file) as writer:
    #for hmda_dct in [census_level_hmda_cat_summaries_long, census_level_hmda_num_summaries]:
    #    for key, value in hmda_dct.items():
    sheet_name = 'cra_2022_D11_subset'
    print(f"Exporting results for {sheet_name}")  
    
    # Insert the item label into the A1 cell in the worksheet
    item_label = pd.Series(sheet_name).to_frame()
    item_label.to_excel(writer, sheet_name=sheet_name, startcol=0, startrow=0, index = False, header = False) 
    
    # Insert the dataframe
    cra_2022_D11_subset.to_excel(writer, sheet_name=sheet_name, startcol=3, startrow=0)

In [ ]:
# export hmda data in long format as multiple sheets(one for each summary)
excel_output_file = "banking_dashboard_analysis_export_hmda.xlsx"

with pd.ExcelWriter(excel_output_file) as writer:
    for hmda_dct in [census_level_hmda_cat_summaries_long, census_level_hmda_num_summaries]:
        for key, value in hmda_dct.items():
            sheet_name = key
            print(f"Exporting results for {sheet_name}")  
            
            # Insert the item label into the A1 cell in the worksheet
            item_label = pd.Series(sheet_name).to_frame()
            item_label.to_excel(writer, sheet_name=sheet_name, startcol=0, startrow=0, index = False, header = False) 
            
            # Insert the dataframe
            value.to_excel(writer, sheet_name=sheet_name, startcol=3, startrow=0)

In [115]:
# export sba data in long format as multiple sheets(one for each summary)

excel_output_file = "banking_dashboard_analysis_export_sba.xlsx"

with pd.ExcelWriter(excel_output_file) as writer:
    for sba_dict in [census_level_sba_cat_summaries_long, census_level_sba_num_summaries]:
        for key, value in sba_dict.items():
            sheet_name = key
            print(f"Exporting results for {sheet_name}")  
            
            # Insert the item label into the A1 cell in the worksheet
            item_label = pd.Series(sheet_name).to_frame()
            item_label.to_excel(writer, sheet_name=sheet_name, startcol=0, startrow=0, index = False, header = False) 
            
            # Insert the dataframe
            value.to_excel(writer, sheet_name=sheet_name, startcol=3, startrow=0)

Exporting results for DeliveryMethod
Exporting results for CongressionalDistrict
Exporting results for BusinessType
Exporting results for BusinessAge
Exporting results for Total loan amount
Exporting results for SBAGuaranteedApproval
Exporting results for InitialInterestRate
Exporting results for TermInMonths
Exporting results for JobsSupported

## **County-level** summaries

In [76]:
# county_level_hmda_cat_summaries LONG FORMAT COUNTY LEVEL

county_level_hmda_cat_summaries_long = {}
for category in category_lst: 
    # get value counts for hmda data 
    temp_cat_counts = hmda_dict_lar_df[hmda_dict_lar_df['action_taken'] == 'Loan originated']\
    .groupby(['county_code'])[category].value_counts(dropna = False)\
    .reset_index().fillna(0)
    # create new columns for sum of rows 
    #temp_cat_counts['Total'] = temp_cat_counts.sum(axis = 1, numeric_only = True)
    # bring in ffiec subset
    # tract_inc_ind = ffiec_data[['County','Tract Income Indicator']]
    # left merge ffiec subset to hmda value counts df 
    # temp_cat_summary = pd.merge(temp_cat_counts,tract_inc_ind, left_on = ['county_code'],\
    #                             right_on = ['County'], how = 'left')
    # # add  in census tract with no decimal point 
    # temp_cat_summary['Census_Tract_no_decimal'] = \
    # temp_cat_summary['census_tract'].str.replace('.','')

    # add in hmda column
    temp_cat_counts['data_source'] = 'HMDA'
    
    # reorder column names
    temp_cat_counts = temp_cat_counts[\
    ['county_code','data_source'] + 
    temp_cat_counts.drop(['county_code','data_source'],axis = 1).columns.to_list()]
    county_level_hmda_cat_summaries_long[category] = temp_cat_counts

In [77]:
county_level_hmda_cat_summaries_long['derived_loan_product_type']

       county_code data_source      derived_loan_product_type  count
0    Collin County        HMDA        Conventional:First Lien  26380
1    Collin County        HMDA  Conventional:Subordinate Lien   4229
2    Collin County        HMDA                 FHA:First Lien   1993
3    Collin County        HMDA                  VA:First Lien   1172
4    Collin County        HMDA                          Other     35
5    Dallas County        HMDA        Conventional:First Lien  32205
6    Dallas County        HMDA                 FHA:First Lien   3908
7    Dallas County        HMDA  Conventional:Subordinate Lien   3346
8    Dallas County        HMDA                  VA:First Lien   1098
9    Dallas County        HMDA                          Other      8
10  Tarrant County        HMDA        Conventional:First Lien  33228
11  Tarrant County        HMDA                 FHA:First Lien   4801
12  Tarrant County        HMDA  Conventional:Subordinate Lien   3827
13  Tarrant County        HMDA                  VA:First Lien   2662
14  Tarrant County        HMDA                          Other     20

In [78]:
# county_level_sba_cat_summaries_long LONG FORMAT COUNTY LEVEL

county_level_sba_cat_summaries_long = {}
for category in ['DeliveryMethod','CongressionalDistrict','BusinessType','BusinessAge']: 
    # get value counts for sba category columns
    temp_cat_counts = sba_data.groupby(['county_final'])[category].value_counts(dropna = False)\
    .reset_index().fillna(0)
    # create new columns for sum or rows
    #temp_cat_counts['Total'] = temp_cat_counts.sum(axis = 1, numeric_only = True)
    # bring in ffiec subset
    # tract_inc_ind = ffiec_data[['County','Census tract','Tract Income Indicator']]
    # left merge ffiec subset to sba value counts df 
    # temp_cat_summary = pd.merge(temp_cat_counts,tract_inc_ind, left_on = ['county_final','_tract'],\
                                # right_on = ['County','Census tract'], how = 'left')
    # add  in census tract with no decimal point 
    # temp_cat_summary['Census_Tract_no_decimal'] = \
    # temp_cat_summary['_tract'].str.replace('.','')

    # add in data source column 
    temp_cat_counts['data_source'] = 'SBA'
    
    # reorder columns names 
    temp_cat_counts = temp_cat_counts[\
    ['county_final','data_source'] + 
    temp_cat_counts.drop(['county_final','data_source'], axis = 1).columns.to_list()].\
    rename(columns = {'county_final':'county_code'})
    county_level_sba_cat_summaries_long[category] = temp_cat_counts

In [79]:
county_level_sba_cat_summaries_long['DeliveryMethod']

       county_code data_source            DeliveryMethod  count
0    Collin County         SBA  Preferred Lender Program    140
1    Collin County         SBA               SBA Express     48
2    Collin County         SBA           Other 7(a) Loan     18
3    Collin County         SBA       Community Advantage      8
4    Collin County         SBA                     Other      2
5    Dallas County         SBA  Preferred Lender Program    249
6    Dallas County         SBA               SBA Express     77
7    Dallas County         SBA           Other 7(a) Loan     18
8    Dallas County         SBA       Community Advantage      9
9    Dallas County         SBA                     Other      2
10  Tarrant County         SBA  Preferred Lender Program    192
11  Tarrant County         SBA               SBA Express     45
12  Tarrant County         SBA           Other 7(a) Loan     19
13  Tarrant County         SBA       Community Advantage      5
14  Tarrant County         SBA                     Other      3

In [80]:
# county_level_hmda_num_summaries

county_level_hmda_num_summaries = {}
for num_field in ['loan_amount','interest_rate','origination_charges']:
    # get five number summaries for hmda data 
    temp_hmda_df = hmda_dict_lar_df.copy()
    temp_hmda_df[num_field] = temp_hmda_df[num_field].replace('Exempt',np.nan).apply(float)
    temp_num_counts = temp_hmda_df.groupby(['county_code'])[num_field].describe().reset_index()
    # bring in ffiec subset 
    # tract_inc_ind = ffiec_data[['County','Census tract','Tract Income Indicator']]
    # left merge ffiec data with 5 number summary df 
    # temp_num_summary = pd.merge(temp_num_counts,tract_inc_ind, left_on = ['county_code','census_tract'],\
    #                              right_on = ['County','Census tract'], how = 'left')
    # add in Census_Tract_no_decimal
    # temp_num_summary['Census_Tract_no_decimal'] = \
    # temp_num_summary['census_tract'].str.replace('.','')

    # add in data source
    temp_num_counts['data_source'] = 'HMDA'
    
    # add df to dictionary and reorder column names 
    county_level_hmda_num_summaries[num_field] =\
    temp_num_counts[['county_code','data_source','count','min','50%','mean','max']]\
    .fillna(0).rename(columns = {'50%':'median'})

In [81]:
county_level_hmda_num_summaries['loan_amount']

,county_code,data_source,count,min,median,mean,max
0,Collin County,HMDA,68831.0,5000.0,345000.0,425588.542953,651515000.0
1,Dallas County,HMDA,88276.0,5000.0,245000.0,393822.103403,427115000.0
2,Tarrant County,HMDA,92191.0,5000.0,255000.0,349344.892668,693925000.0

In [82]:
# county_level_sba_num_summaries

county_level_sba_num_summaries = {}
for num_field in ['Total loan amount','SBAGuaranteedApproval','InitialInterestRate','TermInMonths','JobsSupported']: 
    # get five number summary for sba data
    temp_num_counts = sba_data.groupby(['county_final'])[num_field].describe().reset_index()
    # bring in ffiec subset 
    # tract_inc_ind = ffiec_data[['County','Census tract','Tract Income Indicator']]
    # left merge ffiec data with 5 number summary df 
    # temp_num_summary = pd.merge(temp_num_counts,tract_inc_ind, left_on = ['county_final','_tract'],\
    #                              right_on = ['County','Census tract'], how = 'left')
    # add in Census_Tract_no_decimal
    # temp_num_summary['Census_Tract_no_decimal'] = \
    # temp_num_summary['_tract'].str.replace('.','')
    # add in data source
    temp_num_counts['data_source'] = 'SBA'
    # add df to dictionary and reorder column names 
    county_level_sba_num_summaries[num_field] =\
    temp_num_counts[['county_final','data_source','count','min','50%','mean','max']]\
    .fillna(0).rename(columns = {'county_final':'county_code','50%':'median'})

In [83]:
county_level_sba_num_summaries['Total loan amount']

,county_code,data_source,count,min,median,mean,max
0,Collin County,SBA,216.0,5000.0,347500.0,738306.481481,5000000.0
1,Dallas County,SBA,355.0,7500.0,430000.0,810927.887324,5000000.0
2,Tarrant County,SBA,264.0,5000.0,489000.0,837009.090909,5000000.0

## tableau_stack_data_format function for **county level summaries**

In [90]:
lst_of_county_dcts = [county_level_hmda_cat_summaries_long,
                      county_level_hmda_num_summaries, 
                      county_level_sba_cat_summaries_long, 
                      county_level_sba_num_summaries]

In [91]:
def tableau_stack_data_format_county(lst_of_summary_table_dicts):
    summaries_tableau_df = pd.DataFrame()
    for summary_dct in lst_of_summary_table_dicts:
        for summary_table_name in summary_dct.keys():
            temp_df = summary_dct[summary_table_name].copy()
            temp_df = temp_df[['county_code','data_source']]
            temp_df['variable_name'] = summary_table_name
            variable_type = ''
            if 'median' in summary_dct[summary_table_name].columns:
                variable_type = 'numeric'
            else:
                variable_type = 'categorical'
            temp_df['variable_type'] = variable_type
            if variable_type == 'numeric':
                temp_df['categorical_level'] = ''
            else:
                temp_df['categorical_level'] = summary_dct[summary_table_name][summary_table_name].copy()
            if variable_type == 'numeric':
                temp_df['value_type'] = 'median'
                temp_df['value'] = summary_dct[summary_table_name]['median'].copy()
            else:
                temp_df['value_type'] = 'count'
                temp_df['value'] = summary_dct[summary_table_name]['count'].copy()
            summaries_tableau_df = pd.concat([summaries_tableau_df,temp_df])
            print(summary_table_name,':table added',temp_df.shape[0],'rows added')
    return summaries_tableau_df

In [93]:
county_summaries_tableau_df_otp = tableau_stack_data_format_county(lst_of_county_dcts)

derived_loan_product_type :table added 15 rows added
loan_type :table added 12 rows added
loan_purpose :table added 18 rows added
lien_status :table added 6 rows added
open_end_line_of_credit :table added 9 rows added
business_or_commercial_purpose :table added 9 rows added
debt_to_income_ratio :table added 24 rows added
applicant_credit_score_type :table added 33 rows added
applicant_sex :table added 15 rows added
applicant_age :table added 24 rows added
loan_amount :table added 3 rows added
interest_rate :table added 3 rows added
origination_charges :table added 3 rows added
DeliveryMethod :table added 15 rows added
CongressionalDistrict :table added 15 rows added
BusinessType :table added 9 rows added
BusinessAge :table added 14 rows added
Total loan amount :table added 3 rows added
SBAGuaranteedApproval :table added 3 rows added
InitialInterestRate :table added 3 rows added
TermInMonths :table added 3 rows added
JobsSupported :table added 3 rows added

In [95]:
county_summaries_tableau_df_otp

,county_code,data_source,variable_name,variable_type,categorical_level,value_type,value
0,Collin County,HMDA,derived_loan_product_type,categorical,Conventional:First Lien,count,26380.0
1,Collin County,HMDA,derived_loan_product_type,categorical,Conventional:Subordinate Lien,count,4229.0
2,Collin County,HMDA,derived_loan_product_type,categorical,FHA:First Lien,count,1993.0
3,Collin County,HMDA,derived_loan_product_type,categorical,VA:First Lien,count,1172.0
4,Collin County,HMDA,derived_loan_product_type,categorical,Other,count,35.0
...,...,...,...,...,...,...,...
1,Dallas County,SBA,TermInMonths,numeric,,median,120.0
2,Tarrant County,SBA,TermInMonths,numeric,,median,120.0
0,Collin County,SBA,JobsSupported,numeric,,median,7.0
1,Dallas County,SBA,JobsSupported,numeric,,median,7.0
2,Tarrant County,SBA,JobsSupported,numeric,,median,8.0

## Export the long format ffiec summary table to Excel

In [161]:
# hmda sba large table 
excel_output_file = "ffiec_data_summary_long_format.xlsx"

with pd.ExcelWriter(excel_output_file) as writer:
    sheet_name = 'ffiec_data_summary_long_format'
    print(f"Exporting results for {sheet_name}")  
    
    # Insert the item label into the A1 cell in the worksheet
    item_label = pd.Series(sheet_name).to_frame()
    item_label.to_excel(writer, sheet_name=sheet_name, startcol=0, startrow=0, index = False, header = False) 
    
    # Insert the dataframe
    ffiec_data_summary_long_format.to_excel(writer, sheet_name=sheet_name, startcol=3, startrow=0)

Exporting results for ffiec_data_summary_long_format

# **Loan Characteristics (HMDA)**

## Categorical

In [121]:
# derived_loan_product_type
hmda_dict_lar_df[['derived_loan_product_type']].value_counts(normalize = True, dropna = False)

derived_loan_product_type
Conventional:First Lien          0.740347
Conventional:Subordinate Lien    0.115593
FHA:First Lien                   0.100996
VA:First Lien                    0.042483
Other                            0.000582
Name: proportion, dtype: float64

In [122]:
# loan_type
hmda_dict_lar_df[['loan_type']].value_counts(normalize = True, dropna = False)

loan_type
Conventional (not insured or guaranteed by FHA, VA, RHS, or FSA)             0.855939
Federal Housing Administration insured (FHA)                                 0.101056
Veterans Affairs guaranteed (VA)                                             0.042483
USDA Rural Housing Service or Farm Service Agency guaranteed (RHS or FSA)    0.000521
Name: proportion, dtype: float64

In [123]:
# loan_purpose
hmda_dict_lar_df[['loan_purpose']].value_counts(normalize = True, dropna = False)

loan_purpose
Home purchase           0.545263
Cash-out refinancing    0.208951
Refinancing             0.121561
Home improvement        0.060241
Other purpose           0.054930
Not applicable          0.009053
Name: proportion, dtype: float64

In [124]:
# lien_status
hmda_dict_lar_df[['lien_status']].value_counts(normalize = True, dropna = False)

lien_status
Secured by a first lien          0.884231
Secured by a subordinate lien    0.115769
Name: proportion, dtype: float64

In [125]:
# open_end_line_of_credit
hmda_dict_lar_df[['open_end_line_of_credit']].value_counts(normalize = True, dropna = False)

open_end_line_of_credit
Not an open-end line of credit    0.895795
Open-end line of credit           0.097117
Exempt                            0.007088
Name: proportion, dtype: float64

In [126]:
# business_or_commercial_purpose
hmda_dict_lar_df[['business_or_commercial_purpose']].value_counts(normalize = True, dropna = False)

business_or_commercial_purpose
Not primarily for a business or commercial purpose    0.943128
Primarily for a business or commercial purpose        0.050165
Exempt                                                0.006707
Name: proportion, dtype: float64

## Numeric

In [127]:
# loan_amount
hmda_dict_lar_df['loan_amount'].describe()

count    2.492980e+05
mean     3.861450e+05
std      3.777388e+06
min      5.000000e+03
25%      1.650000e+05
50%      2.750000e+05
75%      4.050000e+05
max      6.939250e+08
Name: loan_amount, dtype: float64

In [128]:
# loan_amount 
hmda_dict_lar_df['loan_amount'].isnull().sum()

0

In [129]:
# interest_rate na value count
hmda_dict_lar_df['interest_rate'].replace('Exempt', np.nan).apply(float).describe()

count    157056.000000
mean          4.900759
std           1.565570
min           0.000000
25%           3.875000
50%           4.875000
75%           5.875000
max          14.450000
Name: interest_rate, dtype: float64

In [130]:
# interest_rate na value count
hmda_dict_lar_df[['interest_rate']].replace('Exempt', np.nan).isnull().sum()

interest_rate    92242
dtype: int64

In [131]:
# origination_charges
hmda_dict_lar_df['origination_charges'].replace('Exempt', np.nan).apply(float).describe()

count    125553.000000
mean       3312.992538
std        3701.652508
min           0.000000
25%        1055.000000
50%        2044.500000
75%        4680.000000
max       99480.000000
Name: origination_charges, dtype: float64

In [132]:
# origination_charges na value count
hmda_dict_lar_df[['origination_charges']].replace('Exempt', np.nan).isnull().sum()

origination_charges    123745
dtype: int64

# **Borrower characteristics (HMDA)**

## Categorical

In [133]:
# debt_to_income_ratio
hmda_dict_lar_df['debt_to_income_ratio'].value_counts(normalize = True, dropna = False)

debt_to_income_ratio
NaN         0.388387
30%-<36%    0.092387
20%-<30%    0.089559
50%-60%     0.048957
>60%        0.035752
<20%        0.034597
44          0.028476
42          0.026226
49          0.024641
43          0.024409
41          0.023213
40          0.022082
39          0.021288
38          0.020746
45          0.020313
48          0.019250
37          0.018917
36          0.018147
47          0.017738
46          0.017453
Exempt      0.007461
Name: proportion, dtype: float64

In [134]:
# applicant_credit_score_type
hmda_dict_lar_df['applicant_credit_score_type'].value_counts(normalize = True, dropna = False)

applicant_credit_score_type
Not applicable                        0.419185
Equifax Beacon 5.0                    0.190563
Experian Fair Isaac                   0.154157
FICO Risk Score Classic 04            0.149452
Other credit scoring model            0.054377
More than one credit scoring model    0.017758
Exempt                                0.007465
VantageScore 3.0                      0.003859
FICO Risk Score Classic 98            0.001825
VantageScore 2.0                      0.000718
NaN                                   0.000642
Name: proportion, dtype: float64

In [135]:
# applicant_sex
hmda_dict_lar_df['applicant_sex'].value_counts(normalize = True, dropna = False)

applicant_sex
Male                                                                                 0.523723
Female                                                                               0.271555
Not applicable                                                                       0.131457
Information not provided by applicant in mail, internet, or telephone application    0.072692
Applicant selected both male and female                                              0.000574
Name: proportion, dtype: float64

In [136]:
# applicant_age
hmda_dict_lar_df['applicant_age'].value_counts(normalize = True, dropna = False)

applicant_age
35-44    0.252288
45-54    0.196030
25-34    0.190014
55-64    0.121850
8888     0.101389
65-74    0.059860
8888     0.034501
>74      0.023867
<25      0.020201
Name: proportion, dtype: float64

# **Loan characteristics (SBA)**

## Categorical

In [137]:
sba_data['DeliveryMethod'].value_counts(normalize = True, dropna = False)

DeliveryMethod
Preferred Lender Program    0.695808
SBA Express                 0.203593
Other 7(a) Loan             0.065868
Community Advantage         0.026347
Other                       0.008383
Name: proportion, dtype: float64

In [138]:
sba_data['NaicsDescription'].value_counts(normalize = True, dropna = False)

NaicsDescription
Other                                      0.479042
NaN                                        0.088623
Full-Service Restaurants                   0.052695
Limited-Service Restaurants                0.046707
Fitness and Recreational Sports Centers    0.021557
                                             ...
Home Health Care Services                  0.009581
Commercial Gravure Printing                0.009581
Landscaping Services                       0.009581
Car Washes                                 0.009581
Tax Preparation Services                   0.009581
Name: proportion, Length: 29, dtype: float64

In [139]:
sba_data['CongressionalDistrict'].value_counts(normalize = True, dropna = False)

CongressionalDistrict
District 3     0.269461
District 24    0.191617
District 12    0.147305
District 6     0.126946
District 30    0.119760
District 5     0.086228
District 32    0.035928
District 4     0.016766
District 33    0.005988
Name: proportion, dtype: float64

In [140]:
sba_data['BusinessType'].value_counts(normalize = True, dropna = False)

BusinessType
CORPORATION    0.968862
INDIVIDUAL     0.025150
PARTNERSHIP    0.005988
Name: proportion, dtype: float64

In [141]:
sba_data['BusinessAge'].value_counts(normalize = True, dropna = False)

BusinessAge
Existing or more than 2 years old         0.404790
Startup, Loan Funds will Open Business    0.256287
New Business or 2 years or less           0.211976
Change of Ownership                       0.124551
Unanswered                                0.002395
Name: proportion, dtype: float64

## Numeric

In [142]:
sba_data['Total loan amount'].describe()

count    8.350000e+02
mean     8.003880e+05
std      1.015572e+06
min      5.000000e+03
25%      1.512500e+05
50%      4.000000e+05
75%      1.000000e+06
max      5.000000e+06
Name: Total loan amount, dtype: float64

In [143]:
sba_data['SBAGuaranteedApproval'].describe()

count    8.350000e+02
mean     5.932510e+05
std      7.613289e+05
min      2.500000e+03
25%      1.275000e+05
50%      2.625000e+05
75%      7.500000e+05
max      3.750000e+06
Name: SBAGuaranteedApproval, dtype: float64

In [144]:
sba_data['InitialInterestRate'].describe()

count    835.000000
mean       6.919662
std        1.849849
min        0.000000
25%        5.500000
50%        6.500000
75%        8.250000
max       12.750000
Name: InitialInterestRate, dtype: float64

In [145]:
sba_data['TermInMonths'].describe()

count    835.000000
mean     156.210778
std       80.091606
min        1.000000
25%      120.000000
50%      120.000000
75%      126.000000
max      321.000000
Name: TermInMonths, dtype: float64

In [146]:
sba_data['JobsSupported'].describe()

count    835.000000
mean      14.365269
std       25.119942
min        0.000000
25%        4.000000
50%        7.000000
75%       16.000000
max      300.000000
Name: JobsSupported, dtype: float64

# **FFIEC Analysis**

In [104]:
ffiec_data.groupby(['CRA poverty criteria','Income indicator, which identifies low, moderate, middle, and upper income areas'])\
['Tract median family income as a percentage of the MSA/MD median family income. 2 decimal places, truncated.']\
.describe().reset_index()[['CRA poverty criteria',\
                           'Income indicator, which identifies low, moderate, middle, and upper income areas',\
                           'min','max']].sort_values(by = ['CRA poverty criteria',\
                           'Income indicator, which identifies low, moderate, middle, and upper income areas'], ascending = False)

,CRA poverty criteria,"Income indicator, which identifies low, moderate, middle, and upper income areas",min,max
4,No,4.0,120.48,302.48
3,No,3.0,80.01,119.93
2,No,2.0,50.09,79.96
1,No,1.0,24.88,49.95
0,No,0.0,0.00,0.00

# Appendix

In [79]:
#ffiec_hmda_sba_intermed_df.columns

In [80]:
# ffiec_hmda_sba_sub1 = ffiec_hmda_sba_intermed_df[['County', 'Census tract', 'Total persons', 'Total families','Total households', \
#                             'Income indicator, which identifies low, moderate, middle, and upper income areas', \
#                             'county_code', 'census_tract',\
#                             'lei_count', 'county_final', '_tract', 'Borrower identifier']]

In [81]:
# ffiec_hmda_sba_sub1

In [82]:
#ffiec_hmda_sba_sub1.groupby(ffiec_hmda_sba_sub1.columns.to_list(), as_index = False).size()

In [83]:
# ffiec_hmda_sba_sub2 = ffiec_hmda_sba_intermed_df[['County','Census tract','Race_Ethnicity', 'proportion']]

In [173]:
# ffiec_hmda_sba_sub2[(ffiec_hmda_sba_sub2['County'] == 'Collin County') & (ffiec_hmda_sba_sub2['Census tract'] == '0301.02')]

In [174]:
# #ffiec_hmda_sba_sub2 =
# ffiec_hmda_sba_sub2.groupby(['County','Census tract','Race_Ethnicity']).first().unstack()#.reset_index().set_index(['County','Census tract'])

In [175]:
# ffiec_hmda_sba_sub2

In [176]:
# pd.merge(ffiec_hmda_sba_sub1, ffiec_hmda_sba_sub2, left_on = ['County','Census tract'], right_on = ['County','Census tract'], how = 'left')